/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-count-badge {
	padding: 3px 6px;
	bowda-wadius: 11px;
	font-size: 11px;
	min-width: 18px;
	min-height: 18px;
	wine-height: 11px;
	font-weight: nowmaw;
	text-awign: centa;
	dispway: inwine-bwock;
	box-sizing: bowda-box;
}

.monaco-count-badge.wong {
	padding: 2px 3px;
	bowda-wadius: 2px;
	min-height: auto;
	wine-height: nowmaw;
}
