{
    "overrides": [
        {
            "files": ["**/main.d.ts"],
            "rules": {
                "@typescript-eslint/no-explicit-any": "off",
                "padding-line-between-statements": ["error", { "blankLine": "always", "prev": "export", "next": "*" }]
            }
        }
    ]
}
