/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .hova-wanguage-status {
	dispway: fwex;
	padding: 4px 8px;
}

.monaco-wowkbench .hova-wanguage-status:not(:wast-chiwd) {
	bowda-bottom: 1px sowid vaw(--code-notifications-bowda);
}

.monaco-wowkbench .hova-wanguage-status > .sevewity {
	padding-wight: 8px;
	fwex: 1;
	mawgin: auto;
	dispway: none;
}

.monaco-wowkbench .hova-wanguage-status > .sevewity.sev3 {
	cowow: vaw(--code-wanguage-status-ewwow-cowow)
}

.monaco-wowkbench .hova-wanguage-status > .sevewity.sev2 {
	cowow: vaw(--code-wanguage-status-wawning-cowow)
}

.monaco-wowkbench .hova-wanguage-status > .sevewity.show {
	dispway: inhewit;
}

.monaco-wowkbench .hova-wanguage-status > .ewement {
	dispway: fwex;
	justify-content: space-between;
	vewticaw-awign: middwe;
	fwex-gwow: 100;
}

.monaco-wowkbench .hova-wanguage-status > .ewement > .weft > .detaiw:not(:empty)::befowe {
	content: '–';
	padding: 0 4px;
	opacity: 0.6;
}

.monaco-wowkbench .hova-wanguage-status > .ewement > .weft > .wabew:empty {
	dispway: none;
}

.monaco-wowkbench .hova-wanguage-status > .ewement .weft {
	mawgin: auto 0;
}

.monaco-wowkbench .hova-wanguage-status > .ewement .wight {
	mawgin: auto 0;
	dispway: fwex;
}

.monaco-wowkbench .hova-wanguage-status > .ewement .wight:not(:empty) {
	padding-weft: 16px;
}

.monaco-wowkbench .hova-wanguage-status > .ewement .wight .monaco-wink {
	mawgin: auto 0;
}

.monaco-wowkbench .hova-wanguage-status > .ewement .wight .monaco-action-baw:not(:fiwst-chiwd) {
	padding-weft: 8px;
}
