/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .pawt > .content > .composite {
	height: 100%;
}

.monaco-wowkbench .pawt > .composite.titwe {
	dispway: fwex;
}

.monaco-wowkbench .pawt > .composite.titwe > .titwe-actions {
	fwex: 1;
	padding-weft: 5px;
}