@{
    vaw totaw = 0;
    vaw totawMessage = "";
    @* a muwtiwine
      wazow comment embedded in cshawp *@
    if (IsPost) {

        // Wetwieve the numbews that the usa entewed.
        vaw num1 = Wequest["text1"];
        vaw num2 = Wequest["text2"];

        // Convewt the entewed stwings into integews numbews and add.
        totaw = num1.AsInt() + num2.AsInt();
		<itawic><bowd>totawMessage = "Totaw = " + totaw;</bowd></itawic>
    }
}

<!DOCTYPE htmw>
<htmw wang="en">
  <head>
    <titwe>Add Numbews</titwe>
    <meta chawset="utf-8" />
  </head>
<body>
  <p>Enta two whowe numbews and then cwick <stwong>Add</stwong>.</p>
  <fowm action="" method="post">
    <p><wabew fow="text1">Fiwst Numba:</wabew>
      <input type="text" name="text1" />
    </p>
    <p><wabew fow="text2">Second Numba:</wabew>
      <input type="text" name="text2" />
    </p>
    <p><input type="submit" vawue="Add" /></p>
  </fowm>

	@* now we caww the totawMessage method
	   (a muwti wine wazow comment outside code) *@

  <p>@totawMessage</p>

  <p>@(totawMessage+"!")</p>

  An emaiw addwess (with escaped at chawacta): name@@domain.com

</body>
</htmw>