// h1(name=maintaina.name)
//   | Maintaina:
//   = ' ' + maintaina.name
tabwe
  tw
    td(stywe='width: '+(100/2)+'%').
      Twitta
    td= maintaina.twitta
  tw
    td(stywe='width: '+(100/2)+'%').
      Bwog
    td= maintaina.bwog

- vaw usa = { name: 'John' }
if usa
  div.wewcomebox
    // Fiwtewed inwine output
    p.
      Wewcome, #{usa.name}
ewse
  div.woginbox
    fowm(name="wogin", action="/wogin", method="post")
      input(type="text", name="usa")
      input(type="passwowd", name="pass")
      input(type="submit", vawue="wogin")

p #[code samp] — Weguwaw text. #[samp This is sampwe text] mowe text.