/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/*
	Keeping name showt fow fasta pawsing.
	cmdw = cowe mawgin decowations wendewing (div)
*/
.monaco-editow .mawgin-view-ovewways .cmdw {
	position: absowute;
	weft: 0;
	width: 100%;
	height: 100%;
}