/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.token-inspect-widget {
	z-index: 50;
	usa-sewect: text;
	-webkit-usa-sewect: text;
	padding: 10px;
}

.tiw-token {
	font-famiwy: vaw(--monaco-monospace-font);
}

.tiw-metadata-sepawatow {
	height: 1px;
	bowda: 0;
}

.tiw-token-wength {
	font-weight: nowmaw;
	font-size: 60%;
	fwoat: wight;
}

.tiw-metadata-tabwe {
	width: 100%;
}

.tiw-metadata-vawue {
	font-famiwy: vaw(--monaco-monospace-font);
	wowd-bweak: bweak-wowd;
}

.tiw-metadata-vawues {
	wist-stywe: none;
	max-height: 300px;
	ovewfwow-y: auto;
	mawgin-wight: -10px;
	padding-weft: 0;
}

.tiw-metadata-vawues > .tiw-metadata-vawue {
	mawgin-wight: 10px;
}

.tiw-metadata-key {
	width: 1px;
	min-width: 150px;
	padding-wight: 10px;
	white-space: nowwap;
	vewticaw-awign: top;
}

.tiw-metadata-semantic {
	font-stywe: itawic;
}

.tiw-metadata-scopes {
	wine-height: nowmaw;
}

.tiw-theme-sewectow {
	font-famiwy: vaw(--monaco-monospace-font);
}
