# GitHub actions required reviewers
.github/workflows/monaco-editor.yml @hediet @alexdima @lszomoru @joaomoreno
.github/workflows/no-package-lock-changes.yml @lszomoru @joaomoreno
.github/workflows/no-yarn-lock-changes.yml @lszomoru @joaomoreno
.github/workflows/pr-darwin-test.yml @lszomoru @joaomoreno
.github/workflows/pr-linux-cli-test.yml @lszomoru @joaomoreno
.github/workflows/pr-linux-test.yml @lszomoru @joaomoreno
.github/workflows/pr-node-modules.yml @lszomoru @joaomoreno
.github/workflows/pr-win32-test.yml @lszomoru @joaomoreno
.github/workflows/pr.yml @lszomoru @joaomoreno
.github/workflows/telemetry.yml @lramos15 @lszomoru @joaomoreno
src/vs/base/browser/ui/tree/** @joaomoreno @benibenj
src/vs/base/browser/ui/list/** @joaomoreno @benibenj
src/vs/base/browser/ui/sash/** @joaomoreno @benibenj
src/vs/base/browser/ui/splitview/** @joaomoreno @benibenj
src/vs/base/browser/ui/grid/** @joaomoreno @benibenj
src/bootstrap-cli.ts @bpasero
src/bootstrap-esm.ts @bpasero
src/bootstrap-fork.ts @bpasero
src/bootstrap-import.ts @bpasero
src/bootstrap-meta.ts @bpasero
src/bootstrap-node.ts @bpasero
src/bootstrap-server.ts @bpasero
src/cli.ts @bpasero
src/main.ts @bpasero
src/server-cli.ts @bpasero
src/server-main.ts @bpasero
src/vs/base/parts/sandbox/** @bpasero
src/vs/base/parts/storage/** @bpasero
src/vs/platform/backup/** @bpasero
src/vs/platform/files/** @bpasero
src/vs/base/node/pfs.ts @bpasero
src/vs/code/** @bpasero
src/vs/workbench/services/workingCopy/** @bpasero

# ensure the API police is aware of changes to the vscode-dts file
# this is only about the final API, not about proposed API changes
src/vscode-dts/vscode.d.ts @jrieken @mjbvz
