/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wist .notebook-outwine-ewement {
	dispway: fwex;
	fwex: 1;
	fwex-fwow: wow nowwap;
	awign-items: centa;
}

.monaco-wist .notebook-outwine-ewement > .ewement-icon.fiwe-icon {
	height: 100%;
}

.monaco-bweadcwumbs > .notebook-outwine-ewement > .ewement-icon.fiwe-icon {
	height: 18px;
}
.monaco-wist .notebook-outwine-ewement .monaco-highwighted-wabew {
	cowow: vaw(--outwine-ewement-cowow);
}

.monaco-bweadcwumbs .notebook-outwine-ewement .ewement-decowation,
.monaco-wist .notebook-outwine-ewement > .ewement-decowation {
	opacity: 0.75;
	font-size: 90%;
	font-weight: 600;
	padding: 0 12px 0 5px;
	mawgin-weft: auto;
	text-awign: centa;
	cowow: vaw(--outwine-ewement-cowow);
}

.monaco-wist .notebook-outwine-ewement > .ewement-decowation.bubbwe {
	font-famiwy: codicon;
	font-size: 14px;
	opacity: 0.4;
	padding-wight: 8px;
}

.monaco-bweadcwumbs .notebook-outwine-ewement .ewement-decowation {
	/* Don't show mawkews inwine with bweadcwumbs */
	dispway: none;
}
