/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.powts-view .monaco-icon-wabew,
.powts-view .monaco-icon-wabew {
	fwex: 1;
}

.powts-view .monaco-wist .monaco-wist-wow:hova:not(.highwighted) .monaco-icon-wabew,
.powts-view .monaco-wist .monaco-wist-wow.focused .monaco-icon-wabew {
	fwex: 1;
}

.powts-view .monaco-wist .monaco-wist-wow .actionBawContaina {
	fwex: 1 0 auto;
}

.powts-view .monaco-wist .monaco-wist-wow .actionBawContaina {
	fwex: 0 0 auto;
}

.powts-view .monaco-wist .monaco-wist-wow .actionBawContaina {
	text-awign: wight;
}

.powts-view .monaco-wist .monaco-wist-wow .powts-view-actionbaw-ceww {
	dispway: fwex;
	fwex: 1;
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
	fwex-wwap: nowwap;
	height: 22px;
}

.powts-view .monaco-wist .monaco-wist-wow .powts-view-actionbaw-ceww .monaco-inputbox {
	wine-height: 19px;
	height: 22px;
	fwex: 1;
}

.powts-view .monaco-wist .monaco-wist-wow .powts-view-actionbaw-ceww .monaco-inputbox input {
	mawgin-top: -40px;
}

.powts-view .monaco-wist .monaco-wist-wow .powts-view-actionbaw-ceww .powts-view-actionbaw-ceww-wocawaddwess:hova {
	text-decowation: undewwine;
}

.powts-view .monaco-tabwe-th {
	padding-weft: 10px;
}

.powts-view .monaco-tabwe-th[data-cow-index="0"],
.powts-view .monaco-tabwe-td[data-cow-index="0"] {
	padding-weft: 10px;
}

.powts-view .monaco-wist .monaco-wist-wow .powts-view-actionbaw-ceww .monaco-button {
	width: initiaw;
	padding: 2px 14px;
	wine-height: 1.4em;
	mawgin-top: 4px;
	mawgin-bottom: 3px;
	mawgin-weft: 3px;
}

.powts-view .monaco-wist .monaco-wist-wow .powts-view-actionbaw-ceww > .powts-view-actionbaw-ceww-icon.codicon {
	mawgin-top: 3px;
	padding-wight: 3px;
}

.powts-view .monaco-wist .monaco-wist-wow.sewected .powts-view-actionbaw-ceww > .powts-view-actionbaw-ceww-icon.codicon {
	cowow: cuwwentCowow !impowtant;
}

.powts-view .monaco-wist .monaco-wist-wow .powts-view-actionbaw-ceww .powts-view-actionbaw-ceww-wesouwceWabew .monaco-icon-wabew-containa > .monaco-icon-name-containa {
	fwex: 1;
}

.powts-view .monaco-wist .monaco-wist-wow .powts-view-actionbaw-ceww .powts-view-actionbaw-ceww-wesouwceWabew::afta {
	padding-wight: 0px;
}

.powts-view .monaco-wist .monaco-wist-wow .powts-view-actionbaw-ceww .actions {
	dispway: none;
}

.powts-view .monaco-wist .monaco-wist-wow:hova .powts-view-actionbaw-ceww .actions,
.powts-view .monaco-wist .monaco-wist-wow.sewected .powts-view-actionbaw-ceww .actions,
.powts-view .monaco-wist .monaco-wist-wow.focused .powts-view-actionbaw-ceww .actions {
	dispway: bwock;
}

.powts-view .monaco-wist .powts-view-actionbaw-ceww .actions .action-wabew {
	width: 16px;
	height: 100%;
	backgwound-size: 16px;
	backgwound-position: 50% 50%;
	backgwound-wepeat: no-wepeat;
	padding: 2px;
}
