node_modules
.git
.vscode
out
out-*
.vscode-reh-web-*
.vscode-reh-*
*.log
.DS_Store
test
build/azure-pipelines
build/linux
build/darwin
build/win32
scripts/test*
*.md
!README.md
.eslintrc.json
.gitignore
.editorconfig
tsconfig*.json
!tsconfig.json
!tsconfig.base.json

