# Auto-detect text files
* text=auto

# Some source files are edited with LF endings by everyone
.editorconfig eol=lf
.eslintrc eol=lf
.gitignore eol=lf
.mention-bot eol=lf
COMMIT_EDITMSG eol=lf
Dockerfile eol=lf
git-rebase-todo eol=lf
LICENSE eol=lf
makefile eol=lf
*.c eol=lf
*.cc eol=lf
*.clj eol=lf
*.coffee eol=lf
*.cpp eol=lf
*.cs eol=lf
*.cshtml eol=lf
*.css eol=lf
*.desktop eol=lf
*.diff eol=lf
*.fs eol=lf
*.go eol=lf
*.groovy eol=lf
*.handlebars eol=lf
*.hbs eol=lf
*.hlsl eol=lf
*.html eol=lf
*.ini eol=lf
*.java eol=lf
*.js eol=lf
*.json eol=lf
*.jsx eol=lf
*.less eol=lf
*.lua eol=lf
*.m eol=lf
*.md eol=lf
*.opts eol=lf
*.php eol=lf
*.pl eol=lf
*.plist eol=lf
*.pug eol=lf
*.py eol=lf
*.r eol=lf
*.rb eol=lf
*.recipe eol=lf
*.rs eol=lf
*.scss eol=lf
*.shader eol=lf
*.sql eol=lf
*.svg eol=lf
*.swift eol=lf
*.template eol=lf
*.tmLanguage eol=lf
*.tmLanguage.base eol=lf
*.tmTheme eol=lf
*.ts eol=lf
*.ts.disabled eol=lf
*.tsx eol=lf
*.txt eol=lf
*.vb eol=lf
*.vscodeignore eol=lf
*.xml eol=lf
*.xpm eol=lf
*.yaml eol=lf
*.yml eol=lf

# Some source files are edited with CRLF endings by everyone
LICENSE.txt eol=crlf
ThirdPartyNotices.txt eol=crlf
*.isl eol=crlf
*.iss eol=crlf
*.jxs eol=crlf

# Some scripts require specific endings, others use specific in vscode
*.bat eol=lf
*.cmd eol=crlf
*.ps1 eol=lf
*.sh eol=lf

# Special cases that use LF
/extensions/theme-seti/thirdpartynotices.txt eol=lf

# Special cases that use CRLF
/.vscode/settings.json eol=crlf
/extensions/css/server/.vscode/launch.json eol=crlf
/extensions/git/resources/icons/light/open-file.svg eol=crlf
/extensions/html/server/.vscode/launch.json eol=crlf
/extensions/json/server/.vscode/launch.json eol=crlf
/extensions/markdown/media/ViewSource.svg eol=crlf
/extensions/vscode-api-tests/.vscodeignore eol=crlf
/extensions/yaml/.gitignore eol=crlf
/scripts/code.bat eol=crlf
/scripts/npm.bat eol=crlf
/src/vs/base/test/node/extfs/fixtures/index.html eol=crlf
/src/vs/base/test/node/mime/fixtures/some.cp1252.txt eol=crlf
/src/vs/base/test/node/mime/fixtures/some.css.qwoff eol=crlf
/src/vs/base/test/node/mime/fixtures/some.json.png eol=crlf
/src/vs/base/test/node/mime/fixtures/some.xml.png eol=crlf
/src/vs/editor/contrib/find/browser/images/cancelSelectionFind-inverse.svg eol=crlf
/src/vs/editor/contrib/find/browser/images/next.svg eol=crlf
/src/vs/editor/contrib/find/browser/images/next-inverse.svg eol=crlf
/src/vs/editor/contrib/find/browser/images/previous.svg eol=crlf
/src/vs/editor/contrib/find/browser/images/previous-inverse.svg eol=crlf
/src/vs/editor/contrib/find/browser/images/replace.svg eol=crlf
/src/vs/editor/contrib/find/browser/images/replace-all.svg eol=crlf
/src/vs/editor/contrib/find/browser/images/replace-all-inverse.svg eol=crlf
/src/vs/editor/contrib/find/browser/images/replace-inverse.svg eol=crlf
/src/vs/workbench/browser/parts/editor/media/stackview.svg eol=crlf
/src/vs/workbench/browser/parts/editor/media/stackview-inverse.svg eol=crlf
/src/vs/workbench/parts/debug/browser/media/continue.svg eol=crlf
/src/vs/workbench/parts/extensions/browser/media/EmptyStar.svg eol=crlf
/src/vs/workbench/parts/extensions/browser/media/FullStarLight.svg eol=crlf
/src/vs/workbench/parts/extensions/browser/media/HalfStarLight.svg eol=crlf
/src/vs/workbench/parts/extensions/electron-browser/media/extensions-dark.svg eol=crlf
/src/vs/workbench/parts/files/browser/media/AddFile_inverse.svg eol=crlf
/src/vs/workbench/parts/files/browser/media/AddFolder_inverse.svg eol=crlf
/src/vs/workbench/parts/search/browser/media/replace.svg eol=crlf
/src/vs/workbench/parts/search/browser/media/replace-all.svg eol=crlf
/src/vs/workbench/parts/search/browser/media/replace-all-inverse.svg eol=crlf
/src/vs/workbench/parts/search/browser/media/replace-inverse.svg eol=crlf
/src/vs/workbench/parts/terminal/electron-browser/media/next.svg eol=crlf
/src/vs/workbench/parts/terminal/electron-browser/media/next-inverse.svg eol=crlf
/src/vs/workbench/parts/terminal/electron-browser/media/previous.svg eol=crlf
/src/vs/workbench/parts/terminal/electron-browser/media/previous-inverse.svg eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/resolver/examples/company.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/resolver/examples/conway.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/resolver/examples/employee.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/resolver/examples/small.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/resolver/other/deep/company.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/resolver/other/deep/conway.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/resolver/other/deep/employee.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/resolver/other/deep/small.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/resolver/index.html eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/service/deep/company.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/service/deep/conway.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/service/deep/employee.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/service/deep/small.js eol=crlf
/src/vs/workbench/services/files/test/node/fixtures/service/index.html eol=crlf
/src/vs/workbench/services/search/test/node/fixtures/examples/company.js eol=crlf
/src/vs/workbench/services/search/test/node/fixtures/examples/employee.js eol=crlf
/src/vs/workbench/services/search/test/node/fixtures/examples/NullPoinderException.js eol=crlf
/src/vs/workbench/services/search/test/node/fixtures/examples/small.js eol=crlf
/src/vs/workbench/services/search/test/node/fixtures/index.html eol=crlf
/src/vs/workbench/services/search/test/node/fixtures/site.css eol=crlf

/.gitignore eol=crlf
