* text=auto
LICENSE.txt eol=crlf
ThirdPartyNotices.txt eol=crlf
*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=lf
*.sh eol=lf
*.rtf -text
**/*.json linguist-language=jsonc

# Icon binaries under resources/ are large and need to be versioned with Git LFS
resources/*.png filter=lfs diff=lfs merge=lfs -text
