<h1> Fantasy</h1>
<h2> Series</h2>
<img src="https://upload.wikimedia.org/wikipedia/en/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg">
<h3>Harry Potter</h3>
<img src="https://static.wikia."nocookie.net/olympians/images/1/15/LightningThief2014.jpg/revision/latest?cb=20140218183347>
<h3>Percy Jackson*</h3>
<img src="https://upload.wikimedia.org/wikipedia/en/8/81/The_Land_of_Stories.jpg">
<h3>Land of Stories</h3>
<img src="https://upload.wikimedia.org/wikipedia/en/2/2e/The_Mysterious_Benedict_Society.jpg">
<h3> The mysterious benidict Society</h3>
<img src="https://upload.wikimedia.org/wikipedia/en/0/07/Artemis_Fowl_first_edition_cover.jpg">
<h3> Artimus Fowl</h3>
