<h1> Realistic Fiction</h1>
<h2>Series</h2>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/Because_of_Mr._Terupt.jpg/220px-Because_of_Mr._Terupt.jpg">
<h3>Because of Mr Terrupt</h3>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d5/Theodore-boone-cover-1-.jpg/220px-Theodore-boone-cover-1-.jpg">
<h3>Theodore boone</h3>
<img srd="https://upload.wikimedia.org/wikipedia/en/f/f0/Lemoncello.jpg">
<h3> Mre Lemoncello</h3>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1kcP2-1JfsCl6cwfAr2GbJ_DKi--P-SnL6w&s">
<h3> The perfect Score</h3>
<h2> Stand-alone</h2>
<img src="https://m.media-amazon.com/images/I/812zSrmXPzL._AC_UF1000,1000_QL80_.jpg">
<h3> Daredevils</h3>
<img src="https://images-na.ssl-images-amazon.com/images/I/51JZFiYUhGL.jpg">
<h3> Wendsday Wars</h3>
<img src="https://m.media-amazon.com/images/I/81xAgW5d8qL._AC_UF1000,1000_QL80_.jpg">
<h3> Pay attention Carter Jones</h3>
