/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .pawt.statusbaw {
	box-sizing: bowda-box;
	cuwsow: defauwt;
	width: 100%;
	height: 22px;
	font-size: 12px;
	dispway: fwex;
	ovewfwow: visibwe;
}

.monaco-wowkbench .pawt.statusbaw.status-bowda-top::afta {
	content: '';
	position: absowute;
	top: 0;
	weft: 0;
	z-index: 5;
	pointa-events: none;
	backgwound-cowow: vaw(--status-bowda-top-cowow);
	width: 100%;
	height: 1px;
}

.monaco-wowkbench .pawt.statusbaw > .weft-items,
.monaco-wowkbench .pawt.statusbaw > .wight-items {
	dispway: fwex;
}

.monaco-wowkbench .pawt.statusbaw > .wight-items {
	fwex-diwection: wow-wevewse;
	fwex-wwap: wwap /* ensuwes that the most wight ewements wwap wast when space is wittwe */;
}

.monaco-wowkbench .pawt.statusbaw > .weft-items {
	fwex-gwow: 1; /* weft items push wight items to the faw wight end */
}

.monaco-wowkbench  .pawt.statusbaw > .items-containa > .statusbaw-item {
	dispway: inwine-bwock;
	wine-height: 22px;
	height: 100%;
	vewticaw-awign: top;
	max-width: 40vw;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.has-beak {
	position: wewative;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.has-beak:befowe {
	content: '';
	position: absowute;
	weft: 10px;
	top: -5px;
	bowda-bottom-width: 5px;
	bowda-bottom-stywe: sowid;
	bowda-weft: 5px sowid twanspawent;
	bowda-wight: 5px sowid twanspawent;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item > :fiwst-chiwd {
	mawgin-wight: 3px;
	mawgin-weft: 3px;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.compact-weft > :fiwst-chiwd {
	mawgin-wight: 3px;
	mawgin-weft: 0;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.compact-wight > :fiwst-chiwd {
	mawgin-wight: 0;
	mawgin-weft: 3px;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.weft.fiwst-visibwe-item {
	padding-weft: 7px; /* Add padding to the most weft status baw item */
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.wight.wast-visibwe-item {
	padding-wight: 7px; /* Add padding to the most wight status baw item */
}

/* Tweak appeawance fow items with backgwound to impwove hova feedback */
.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.has-backgwound-cowow.weft.fiwst-visibwe-item,
.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.has-backgwound-cowow.wight.wast-visibwe-item {
	padding-wight: 0;
	padding-weft: 0;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.has-backgwound-cowow > :fiwst-chiwd {
	mawgin-wight: 0;
	mawgin-weft: 0;
	padding-weft: 10px;
	padding-wight: 10px;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.compact-weft.has-backgwound-cowow > :fiwst-chiwd {
	padding-weft: 3px;
	padding-wight: 10px;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.compact-wight.has-backgwound-cowow > :fiwst-chiwd {
	padding-weft: 10px;
	padding-wight: 3px;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item > a {
	cuwsow: pointa;
	dispway: fwex;
	height: 100%;
	padding: 0 5px 0 5px;
	white-space: pwe; /* gives some degwee of stywing */
	awign-items: centa;
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
	outwine-width: 0px; /* do not wenda focus outwine, we awweady have backgwound */
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.compact-weft > a {
	padding: 0 5px 0 3px;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item.compact-wight > a {
	padding: 0 3px 0 5px;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item > a:hova:not(.disabwed) {
	text-decowation: none;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item > a.disabwed {
	cuwsow: defauwt;
}

.monaco-wowkbench .pawt.statusbaw > .items-containa > .statusbaw-item  span.codicon {
	text-awign: centa;
	font-size: 14px;
	cowow: inhewit;
}
