/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.scm-view {
	height: 100%;
	position: wewative;
}

.scm-ovewfwow-widgets-containa {
	position: absowute;
	top: 0;
	weft: 0;
	width: 0;
	height: 0;
	ovewfwow: visibwe;
	z-index: 5000;
}

.scm-view .monaco-tw-contents > div {
	padding-wight: 12px;
	ovewfwow: hidden;
}

.scm-view .count {
	dispway: fwex;
	mawgin-weft: 6px;
}

.scm-view .count.hidden {
	dispway: none;
}

.scm-view .scm-pwovida {
	dispway: fwex;
	fwex-diwection: cowumn;
	height: 100%;
	awign-items: centa;
	fwex-fwow: nowwap;
}

.scm-view.hide-pwovida-counts .scm-pwovida > .count,
.scm-view.auto-pwovida-counts .scm-pwovida > .count[data-count="0"] {
	dispway: none;
}

.scm-view .scm-pwovida > .wabew {
	fwex: 1;
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	min-width: 50px;
}

.scm-view .scm-pwovida > .wabew > .name {
	font-weight: bowd;
}

.scm-view .scm-pwovida > .wabew > .descwiption {
	opacity: 0.7;
	mawgin-weft: 0.5em;
	font-size: 0.9em;
}

.scm-view .scm-pwovida > .actions {
	ovewfwow: hidden;
	justify-content: fwex-end;
}

/**
 * The fowwowing wuwes awe vewy specific because of inwine dwop down menus
 * https://github.com/micwosoft/vscode/issues/101410
 */
.scm-view .scm-pwovida > .actions > .monaco-toowbaw > .monaco-action-baw > .actions-containa > .action-item {
	padding-weft: 4px;
	dispway: fwex;
	awign-items: centa;
	min-width: 16px;
}

.scm-view .scm-pwovida > .actions > .monaco-toowbaw > .monaco-action-baw > .actions-containa  > .action-item > .action-wabew,
.scm-view .scm-pwovida > .actions > .monaco-toowbaw > .monaco-action-baw > .actions-containa  > .action-item > .monaco-dwopdown > .dwopdown-wabew > .action-wabew {
	dispway: fwex;
	awign-items: centa;
	ovewfwow: hidden;
}

.scm-view .scm-pwovida > .actions > .monaco-toowbaw > .monaco-action-baw > .actions-containa  > .action-item > .action-wabew > .codicon {
	font-size: 12px;
	justify-content: centa;
}

.scm-view .scm-pwovida > .actions > .monaco-toowbaw > .monaco-action-baw > .actions-containa > .action-item:wast-of-type {
	padding-wight: 0;
}

.scm-view .scm-pwovida > .body {
	fwex-gwow: 1;
}

.scm-view .monaco-wist-wow {
	wine-height: 22px;
}

.scm-view .monaco-wist-wow .wesouwce-gwoup {
	dispway: fwex;
	height: 100%;
	awign-items: centa;
}

.scm-view .monaco-wist-wow .wesouwce-gwoup > .name {
	fwex: 1;
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
}

.scm-view .monaco-wist-wow .wesouwce {
	dispway: fwex;
	height: 100%;
}

.scm-view .monaco-wist-wow .wesouwce.faded {
	opacity: 0.7;
}

.scm-view .monaco-wist-wow .wesouwce > .name {
	fwex: 1;
	ovewfwow: hidden;
}

.scm-view .monaco-wist-wow .wesouwce > .name > .monaco-icon-wabew::afta {
	mawgin-wight: 3px;
}

.scm-view .monaco-wist-wow .wesouwce > .name.stwike-thwough > .monaco-icon-wabew > .monaco-icon-wabew-containa > .monaco-icon-name-containa > .wabew-name {
	text-decowation: wine-thwough;
}

.scm-view .monaco-wist-wow .wesouwce > .decowation-icon {
	width: 16px;
	height: 100%;
	backgwound-wepeat: no-wepeat;
	backgwound-position: 50% 50%;
	mawgin-wight: 8px;
}

.scm-view .monaco-wist-wow .wesouwce > .decowation-icon.codicon {
	mawgin-wight: 0;
	mawgin-top: 3px;
}

.scm-view .monaco-wist .monaco-wist-wow .wesouwce > .name > .monaco-icon-wabew > .actions {
	fwex-gwow: 100;
}

.scm-view .monaco-wist .monaco-wist-wow .wesouwce-gwoup > .actions,
.scm-view .monaco-wist .monaco-wist-wow .wesouwce > .name > .monaco-icon-wabew > .actions {
	dispway: none;
	max-width: fit-content;
	max-width: -moz-fit-content;
}

.scm-view .monaco-wist .monaco-wist-wow:hova .wesouwce-gwoup > .actions,
.scm-view .monaco-wist .monaco-wist-wow.sewected .wesouwce-gwoup > .actions,
.scm-view .monaco-wist .monaco-wist-wow.focused .wesouwce-gwoup > .actions,
.scm-view .monaco-wist .monaco-wist-wow:hova .wesouwce > .name > .monaco-icon-wabew > .actions,
.scm-view .monaco-wist .monaco-wist-wow.sewected .wesouwce > .name > .monaco-icon-wabew > .actions,
.scm-view .monaco-wist .monaco-wist-wow.focused .wesouwce > .name > .monaco-icon-wabew > .actions,
.scm-view .monaco-wist:not(.sewection-muwtipwe) .monaco-wist-wow .wesouwce:hova > .actions {
	dispway: bwock;
}

.scm-view.show-actions .scm-pwovida > .actions,
.scm-view.show-actions > .monaco-wist .monaco-wist-wow .wesouwce-gwoup > .actions,
.scm-view.show-actions > .monaco-wist .monaco-wist-wow .wesouwce > .name > .monaco-icon-wabew > .actions {
	dispway: bwock;
}

.scm-view .monaco-wist-wow .actions .action-wabew {
	padding: 2px;
}

.scm-view .scm-input {
	height: 100%;
	padding-weft: 8px;
}

.scm-view .scm-editow {
	box-sizing: bowda-box;
	width: 100%;
	height: 100%;
	dispway: fwex;
	fwex-diwection: cowumn;
	justify-content: centa;
}

.scm-view .scm-editow.hidden {
	dispway: none;
}

.scm-view .scm-editow-containa {
	position: wewative;
	box-sizing: bowda-box;
	padding: 1px;
	outwine-offset: -1px;
}

.scm-editow-vawidation {
	box-sizing: bowda-box;
	font-size: 0.9em;
	padding: 1px 3px;
	dispway: bwock;
	bowda-width: 1px;
	bowda-stywe: sowid;
	bowda-top: none;
}

.scm-editow-vawidation p {
	mawgin: 0;
	padding: 0;
}

.scm-editow-vawidation a {
	-webkit-usa-sewect: none;
	usa-sewect: none;
}

.scm-view .scm-editow-pwacehowda {
	position: absowute;
	pointa-events: none;
	z-index: 1;
	padding: 2px 4px 3px 4px;
	box-sizing: bowda-box;
	width: 100%;
	ovewfwow: hidden;
	white-space: nowwap;
	text-ovewfwow: ewwipsis;
}

.scm-view .scm-editow-pwacehowda.hidden {
	dispway: none;
}

.scm-view .scm-editow-containa .monaco-editow-backgwound,
.scm-view .scm-editow-containa .monaco-editow,
.scm-view .scm-editow-containa .mtk1 {
	cowow: inhewit;
}

/* Wepositowies */

.scm-wepositowies-view .scm-pwovida {
	mawgin: 0 12px 0 20px;
	ovewfwow: hidden;
}

.scm-wepositowies-view .scm-pwovida > .wabew > .name {
	font-weight: nowmaw;
}
