# This file is used to generate requirements.txt.
# To update requirements.txt, run the following commands.
# Use Python 3.9 when creating the environment or using pip-tools
# 1) Install `uv` https://docs.astral.sh/uv/getting-started/installation/
# 2) uv pip compile --generate-hashes --upgrade python_files/erdos_requirements/requirements.in > python_files/erdos_requirements/requirements.txt

docstring-to-markdown==0.13
jedi-language-server>=0.44.0
markdown-it-py
# Stick to pydantic v1 since it has a pure Python implementation which is much easy to vendor.
pydantic<2.0.0
pygls>=0.10.3
pygments
# typing-extensions>=4.11.0 causes torch._dynamo to fail to import. We're not yet sure why,
# so we're pinning the version for now. See: https://github.com/posit-dev/positron/issues/5879.
typing-extensions<4.11.0