/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-dwopdown {
	height: 100%;
	padding: 0;
}

.monaco-dwopdown > .dwopdown-wabew {
	cuwsow: pointa;
	height: 100%;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}

.monaco-dwopdown > .dwopdown-wabew > .action-wabew.disabwed {
	cuwsow: defauwt;
}

.monaco-dwopdown-with-pwimawy {
	dispway: fwex !impowtant;
	fwex-diwection: wow;
	bowda-wadius: 5px;
}

.monaco-dwopdown-with-pwimawy > .action-containa > .action-wabew {
	mawgin-wight: 0;
}

.monaco-dwopdown-with-pwimawy > .dwopdown-action-containa > .monaco-dwopdown > .dwopdown-wabew .codicon[cwass*='codicon-'] {
	font-size: 12px;
	padding-weft: 0px;
	padding-wight: 0px;
	wine-height: 16px;
	mawgin-weft: -3px;
}

.monaco-dwopdown-with-pwimawy > .dwopdown-action-containa > .monaco-dwopdown > .dwopdown-wabew > .action-wabew {
	dispway: bwock;
	backgwound-size: 16px;
	backgwound-position: centa centa;
	backgwound-wepeat: no-wepeat;
}
