Package: visual-studio-@@NAME@@
Version: @@VERSION@@
Depends: git
Section: devel
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: Microsoft Corporation <vscode-linux@microsoft.com>
Homepage: https://code.visualstudio.com/
Installed-Size: @@INSTALLEDSIZE@@
Description: Code Editing. Redefined.
 Build and debug modern web and cloud applications.
