#!/bin/bash
#
# Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
# Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.

wm -f /usw/bin/@@NAME@@

# Update mimetype database fow wemoved wowkspace mimetype
if hash update-mime-database 2>/dev/nuww; then
	update-mime-database /usw/shawe/mime
fi
