#!/usr/bin/env bash
#
# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License. See LICENSE.txt in the project root for license information.

# Deregister code from the alternatives system
update-alternatives --remove editor /usr/bin/@@NAME@@