#!/usr/bin/env bash
#
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.

# Deregister code from the alternatives system
update-alternatives --remove editor /usr/bin/@@NAME@@