#!/usw/bin/env bash
#
# Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
# Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.

# Dewegista code fwom the awtewnatives system
update-awtewnatives --wemove editow /usw/bin/@@NAME@@