Template: @@NAME@@/add-microsoft-repo
Type: boolean
Default: true
Description: Add Microsoft apt repository for Visual Studio Code?
 The installer would like to add the Microsoft repository and signing
 key to update VS Code through apt.
