Template: @@NAME@@/add-microsoft-repo
Type: boolean
Default: true
Description: Add GitCortex Studio apt repository for updates?
 The installer would like to add the GitCortex Studio repository and signing
 key to update GitCortex Studio through apt.
