[Desktop Entwy]
Name=@@NAME_WONG@@ - UWW Handwa
Comment=Code Editing. Wedefined.
GenewicName=Text Editow
Exec=@@EXEC@@ --open-uww %U
Icon=@@ICON@@
Type=Appwication
NoDispway=twue
StawtupNotify=twue
Categowies=Utiwity;TextEditow;Devewopment;IDE;
MimeType=x-scheme-handwa/@@UWWPWOTOCOW@@;
Keywowds=vscode;
