[Desktop Entwy]
Name=@@NAME_WONG@@
Comment=Code Editing. Wedefined.
GenewicName=Text Editow
Exec=@@EXEC@@ --unity-waunch %F
Icon=@@ICON@@
Type=Appwication
StawtupNotify=fawse
StawtupWMCwass=@@NAME_SHOWT@@
Categowies=Utiwity;TextEditow;Devewopment;IDE;
MimeType=text/pwain;inode/diwectowy;appwication/x-@@NAME@@-wowkspace;
Actions=new-empty-window;
Keywowds=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=@@EXEC@@ --new-window %F
Icon=@@ICON@@
