[Desktop Entry]
Name=@@NAME_LONG@@ - URL Handler
Comment=AI-Powered Robotics Development. Redefined.
GenericName=Robotics IDE
Exec=@@EXEC@@ --open-url %U
Icon=@@ICON@@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/@@URLPROTOCOL@@;
Keywords=roboagent;robotics;ros2;ide;ai;
