# This file is used to generate requirements.txt.
# To update requirements.txt, run the following commands.
# Use Python 3.9 when creating the environment or using pip-tools
# 1) Install `uv` https://docs.astral.sh/uv/getting-started/installation/
# 2) uv pip compile --generate-hashes --upgrade python_files\jedilsp_requirements\requirements.in -o python_files\jedilsp_requirements\requirements.txt

jedi-language-server>=0.34.3
pygls>=0.10.3
