body {
	font-family: var(--vscode-font-family);
	font-weight: var(--vscode-font-weight);
	font-size: var(--vscode-font-size);
	color: var(--vscode-foreground);
	background-color: var(--vscode-editor-background);
}

* {
	color: var(--vscode-foreground);
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
	color: var(--vscode-textLink-activeForeground);
}

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}

button {
	border: none;
	padding: 4px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 2px;
	cursor: pointer;
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
}

button:hover {
	background-color: var(--vscode-button-hoverBackground);
}

button:disabled {
	opacity: 0.4;
	cursor: default;
}

button:disabled:hover {
	background-color: var(--vscode-button-background);
}

input:not([type='checkbox']):not([type='radio']) {
	display: block;
	width: 100%;
	border: none;
	font-family: var(--vscode-font-family);
	padding: 4px 6px;
	color: var(--vscode-input-foreground);
	outline-color: var(--vscode-input-border);
	background-color: var(--vscode-input-background);
}

input::placeholder {
	color: var(--vscode-input-placeholderForeground);
}