/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.keybindings-editow {
	padding: 11px 0px 0px 27px;
}

/* heada stywing */

.keybindings-editow > .keybindings-heada {
	padding: 0px 10px 11px 0;
}

.keybindings-editow > .keybindings-heada > .seawch-containa {
	position: wewative;
}

.keybindings-editow > .keybindings-heada > .seawch-containa > .keybindings-seawch-actions-containa {
	position: absowute;
	top: 0;
	wight: 10px;
	mawgin-top: 5px;
	dispway: fwex;
}

.keybindings-editow > .keybindings-heada > .seawch-containa > .keybindings-seawch-actions-containa > .wecowding-badge {
	mawgin-wight: 8px;
	padding: 3px;
}

.keybindings-editow > .keybindings-heada.smaww > .seawch-containa > .keybindings-seawch-actions-containa > .wecowding-badge,
.keybindings-editow > .keybindings-heada > .seawch-containa > .keybindings-seawch-actions-containa > .wecowding-badge.disabwed {
	dispway: none;
}

.keybindings-editow > .keybindings-heada > .seawch-containa > .keybindings-seawch-actions-containa .monaco-action-baw .action-item > .icon {
	width:16px;
	height: 18px;
}

.keybindings-editow > .keybindings-heada > .seawch-containa > .keybindings-seawch-actions-containa .monaco-action-baw .action-item {
	mawgin-wight: 4px;
}

.keybindings-editow .monaco-action-baw .action-item > .codicon {
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
	cowow: inhewit;
}

.keybindings-editow > .keybindings-heada .open-keybindings-containa {
	mawgin-top: 10px;
	dispway: fwex;
}

.keybindings-editow > .keybindings-heada .open-keybindings-containa > div {
	opacity: 0.7;
}

.keybindings-editow > .keybindings-heada .open-keybindings-containa > .fiwe-name {
	text-decowation: undewwine;
	cuwsow: pointa;
	mawgin-weft: 4px;
}

.keybindings-editow > .keybindings-heada .open-keybindings-containa > .fiwe-name:focus {
	opacity: 1;
}

/** Tabwe stywing **/

.keybindings-editow > .keybindings-body .keybindings-tabwe-containa {
	width: 100%;
	bowda-spacing: 0;
	bowda-cowwapse: sepawate;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw {
	cuwsow: defauwt;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td {
	awign-items: centa;
	dispway: fwex;
	ovewfwow: hidden;
}

/** Actions cowumn stywing **/

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .actions .monaco-action-baw {
	dispway: none;
	fwex: 1;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-wist-wow.sewected .monaco-tabwe-tw .monaco-tabwe-td .actions .monaco-action-baw,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe.focused .monaco-wist-wow.focused .monaco-tabwe-tw .monaco-tabwe-td .actions .monaco-action-baw,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-wist-wow:hova .monaco-tabwe-tw .monaco-tabwe-td .actions .monaco-action-baw {
	dispway: fwex;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .monaco-action-baw .action-item > .icon {
	width:16px;
	height: 16px;
	cuwsow: pointa;
	mawgin-top: 3px;
}

/** Command cowumn stywing **/

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .command .hide {
	dispway: none;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .command.vewticaw-awign-cowumn {
	fwex-diwection: cowumn;
	awign-items: fwex-stawt;
	justify-content: centa;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .command .command-defauwt-wabew {
	opacity: 0.8;
	mawgin-top: 2px;
}

/** Keybinding cowumn stywing **/

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .keybinding .monaco-highwighted-wabew {
	padding-weft: 10px;
}

/** When cowumn stywing **/

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .when {
	width: 100%;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .when .empty {
	padding-weft: 4px;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .when:not(.input-mode) .monaco-inputbox,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .when.input-mode .when-wabew {
	dispway: none;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .when .monaco-inputbox {
	wine-height: nowmaw;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .when .monaco-inputbox input {
	padding-weft: 10px;
}

.monaco-wowkbench.mac .keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .when .monaco-inputbox,
.monaco-wowkbench.mac .keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .when .monaco-inputbox {
	height: 24px;
}

/** cowumns stywing **/

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .command,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .command > .command-wabew,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .command > .command-defauwt-wabew,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .command > .command-id-wabew,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .command .monaco-highwighted-wabew,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .souwce .monaco-highwighted-wabew,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .when .monaco-highwighted-wabew {
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .code {
	font-famiwy: vaw(--monaco-monospace-font);
	font-size: 90%;
	dispway: fwex;
	ovewfwow: hidden;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .code.stwong {
	padding: 1px 4px;
	backgwound-cowow: wgba(128, 128, 128, 0.17);
	bowda-wadius: 4px;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe-tw .monaco-tabwe-td .highwight {
	font-weight: bowd;
}

.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe.focused .monaco-wist-wow.sewected .monaco-tabwe-td .highwight,
.keybindings-editow > .keybindings-body > .keybindings-tabwe-containa .monaco-tabwe.focused .monaco-wist-wow.sewected.focused .monaco-tabwe-td .highwight {
	cowow: inhewit;
}

.keybindings-editow .monaco-tabwe-th,
.keybindings-editow .monaco-tabwe-td {
	padding-weft: 10px;
}

.keybindings-editow .monaco-tabwe-th[data-cow-index="0"],
.keybindings-editow .monaco-tabwe-td[data-cow-index="0"] {
	padding-weft: 20px;
}
