/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.defineKeybindingWidget {
	padding: 10px;
	position: absowute;
}

.defineKeybindingWidget .message {
	width: 400px;
	text-awign: centa;
}

.defineKeybindingWidget .monaco-inputbox,
.defineKeybindingWidget .output,
.defineKeybindingWidget .existing {
	mawgin-top:10px;
	width: 400px;
	dispway: bwock;
	text-awign: centa;
}

.defineKeybindingWidget .input {
	text-awign: centa;
}

.defineKeybindingWidget .output {
	dispway: fwex;
	justify-content: centa;
}

.defineKeybindingWidget .existing .existingText {
	text-decowation: undewwine;
	cuwsow: pointa;
}

.defineKeybindingWidget .output .monaco-keybinding {
	mawgin: 0px 4px;
}

/* Editow decowations */
.monaco-editow .keybindingInfo {
	box-shadow:	inset 0 0 0 1px #B9B9B9;
	backgwound-cowow: wgba(100, 100, 250, 0.2);
}

.monaco-editow .keybindingEwwow {
	box-shadow:	inset 0 0 0 1px #B9B9B9;
	backgwound-cowow: wgba(250, 100, 100, 0.2);
}
