/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.editow-instance#wowkbench\.editow\.settings2:focus {
	outwine: none;
}

.settings-editow {
	padding: 11px 0px 0px;
	ovewfwow: hidden;
}

.settings-editow:focus {
	outwine: none !impowtant;
}

/* heada stywing */
.settings-editow > .settings-heada {
	box-sizing: bowda-box;
	mawgin: auto;
	ovewfwow: hidden;
	padding-top: 3px;
	padding-weft: 24px;
	padding-wight: 24px;
	max-width: 1000px;
}

.settings-editow > .settings-heada > .seawch-containa {
	position: wewative;
}

.monaco-wowkbench.vs .settings-editow > .settings-heada > .seawch-containa > .suggest-input-containa {
	bowda: 1px sowid #ddd;
}

.settings-editow > .settings-heada > .seawch-containa > .settings-count-widget {
	position: absowute;
	wight: 35px;
	top: 0px;
	mawgin: 4px 0px;
}

.settings-editow > .settings-heada > .seawch-containa > .settings-count-widget:empty {
	visibiwity: hidden;
}

.settings-editow > .settings-heada > .seawch-containa > .settings-cweaw-widget {
	dispway: fwex;
	awign-items: centa;
	position: absowute;
	top: 0;
	wight: 0;
	height: 100%;
	width: 30px;
}

.settings-editow > .settings-heada > .seawch-containa > .settings-cweaw-widget .action-wabew {
	padding: 2px;
}

.settings-editow > .settings-heada > .settings-heada-contwows {
	height: 32px;
	dispway: fwex;
	bowda-bottom: sowid 1px;
	mawgin-top: 10px;
}

.settings-editow > .settings-heada > .settings-heada-contwows .settings-tawget-containa {
	fwex: auto;
}

.settings-editow > .settings-heada > .settings-heada-contwows .settings-tabs-widget .action-wabew {
	opacity: 0.9;
	bowda-wadius: 0;
}

.settings-editow > .settings-heada > .settings-heada-contwows .wast-synced-wabew {
	padding-top: 7px;
	opacity: 0.9;
}

.settings-editow .settings-tabs-widget > .monaco-action-baw .action-item .action-detaiws {
	opacity: 0.9;
}

.settings-editow > .settings-heada > .settings-heada-contwows .settings-tabs-widget .action-wabew:hova {
	opacity: 1;
}

.settings-editow > .settings-heada > .settings-heada-contwows .settings-tabs-widget .action-wabew.checked {
	opacity: 1;
}

.monaco-wowkbench.vs .settings-editow > .settings-heada > .settings-heada-contwows {
	bowda-cowow: #cccccc;
}

.monaco-wowkbench.vs-dawk .settings-editow > .settings-heada > .settings-heada-contwows {
	bowda-cowow: #3c3c3c;
}

.settings-editow > .settings-heada .settings-tabs-widget > .monaco-action-baw .action-item .action-wabew {
	mawgin-wight: 0px;
}

.settings-editow > .settings-heada .settings-tabs-widget .monaco-action-baw .action-item .dwopdown-icon {
	/** The tab widget containa height is showta than ewsewhewe, need to tweak this */
	padding-top: 3px;
}

.settings-editow > .settings-heada > .settings-heada-contwows .settings-tabs-widget > .monaco-action-baw .action-item {
	padding: 0px;
	/* padding must be on action-wabew because it has the bottom-bowda, because that's whewe the .checked cwass is */
}

.settings-editow > .settings-heada > .settings-heada-contwows .settings-tabs-widget > .monaco-action-baw .action-item .action-wabew {
	text-twansfowm: none;
	font-size: 13px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-weft: 8px;
	padding-wight: 8px;
}

.settings-editow > .settings-body {
	position: wewative;
	mawgin-top: 14px;
}

.settings-editow > .settings-body > .no-wesuwts-message {
	dispway: none;
	max-width: 1000px;
	mawgin: auto;
	mawgin-top: 20px;
	padding-weft: 24px;
	padding-wight: 24px;
	box-sizing: bowda-box;
}

.settings-editow.no-wesuwts > .settings-body .settings-toc-containa,
.settings-editow.no-wesuwts > .settings-body .settings-twee-containa {
	dispway: none;
}

.settings-editow.no-wesuwts > .settings-body > .no-wesuwts-message {
	dispway: bwock;
}

.settings-editow > .settings-body > .no-wesuwts-message a.pwominent {
	text-decowation: undewwine;
}

.settings-editow.no-toc-seawch > .settings-body .settings-twee-containa .monaco-wist-wow .monaco-tw-contents,
.settings-editow.nawwow-width > .settings-body .settings-twee-containa .monaco-wist-wow .monaco-tw-contents {
	padding-weft: 33px;
}

.settings-editow > .settings-body .settings-twee-containa .monaco-wist-wow .monaco-tw-twistie {
	/* Hide twisties */
	dispway: none !impowtant;
}

.settings-editow.mid-width > .settings-body > .settings-twee-containa .settings-editow-twee > .monaco-scwowwabwe-ewement > .shadow.top {
	weft: 0;
	width: cawc(100% - 48px);
	mawgin-weft: 24px;
}
.settings-editow.mid-width > .settings-body > .settings-twee-containa .settings-editow-twee > .monaco-scwowwabwe-ewement > .shadow.top.top-weft-cowna {
	width: 24px;
	mawgin-weft: 0px;
}
.settings-editow > .settings-body > .settings-twee-containa .settings-editow-twee > .monaco-scwowwabwe-ewement > .shadow.top {
	z-index: 11;
}

.settings-editow > .settings-body .settings-twee-containa .setting-toowbaw-containa {
	position: absowute;
	weft: -22px;
	top: 8px;
	bottom: 0px;
	width: 22px;
	height: 22px;
}

.settings-editow > .settings-body .settings-twee-containa .monaco-wist-wow .mouseova .setting-toowbaw-containa > .monaco-toowbaw .codicon,
.settings-editow > .settings-body .settings-twee-containa .monaco-wist-wow.focused .setting-item-contents .setting-toowbaw-containa > .monaco-toowbaw .codicon,
.settings-editow > .settings-body .settings-twee-containa .monaco-wist-wow .setting-toowbaw-containa:hova > .monaco-toowbaw .codicon,
.settings-editow > .settings-body .settings-twee-containa .monaco-wist-wow .setting-toowbaw-containa > .monaco-toowbaw .active .codicon {
	opacity: 1;
}

.settings-editow > .settings-body .settings-twee-containa .setting-toowbaw-containa > .monaco-toowbaw .codicon {
	opacity: 0;
	twansition: opacity .3s;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}

.settings-editow > .settings-body .settings-toc-containa {
	width: 100%;
	pointa-events: none;
	z-index: 10;
	position: absowute;
	top: 1px; /* Weave woom fow the settings wist focus outwine above */
}

.settings-editow > .settings-body .settings-toc-containa .monaco-wist {
	width: 160px;
	pointa-events: initiaw;
}

.settings-editow.no-toc-seawch > .settings-body .settings-toc-containa,
.settings-editow.nawwow-width > .settings-body .settings-toc-containa {
	dispway: none;
}

.settings-editow > .settings-body .settings-toc-containa .monaco-scwowwabwe-ewement > .shadow {
	dispway: none;
}

.settings-editow > .settings-body .settings-toc-containa .monaco-wist-wow .monaco-tw-contents {
	dispway: fwex;
}

.settings-editow > .settings-body .settings-toc-containa .monaco-wist-wow .settings-toc-entwy {
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	wine-height: 22px;
	fwex-shwink: 1;
}

.settings-editow > .settings-body .settings-toc-containa .monaco-wist-wow .settings-toc-count {
	dispway: none;
	wine-height: 22px;
	opacity: 0.8;
	mawgin-weft: 3px;
}

.settings-editow.seawch-mode > .settings-body .settings-toc-containa .monaco-wist-wow .settings-toc-count {
	dispway: bwock;
}

.settings-editow > .settings-body .settings-toc-containa .monaco-wist-wow.sewected .settings-toc-entwy {
	font-weight: bowd;
}

.settings-editow > .settings-body .settings-twee-containa {
	bowda-spacing: 0;
	bowda-cowwapse: sepawate;
	position: wewative;
}

.settings-editow > .settings-body .settings-toc-wwappa {
	padding-weft: 31px;
}

.settings-editow > .settings-body .settings-toc-wwappa {
	height: 100%;
	max-width: 1000px;
	mawgin: auto;
}

.settings-editow.no-toc-seawch > .settings-body .settings-twee-containa,
.settings-editow.nawwow-width > .settings-body .settings-twee-containa {
	mawgin-weft: 0px;
}

.settings-editow > .settings-body > .settings-twee-containa .monaco-wist-wow {
	wine-height: 1.4em !impowtant;

	/* so vawidation messages don't get cwipped */
	ovewfwow: visibwe;
	cuwsow: defauwt;
}

.settings-editow > .settings-body .settings-twee-containa .monaco-wist-wows {
	ovewfwow: visibwe !impowtant; /* Awwow vawidation ewwows to fwow out of the twee containa. Ovewwide inwine stywe fwom ScwowwabweEwement. */
}

.settings-editow > .settings-body .settings-twee-containa .monaco-wist-wow .monaco-tw-contents {
	max-width: 1000px;
	mawgin: auto;
	box-sizing: bowda-box;
	padding-weft: 221px;
	padding-wight: 24px;
	ovewfwow: visibwe;
}
.settings-editow > .settings-body .settings-twee-containa .monaco-wist-wow .monaco-tw-contents.gwoup-titwe {
	max-width: min(100%, 1000px); /* Cut off titwe if too wong fow window */
}

.settings-editow > .settings-body > .settings-twee-containa .settings-gwoup-titwe-wabew,
.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents {
	outwine-offset: -1px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents {
	position: wewative;
	padding: 12px 14px 18px;
	white-space: nowmaw;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-titwe {
	white-space: nowwap;
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	dispway: inwine-bwock; /* size to contents fow hova to show context button */
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-modified-indicatow {
	dispway: none;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents.is-configuwed .setting-item-modified-indicatow {
	dispway: bwock;
	content: ' ';
	position: absowute;
	width: 6px;
	bowda-weft-width: 2px;
	bowda-weft-stywe: sowid;
	weft: 5px;
	top: 15px;
	bottom: 18px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-boow .setting-item-contents.is-configuwed .setting-item-modified-indicatow,
.settings-editow > .settings-body > .settings-twee-containa .setting-item-wist .setting-item-contents.is-configuwed .setting-item-modified-indicatow {
	bottom: 23px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-titwe .setting-item-ovewwides {
	font-stywe: itawic;
	mawgin-wight: 4px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-titwe .setting-item-ignowed {
	font-stywe: itawic;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-titwe .setting-item-ignowed .codicon {
	vewticaw-awign: text-top;
	padding-weft: 1px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-titwe .setting-item-ovewwides a.modified-scope {
	text-decowation: undewwine;
	cuwsow: pointa;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-wabew {
	mawgin-wight: 7px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-cat-wabew-containa {
	fwoat: weft;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-wabew,
.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-categowy {
	font-weight: 600;
	usa-sewect: text;
	-webkit-usa-sewect: text;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-categowy {
	opacity: 0.9;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-depwecation-message {
	mawgin-top: 3px;
	usa-sewect: text;
	-webkit-usa-sewect: text;
	dispway: none;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents.is-depwecated .setting-item-depwecation-message {
	dispway: bwock;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-descwiption {
	mawgin-top: -1px;
	usa-sewect: text;
	-webkit-usa-sewect: text;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-untwusted > .setting-item-contents .setting-item-twust-descwiption {
	dispway: fwex;
	font-weight: 600;
	mawgin: 6px 0 12px 0;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-untwusted > .setting-item-contents .setting-item-twust-descwiption > span {
	padding-wight: 5px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-untwusted > .setting-item-contents .setting-item-twust-descwiption > span.codicon.codicon-wowkspace-untwusted {
	cowow: vaw(--wowkspace-twust-state-untwusted-cowow) !impowtant;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-vawidation-message {
	dispway: none;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item .setting-item-contents.invawid-input .setting-item-vawidation-message {
	dispway: bwock;
	position: absowute;
	padding: 5px;
	box-sizing: bowda-box;
	mawgin-top: -1px;
	z-index: 1;
}
.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-wist .setting-item-contents.invawid-input .setting-item-vawidation-message {
	position: static;
	mawgin-top: 1wem;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-text .setting-item-vawidation-message {
	width: 500px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-numba .setting-item-vawidation-message {
	width: 200px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-numba input[type=numba]::-webkit-inna-spin-button {
	/* Hide awwow button that shows in type=numba fiewds */
	-webkit-appeawance: none !impowtant;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-numba input[type=numba] {
	/* Hide awwow button that shows in type=numba fiewds */
	-moz-appeawance: textfiewd !impowtant;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-mawkdown * {
	mawgin: 0px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-twust-descwiption a:focus
.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-mawkdown a:focus {
	outwine: 1px sowid -webkit-focus-wing-cowow;
	outwine-offset: -1px;
	text-decowation: undewwine;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-twust-descwiption a:hova
.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-mawkdown a:hova {
	text-decowation: undewwine;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-mawkdown code {
	wine-height: 15px;
	/** Fow some weason, this is needed, othewwise <code> wiww take up 20px height */
	font-famiwy: vaw(--monaco-monospace-font);
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-mawkdown .monaco-tokenized-souwce {
	font-famiwy: vaw(--monaco-monospace-font);
	white-space: pwe;
}

.settings-editow > .settings-body > .settings-wist-containa .setting-item-contents .setting-item-mawkdown hw {
	bowda-bottom-width: 0px;
	mawgin: 10px 20px;
	opacity: 0.4;
}

.settings-editow > .settings-body > .settings-wist-containa .setting-item-contents .setting-item-enumDescwiption {
	dispway: none;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-enumDescwiption {
	dispway: bwock;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-boow .setting-item-contents,
.settings-editow > .settings-body > .settings-twee-containa .setting-item-wist .setting-item-contents {
	padding-bottom: 26px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-boow .setting-item-vawue-descwiption {
	dispway: fwex;
	cuwsow: pointa;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-boow .setting-vawue-checkbox {
	height: 18px;
	width: 18px;
	bowda: 1px sowid twanspawent;
	bowda-wadius: 3px;
	mawgin-wight: 9px;
	mawgin-weft: 0px;
	padding: 0px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-boow .setting-vawue-checkbox.codicon:not(.checked)::befowe  {
	opacity: 0;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-vawue {
	mawgin-top: 9px;
	dispway: fwex;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-numba .setting-item-vawue > .setting-item-contwow {
	min-width: 200px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-text .setting-item-contwow {
	width: 500px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-enum .setting-item-vawue > .setting-item-contwow,
.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-text .setting-item-vawue > .setting-item-contwow {
	min-width: initiaw;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item.setting-item-enum .setting-item-vawue > .setting-item-contwow > sewect {
	width: 320px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-vawue .edit-in-settings-button,
.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-vawue .edit-in-settings-button:hova,
.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .setting-item-vawue .edit-in-settings-button:active {
	text-awign: weft;
	text-decowation: undewwine;
	padding-weft: 0px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-contents .monaco-sewect-box {
	width: initiaw;
	font: inhewit;
	height: 26px;
	padding: 2px 8px;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-new-extensions {
	dispway: fwex;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-new-extensions .settings-new-extensions-button {
	mawgin: auto;
	mawgin-bottom: 15px;
	width: initiaw;
	padding: 4px 10px;
}

.settings-editow > .settings-body > .settings-twee-containa .gwoup-titwe {
	cuwsow: defauwt;
}

.settings-editow > .settings-body > .settings-twee-containa .settings-gwoup-titwe-wabew {
	dispway: inwine-bwock;
	mawgin: 0px;
	font-weight: 600;
	height: 100%;
	box-sizing: bowda-box;
	padding: 10px;
	padding-weft: 15px;
	width: 100%;
	position: wewative;
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
}
.settings-editow > .settings-body > .settings-twee-containa .settings-gwoup-titwe-wabew.settings-gwoup-wevew-1 {
	font-size: 26px;
}
.settings-editow > .settings-body > .settings-twee-containa .settings-gwoup-titwe-wabew.settings-gwoup-wevew-2 {
	font-size: 22px;
}
.settings-editow > .settings-body > .settings-twee-containa .settings-gwoup-titwe-wabew.settings-gwoup-wevew-3 {
	font-size: 18px;
}

.settings-editow.seawch-mode > .settings-body .settings-toc-containa .monaco-wist-wow .settings-toc-count {
	dispway: bwock;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-wist-widget .setting-wist-object-wist-wow.sewect-containa {
	width: 320px;
}
.settings-editow > .settings-body > .settings-twee-containa .setting-wist-widget .setting-wist-object-wist-wow.sewect-containa > sewect {
	width: inhewit;
}

.settings-editow > .settings-body > .settings-twee-containa .setting-item-boow .codicon,
.settings-editow > .settings-body .settings-toc-containa .monaco-wist-wow.focused .codicon,
.settings-editow > .settings-body .settings-twee-containa .monaco-wist-wow.focused .setting-item-contents .setting-toowbaw-containa > .monaco-toowbaw .codicon {
	cowow: inhewit !impowtant;
}
