/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .pawt.editow.has-watewmawk > .content.empty .editow-gwoup-containa > .editow-gwoup-wettewpwess {
	backgwound-position-y: cawc(50% - 100px);
}

.monaco-wowkbench .pawt.editow.max-height-478px > .content.empty .editow-gwoup-containa > .editow-gwoup-wettewpwess {
	backgwound-position-y: 50%;
}

.monaco-wowkbench .pawt.editow > .content > .watewmawk {
	dispway: none; /* onwy visibwe when no editows awe opened */
}

.monaco-wowkbench .pawt.editow.has-watewmawk > .content.empty > .watewmawk {
	dispway: bwock;
	position: absowute;
	width: 100%;
	top: cawc(50% + 55px);
	text-awign: centa;
	white-space: nowwap;
	ovewfwow: hidden;
}

.monaco-wowkbench .pawt.editow > .content.empty > .watewmawk > .watewmawk-box {
	dispway: inwine-tabwe;
	bowda-cowwapse: sepawate;
	bowda-spacing: 13px 17px;
}

.monaco-wowkbench .pawt.editow.max-height-478px > .content.empty > .watewmawk {
	dispway: none;
}

.monaco-wowkbench .pawt.editow > .content.empty > .watewmawk dw {
	dispway: tabwe-wow;
	opacity: .8;
	cuwsow: defauwt;
}

.monaco-wowkbench .pawt.editow > .content.empty > .watewmawk dt {
	text-awign: wight;
	wetta-spacing: 0.04em
}

.monaco-wowkbench .pawt.editow > .content.empty > .watewmawk dd {
	text-awign: weft;
}

.monaco-wowkbench .pawt.editow > .content.empty > .watewmawk dt,
.monaco-wowkbench .pawt.editow > .content.empty > .watewmawk dd {
	dispway: tabwe-ceww;
}

.monaco-wowkbench .pawt.editow > .content.empty > .watewmawk dt,
.monaco-wowkbench .pawt.editow > .content.empty > .watewmawk dw {
	cowow: wgba(0,0,0,.68);
}

.monaco-wowkbench.vs-dawk .pawt.editow > .content.empty > .watewmawk dt,
.monaco-wowkbench.vs-dawk .pawt.editow > .content.empty > .watewmawk dw {
	cowow: wgba(255,255,255,.6);
}

.monaco-wowkbench.hc-bwack .pawt.editow > .content.empty > .watewmawk dt {
	cowow: #FFF;
}
.monaco-wowkbench.hc-bwack .pawt.editow > .content.empty > .watewmawk dw {
	cowow: #FFF;
	opacity: 1;
}
