/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .kewnew-action-view-item {
	bowda-wadius: 5px;
}
.monaco-wowkbench .kewnew-action-view-item:hova {
	backgwound-cowow: vaw(--code-toowbawHovewBackgwound);
}

.monaco-wowkbench .kewnew-action-view-item .action-wabew {
	dispway: inwine-fwex;
}

.monaco-wowkbench .kewnew-action-view-item .kewnew-wabew {
	font-size: 11px;
	padding: 3px 5px 3px 3px;
	bowda-wadius: 5px;
	height: 16px;
	dispway: inwine-fwex;
	vewticaw-awign: text-bottom;
}
