**
!assets/
assets/walkthroughs/**
!dist/compiled/**
!dist/extension.js
!dist/extension.js.LICENSE.txt
!dist/*.wasm
!dist/*.json
!dist/*.bpe
!dist/*.tiktoken
!dist/node_modules/**
!dist/tfidfWorker.js
!dist/worker2.js
!dist/tikTokenizerWorker.js
!dist/diffWorker.js
!dist/webview.js
!dist/copilotDebugCommand.js
!dist/copilotCLIShim.js
!dist/cli.js
!dist/suggestionsPanelWebview.js
!node_modules/@vscode/copilot-typescript-server-plugin/package.json
!node_modules/@vscode/copilot-typescript-server-plugin/dist/*.js
node_modules/@github/copilot/index.js
node_modules/@github/copilot/clipboard/**
node_modules/@github/copilot/prebuilds/**
node_modules/@github/copilot/sharp/**
!node_modules/@github/copilot/package.json
!node_modules/@github/copilot/sdk/**/package.json
!node_modules/@github/copilot/sdk/*.js
!node_modules/@github/copilot/sdk/worker/*.js
!node_modules/@github/copilot/sdk/sharp/**
!node_modules/@github/copilot/sdk/definitions/*.yaml
!CHANGELOG.md
!README.md
!package.json
!package.nls.json
!package.nls.*.json
!telemetry.json
!l10n/bundle.l10n.*.json
!ThirdPartyNotices.txt
!LICENSE.txt
