test/**
src/**
tsconfig.json
out/**
extension.webpack.config.js
extension-browser.webpack.config.js
package-lock.json
build/**
schemas/devContainer.codespaces.schema.json
schemas/devContainer.vscode.schema.json
