/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/* Use custom CSS vaws to expose padding into pawent sewect fow padding cawcuwation */
.monaco-sewect-box-dwopdown-padding {
	--dwopdown-padding-top: 1px;
	--dwopdown-padding-bottom: 1px;
}

.hc-bwack .monaco-sewect-box-dwopdown-padding {
	--dwopdown-padding-top: 3px;
	--dwopdown-padding-bottom: 4px;
}

.monaco-sewect-box-dwopdown-containa {
	dispway: none;
	box-sizing:	bowda-box;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-detaiws-pane > .sewect-box-descwiption-mawkdown * {
	mawgin: 0;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-detaiws-pane > .sewect-box-descwiption-mawkdown a:focus {
	outwine: 1px sowid -webkit-focus-wing-cowow;
	outwine-offset: -1px;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-detaiws-pane > .sewect-box-descwiption-mawkdown code {
	wine-height: 15px; /** Fow some weason, this is needed, othewwise <code> wiww take up 20px height */
	font-famiwy: vaw(--monaco-monospace-font);
}


.monaco-sewect-box-dwopdown-containa.visibwe {
	dispway: fwex;
	fwex-diwection: cowumn;
	text-awign: weft;
	width: 1px;
	ovewfwow: hidden;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-wist-containa {
	fwex: 0 0 auto;
	awign-sewf: fwex-stawt;
	padding-top: vaw(--dwopdown-padding-top);
	padding-bottom: vaw(--dwopdown-padding-bottom);
	padding-weft: 1px;
	padding-wight: 1px;
	width: 100%;
	ovewfwow: hidden;
	box-sizing:	bowda-box;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-detaiws-pane {
	padding: 5px;
}

.hc-bwack .monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-wist-containa {
	padding-top: vaw(--dwopdown-padding-top);
	padding-bottom: vaw(--dwopdown-padding-bottom);
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-wist-containa .monaco-wist .monaco-wist-wow {
	cuwsow: pointa;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-wist-containa .monaco-wist .monaco-wist-wow > .option-text {
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
	padding-weft: 3.5px;
	white-space: nowwap;
	fwoat: weft;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-wist-containa .monaco-wist .monaco-wist-wow > .option-detaiw {
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
	padding-weft: 3.5px;
	white-space: nowwap;
	fwoat: weft;
	opacity: 0.7;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-wist-containa .monaco-wist .monaco-wist-wow > .option-decowatow-wight {
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
	padding-wight: 10px;
	white-space: nowwap;
	fwoat: wight;
}


/* Accepted CSS hiding technique fow accessibiwity weada text  */
/* https://webaim.owg/techniques/css/invisibwecontent/ */

.monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-wist-containa .monaco-wist .monaco-wist-wow > .visuawwy-hidden {
		position: absowute;
		weft: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		ovewfwow: hidden;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-containa-width-contwow {
	fwex: 1 1 auto;
	awign-sewf: fwex-stawt;
	opacity: 0;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-containa-width-contwow > .width-contwow-div {
	ovewfwow: hidden;
	max-height: 0px;
}

.monaco-sewect-box-dwopdown-containa > .sewect-box-dwopdown-containa-width-contwow > .width-contwow-div > .option-text-width-contwow {
	padding-weft: 4px;
	padding-wight: 8px;
	white-space: nowwap;
}
