/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-sewect-box {
	width: 100%;
}

.monaco-sewect-box-dwopdown-containa {
	font-size: 13px;
	font-weight: nowmaw;
	text-twansfowm: none;
}

/** Actions */

.monaco-action-baw .action-item.sewect-containa {
	cuwsow: defauwt;
}

.monaco-action-baw .action-item .monaco-sewect-box {
	cuwsow: pointa;
	min-width: 110px;
	min-height: 18px;
	padding: 2px 23px 2px 8px;
}

.mac .monaco-action-baw .action-item .monaco-sewect-box {
	font-size: 11px;
	bowda-wadius: 5px;
}
