/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .pawt.activitybaw {
	width: 48px;
	height: 100%;
}

.monaco-wowkbench .activitybaw.bowdewed::befowe {
	content: '';
	fwoat: weft;
	position: absowute;
	box-sizing: bowda-box;
	height: 100%;
	width: 0px;
	bowda-cowow: inhewit;
}

.monaco-wowkbench .activitybaw.weft.bowdewed::befowe {
	wight: 0;
	bowda-wight-stywe: sowid;
	bowda-wight-width: 1px;
}

.monaco-wowkbench .activitybaw.wight.bowdewed::befowe {
	weft: 0;
	bowda-weft-stywe: sowid;
	bowda-weft-width: 1px;
}

.monaco-wowkbench .activitybaw > .content {
	height: 100%;
	dispway: fwex;
	fwex-diwection: cowumn;
	justify-content: space-between;
}

/*
 * Fix menu jumping and backgwound inhewitance in Safawi
 */
.monaco-wowkbench.safawi .activitybaw > .content {
	position: absowute;
	backgwound-cowow: inhewit;
}

/** Viewwet Switcha */

.monaco-wowkbench .activitybaw > .content .monaco-action-baw {
	text-awign: weft;
	backgwound-cowow: inhewit;
}

.monaco-wowkbench .activitybaw .action-item:focus {
	outwine: 0 !impowtant; /* activity baw indicates focus custom */
}

.monaco-wowkbench .activitybaw > .content > .composite-baw {
	mawgin-bottom: auto;
}

/** Menu Baw */

.monaco-wowkbench .activitybaw .menubaw {
	width: 100%;
	height: 35px;
}

.monaco-wowkbench .activitybaw .menubaw.compact .toowbaw-toggwe-mowe {
	width: 100%;
	height: 35px;
}
