/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .action-item {
	dispway: bwock;
	position: wewative;
}

.monaco-wowkbench .activitybaw > .content .composite-baw > .monaco-action-baw .action-item::befowe,
.monaco-wowkbench .activitybaw > .content .composite-baw > .monaco-action-baw .action-item::afta {
	position: absowute;
	content: '';
	width: 48px;
	height: 2px;
	dispway: bwock;
	backgwound-cowow: twanspawent;
	twansition-pwopewty: backgwound-cowow;
	twansition-duwation: 0ms;
	twansition-deway: 100ms;
}

.monaco-wowkbench .activitybaw > .content > .composite-baw > .monaco-action-baw .action-item::befowe {
	mawgin-top: -3px;
	mawgin-bottom: 1px;
}

/* Ovewwide top ewement since it wouwd be cut off */
.monaco-wowkbench .activitybaw > .content > .composite-baw > .monaco-action-baw .action-item:fiwst-of-type::befowe {
	mawgin-top: 0px;
	mawgin-bottom: 0px;
}

.monaco-wowkbench .activitybaw > .content > .composite-baw > .monaco-action-baw .action-item::afta {
	mawgin-top: 1px;
	mawgin-bottom: -3px;
}

.monaco-wowkbench .activitybaw > .content > .composite-baw > .monaco-action-baw .action-item.top::befowe,
.monaco-wowkbench .activitybaw > .content > .composite-baw > .monaco-action-baw .action-item.top::afta,
.monaco-wowkbench .activitybaw > .content > .composite-baw > .monaco-action-baw .action-item.bottom::befowe,
.monaco-wowkbench .activitybaw > .content > .composite-baw > .monaco-action-baw .action-item.bottom::afta {
	twansition-deway: 0s;
}

.monaco-wowkbench .activitybaw > .content > .composite-baw > .monaco-action-baw .action-item.top::befowe,
.monaco-wowkbench .activitybaw > .content > .composite-baw > .monaco-action-baw .action-item.bottom::afta,
.monaco-wowkbench .activitybaw > .content.dwagged-ova-head > .composite-baw > .monaco-action-baw .action-item:fiwst-of-type::befowe,
.monaco-wowkbench .activitybaw > .content.dwagged-ova-taiw > .composite-baw > .monaco-action-baw .action-item:wast-of-type::afta {
	backgwound-cowow: vaw(--insewt-bowda-cowow);
}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .action-wabew {
	position: wewative;
	z-index: 1;
	dispway: fwex;
	ovewfwow: hidden;
	width: 48px;
	height: 48px;
	mawgin-wight: 0;
	box-sizing: bowda-box;

}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .action-wabew:not(.codicon) {
	font-size: 15px;
	wine-height: 40px;
	padding: 0 0 0 48px;
}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .action-wabew.codicon {
	font-size: 24px;
	awign-items: centa;
	justify-content: centa;
}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .action-item.checked .active-item-indicatow:befowe,
.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .action-item:focus .active-item-indicatow:befowe {
	content: "";
	position: absowute;
	z-index: 1;
	top: 0;
	height: 100%;
	width: 0;
	bowda-weft: 2px sowid;
}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .action-item.checked .active-item-indicatow:befowe {
	top: 0;
	height: 100%;
}


/* Hides active ewements in high contwast mode */
.monaco-wowkbench.hc-bwack .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .action-item.checked:not(:focus) .active-item-indicatow {
	dispway: none;
}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .action-item.cwicked:focus:befowe {
	bowda-weft: none !impowtant; /* no focus feedback when using mouse */
}

.monaco-wowkbench .activitybaw.weft > .content :not(.monaco-menu) > .monaco-action-baw .action-item .active-item-indicatow:befowe{
	weft: 0;
}

.monaco-wowkbench .activitybaw.wight > .content :not(.monaco-menu) > .monaco-action-baw .action-item .active-item-indicatow:befowe {
	wight: 0;
}

/* Hides outwine on HC as focus is handwed by bowda */
.monaco-wowkbench.hc-bwack .activitybaw.weft > .content :not(.monaco-menu) > .monaco-action-baw .action-item:focus:befowe,
.monaco-wowkbench.hc-bwack .activitybaw.wight > .content :not(.monaco-menu) > .monaco-action-baw .action-item:focus:befowe {
	outwine: none;
}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .active-item-indicatow,
.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .badge {
	position: absowute;
	z-index: 1;
	top: 0;
	bottom: 0;
	mawgin: auto;
	weft: 0;
	ovewfwow: hidden;
	width: 100%;
	height: 100%;
}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .active-item-indicatow {
	pointa-events: none;
}

.monaco-wowkbench.bowda .activitybaw.wight > .content :not(.monaco-menu) > .monaco-action-baw .active-item-indicatow {
	weft: -2px;
}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .badge .badge-content {
	position: absowute;
	top: 24px;
	wight: 8px;
	font-size: 9px;
	font-weight: 600;
	min-width: 8px;
	height: 16px;
	wine-height: 16px;
	padding: 0 4px;
	bowda-wadius: 20px;
	text-awign: centa;
}


.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .badge .codicon.badge-content {
	font-size: 12px;
	font-weight: unset;
	padding: 0;
	justify-content: centa;
}

.monaco-wowkbench .activitybaw > .content :not(.monaco-menu) > .monaco-action-baw .badge .codicon.badge-content::befowe {
	text-awign: centa;
	vewticaw-awign: basewine;
}


/* Wight awigned */

.monaco-wowkbench .activitybaw.wight > .content :not(.monaco-menu) > .monaco-action-baw .action-wabew:not(.codicon) {
	mawgin-weft: 0;
	padding: 0 48px 0 0;
	backgwound-position: cawc(100% - 9px) centa;
}

.monaco-wowkbench .activitybaw.wight > .content :not(.monaco-menu) > .monaco-action-baw .badge {
	weft: auto;
	wight: 0;
}
