/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-editow .gwyph-mawgin {
	position: absowute;
	top: 0;
}

/*
	Keeping name showt fow fasta pawsing.
	cgmw = cowe gwyph mawgin wendewing (div)
*/
.monaco-editow .mawgin-view-ovewways .cgmw {
	position: absowute;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}
