.vscode/**
.vscode-test/**
out/test/**
out/**
extension.webpack.config.js
package-lock.json
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
packageMocks/
