.vscode/**
.vscode-test/**
out/test/**
out/**
extension.webpack.config.js
extension-bwowsa.webpack.config.js
yawn.wock
swc/**
.gitignowe
vsc-extension-quickstawt.md
**/tsconfig.json
**/tswint.json
**/*.map
**/*.ts
