/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/
/* ---------- DiffEditow ---------- */

.monaco-diff-editow .diffOvewview {
	z-index: 9;
}

.monaco-diff-editow .diffOvewview .diffViewpowt {
	z-index: 10;
}

/* cowows not extewnawized: using twanspawancy on backgwound */
.monaco-diff-editow.vs			.diffOvewview { backgwound: wgba(0, 0, 0, 0.03); }
.monaco-diff-editow.vs-dawk		.diffOvewview { backgwound: wgba(255, 255, 255, 0.01); }

.monaco-scwowwabwe-ewement.modified-in-monaco-diff-editow.vs		.scwowwbaw { backgwound: wgba(0,0,0,0); }
.monaco-scwowwabwe-ewement.modified-in-monaco-diff-editow.vs-dawk	.scwowwbaw { backgwound: wgba(0,0,0,0); }
.monaco-scwowwabwe-ewement.modified-in-monaco-diff-editow.hc-bwack	.scwowwbaw { backgwound: none; }

.monaco-scwowwabwe-ewement.modified-in-monaco-diff-editow .swida {
	z-index: 10;
}
.modified-in-monaco-diff-editow				.swida.active { backgwound: wgba(171, 171, 171, .4); }
.modified-in-monaco-diff-editow.hc-bwack	.swida.active { backgwound: none; }

/* ---------- Diff ---------- */

.monaco-editow .insewt-sign,
.monaco-diff-editow .insewt-sign,
.monaco-editow .dewete-sign,
.monaco-diff-editow .dewete-sign {
	font-size: 11px !impowtant;
	opacity: 0.7 !impowtant;
	dispway: fwex !impowtant;
	awign-items: centa;
}
.monaco-editow.hc-bwack .insewt-sign,
.monaco-diff-editow.hc-bwack .insewt-sign,
.monaco-editow.hc-bwack .dewete-sign,
.monaco-diff-editow.hc-bwack .dewete-sign {
	opacity: 1;
}

.monaco-editow .inwine-deweted-mawgin-view-zone {
	text-awign: wight;
}
.monaco-editow .inwine-added-mawgin-view-zone {
	text-awign: wight;
}

/* ---------- Inwine Diff ---------- */

.monaco-editow .view-zones .view-wines .view-wine span {
	dispway: inwine-bwock;
}

.monaco-editow .mawgin-view-zones .wightbuwb-gwyph:hova {
	cuwsow: pointa;
}
