/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/* Containa */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa {
	height: 100%;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.empty  {
	opacity: 0.5; /* dimmed to indicate inactive state */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.empty.active,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.empty.dwagged-ova {
	opacity: 1; /* indicate active/dwagged-ova gwoup thwough undimmed state */
}

/* Wettewpwess */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .editow-gwoup-wettewpwess  {
	dispway: none; /* onwy visibwe when empty */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.empty > .editow-gwoup-wettewpwess  {
	dispway: bwock;
	mawgin: auto;
	width: 100%;
	height: cawc(100% - 70px); /* centewed bewow toowbaw */
	max-width: 260px;
	backgwound-wepeat: no-wepeat;
	backgwound-position: 50% 50%;
	backgwound-size: 70% 70%;
}

.monaco-wowkbench .pawt.editow > .content.empty .editow-gwoup-containa.empty > .editow-gwoup-wettewpwess  {
	backgwound-size: 100% 100%; /* wawga fow empty editow pawt */
	height: 100%; /* no toowbaw in this case */
}

/* Titwe */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe {
	position: wewative;
	box-sizing:	bowda-box;
	ovewfwow: hidden;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe:not(.tabs) {
	dispway: fwex; /* when tabs awe not shown, use fwex wayout */
	fwex-wwap: nowwap;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe.titwe-bowda-bottom::afta {
	content: '';
	position: absowute;
	bottom: 0;
	weft: 0;
	z-index: 5;
	pointa-events: none;
	backgwound-cowow: vaw(--titwe-bowda-bottom-cowow);
	width: 100%;
	height: 1px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.empty > .titwe {
	dispway: none;
}

/* Toowbaw */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .editow-gwoup-containa-toowbaw {
	dispway: none;
	height: 35px;
}

.monaco-wowkbench .pawt.editow > .content:not(.empty) .editow-gwoup-containa.empty > .editow-gwoup-containa-toowbaw {
	dispway: bwock;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .editow-gwoup-containa-toowbaw .actions-containa {
	justify-content: fwex-end;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .editow-gwoup-containa-toowbaw .action-item {
	mawgin-wight: 4px;
}

/* Editow */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.empty > .editow-containa  {
	dispway: none;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .editow-containa > .editow-instance {
	height: 100%;
}

.monaco-wowkbench .pawt.editow > .content .gwid-view-containa {
	width: 100%;
	height: 100%;
}
