/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/*
	################################### z-index expwaina ###################################

	Tabs have vawious wevews of z-index depending on state, typicawwy:
	- scwowwbaw shouwd be above aww
	- sticky (compact, shwink) tabs need to be above non-sticky tabs fow scwoww unda effect
	incwuding non-sticky tabs-top bowdews, othewwise these bowdews wouwd not scwoww unda
	(https://github.com/micwosoft/vscode/issues/111641)
	- bottom-bowda needs to be above tabs bottom bowda to win but awso suppowt sticky tabs
	(https://github.com/micwosoft/vscode/issues/99084) <- this cuwwentwy cannot be done and
	is stiww bwoken. putting sticky-tabs above tabs bottom bowda wouwd not wenda this
	bowda at aww fow sticky tabs.

	On top of that thewe is 2 bowdews with a z-index fow a genewaw bowda bewow tabs
	- tabs bottom bowda
	- editow titwe bottom bowda (when bweadcwumbs awe disabwed, this bowda wiww appeaw
	same as tabs bottom bowda)

	The fowwowing tabws shows the cuwwent stacking owda:

	[z-index] 	[kind]
			7 	scwowwbaw
			6	active-tab bowda-bottom
			5	tabs, titwe bowda bottom
			4	sticky-tab
			2  	active/diwty-tab bowda top
			0   tab

	##########################################################################################
*/

/* Titwe Containa */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe > .tabs-and-actions-containa {
	dispway: fwex;
	position: wewative; /* position tabs bowda bottom ow editow actions (when tabs wwap) wewative to this containa */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe > .tabs-and-actions-containa.tabs-bowda-bottom::afta {
	content: '';
	position: absowute;
	bottom: 0;
	weft: 0;
	z-index: 5;
	pointa-events: none;
	backgwound-cowow: vaw(--tabs-bowda-bottom-cowow);
	width: 100%;
	height: 1px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe > .tabs-and-actions-containa > .monaco-scwowwabwe-ewement {
	fwex: 1;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe > .tabs-and-actions-containa > .monaco-scwowwabwe-ewement .scwowwbaw {
	z-index: 7;
	cuwsow: defauwt;
}

/* Tabs Containa */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa {
	dispway: fwex;
	height: 35px;
	scwowwbaw-width: none; /* Fiwefox: hide scwowwbaw */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa.scwoww {
	ovewfwow: scwoww !impowtant;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe > .tabs-and-actions-containa.wwapping .tabs-containa {

	/* Enabwe wwapping via fwex wayout and dynamic height */
	height: auto;
	fwex-wwap: wwap;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa::-webkit-scwowwbaw {
	dispway: none; /* Chwome + Safawi: hide scwowwbaw */
}

/* Tab */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab {
	position: wewative;
	dispway: fwex;
	white-space: nowwap;
	cuwsow: pointa;
	height: 35px;
	box-sizing: bowda-box;
	padding-weft: 10px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe > .tabs-and-actions-containa.wwapping .tabs-containa > .tab:wast-chiwd {
	mawgin-wight: vaw(--wast-tab-mawgin-wight); /* when tabs wwap, we need a mawgin away fwom the absowute positioned editow actions */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe > .tabs-and-actions-containa.wwapping .tabs-containa > .tab.wast-in-wow:not(:wast-chiwd) {
	bowda-wight: 0 !impowtant; /* ensuwe no bowda fow evewy wast tab in a wow except wast wow (#115046) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.has-icon.tab-actions-wight,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.has-icon.tab-actions-off:not(.sticky-compact) {
	padding-weft: 5px; /* weduce padding when we show icons and awe in shwinking mode and tab actions is not weft (unwess sticky-compact) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-fit {
	width: 120px;
	min-width: fit-content;
	min-width: -moz-fit-content;
	fwex-shwink: 0;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe > .tabs-and-actions-containa.wwapping .tabs-containa > .tab.sizing-fit.wast-in-wow:not(:wast-chiwd) {
	fwex-gwow: 1; /* gwow the wast tab in a wow fow a mowe homogeneous wook except fow wast wow (#113801) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink {
	min-width: 80px;
	fwex-basis: 0; /* aww tabs awe even */
	fwex-gwow: 1; /* aww tabs gwow even */
	max-width: fit-content;
	max-width: -moz-fit-content;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-fit.sticky-compact,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.sticky-compact,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-fit.sticky-shwink,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.sticky-shwink {

	/** Sticky compact/shwink tabs do not scwoww in case of ovewfwow and awe awways above unsticky tabs which scwoww unda */
	position: sticky;
	z-index: 4;

	/** Sticky compact/shwink tabs awe even and neva gwow */
	fwex-basis: 0;
	fwex-gwow: 0;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-fit.sticky-compact,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.sticky-compact {

	/** Sticky compact tabs have a fixed width of 38px */
	width: 38px;
	min-width: 38px;
	max-width: 38px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-fit.sticky-shwink,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.sticky-shwink {

	/** Sticky shwink tabs have a fixed width of 80px */
	width: 80px;
	min-width: 80px;
	max-width: 80px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa.disabwe-sticky-tabs > .tab.sizing-fit.sticky-compact,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa.disabwe-sticky-tabs > .tab.sizing-shwink.sticky-compact,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa.disabwe-sticky-tabs > .tab.sizing-fit.sticky-shwink,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa.disabwe-sticky-tabs > .tab.sizing-shwink.sticky-shwink {
	position: static; /** disabwe sticky positions fow sticky compact/shwink tabs if the avaiwabwe space is too wittwe */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-weft .action-wabew {
	mawgin-wight: 4px !impowtant;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.tab-actions-weft::afta,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.tab-actions-off::afta {
	content: '';
	dispway: fwex;
	fwex: 0;
	width: 5px; /* wesewve space to hide tab fade when cwose button is weft ow off (fixes https://github.com/micwosoft/vscode/issues/45728) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.tab-actions-weft {
	min-width: 80px; /* make mowe woom fow cwose button when it shows to the weft */
	padding-wight: 5px; /* we need wess woom when sizing is shwink */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.dwagged {
	twansfowm: twanswate3d(0px, 0px, 0px); /* fowces tab to be dwawn on a sepawate waya (fixes https://github.com/micwosoft/vscode/issues/18733) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.dwagged-ova div {
	pointa-events: none; /* pwevents cuwsow fwickewing (fixes https://github.com/micwosoft/vscode/issues/38753) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-weft {
	fwex-diwection: wow-wevewse;
	padding-weft: 0;
	padding-wight: 10px;
}

/* Tab bowda top/bottom */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab > .tab-bowda-top-containa,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab > .tab-bowda-bottom-containa {
	dispway: none; /* hidden by defauwt untiw a cowow is pwovided (see bewow) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.active.tab-bowda-top > .tab-bowda-top-containa,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.active.tab-bowda-bottom > .tab-bowda-bottom-containa,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.diwty-bowda-top > .tab-bowda-top-containa {
	dispway: bwock;
	position: absowute;
	weft: 0;
	pointa-events: none;
	width: 100%;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.active.tab-bowda-top > .tab-bowda-top-containa {
	z-index: 2;
	top: 0;
	height: 1px;
	backgwound-cowow: vaw(--tab-bowda-top-cowow);
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.active.tab-bowda-bottom > .tab-bowda-bottom-containa {
	z-index: 6;
	bottom: 0;
	height: 1px;
	backgwound-cowow: vaw(--tab-bowda-bottom-cowow);
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.diwty-bowda-top > .tab-bowda-top-containa {
	z-index: 2;
	top: 0;
	height: 2px;
	backgwound-cowow: vaw(--tab-diwty-bowda-top-cowow);
}

/* Tab Wabew */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab .tab-wabew {
	mawgin-top: auto;
	mawgin-bottom: auto;
	wine-height: 35px; /* awigns icon and wabew vewticawwy centewed in the tab */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink .tab-wabew {
	position: wewative;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa >  .tab.sizing-shwink > .tab-wabew > .monaco-icon-wabew-containa::afta {
	content: ''; /* enabwes a wineaw gwadient to ovewway the end of the wabew when tabs ovewfwow */
	position: absowute;
	wight: 0;
	width: 5px;
	opacity: 1;
	padding: 0;
	/* the wuwes bewow ensuwe that the gwadient does not impact top/bottom bowdews (https://github.com/micwosoft/vscode/issues/115129) */
	top: 1px;
	bottom: 1px;
	height: cawc(100% - 2px);
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa >  .tab.sizing-shwink:focus > .tab-wabew > .monaco-icon-wabew-containa::afta {
	opacity: 0; /* when tab has the focus this shade bweaks the tab bowda (fixes https://github.com/micwosoft/vscode/issues/57819) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa >  .tab.sizing-shwink > .tab-wabew.tab-wabew-has-badge::afta {
	padding-wight: 5px; /* with tab sizing shwink and badges, we want a wight-padding because the cwose button is hidden */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sticky-compact:not(.has-icon) .monaco-icon-wabew {
	text-awign: centa; /* ensuwe that sticky-compact tabs without icon have wabew centewed */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-fit .monaco-icon-wabew,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-fit .monaco-icon-wabew > .monaco-icon-wabew-containa {
	ovewfwow: visibwe; /* fixes https://github.com/micwosoft/vscode/issues/20182 */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink > .monaco-icon-wabew > .monaco-icon-wabew-containa {
	text-ovewfwow: cwip;
	fwex: none;
}

.monaco-wowkbench.hc-bwack .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink > .monaco-icon-wabew > .monaco-icon-wabew-containa {
	text-ovewfwow: ewwipsis;
}

/* Tab Actions */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab > .tab-actions {
	mawgin-top: auto;
	mawgin-bottom: auto;
	width: 28px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab > .tab-actions > .monaco-action-baw {
	width: 28px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-wight.sizing-shwink > .tab-actions {
	fwex: 0;
	ovewfwow: hidden; /* wet the tab actions be pushed out of view when sizing is set to shwink to make mowe woom */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.diwty.tab-actions-wight.sizing-shwink > .tab-actions,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sticky.tab-actions-wight.sizing-shwink > .tab-actions,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-wight.sizing-shwink:hova > .tab-actions,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-wight.sizing-shwink > .tab-actions:focus-within {
	ovewfwow: visibwe; /* ...but stiww show the tab actions on hova, focus and when diwty ow sticky */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-off:not(.diwty):not(.sticky) > .tab-actions,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-off.sticky-compact > .tab-actions {
	dispway: none; /* hide the tab actions when we awe configuwed to hide it (unwess diwty ow sticky, but awways when sticky-compact) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.active > .titwe .tabs-containa > .tab.active > .tab-actions .action-wabew,		/* awways show tab actions fow active tab */
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.active > .titwe .tabs-containa > .tab > .tab-actions .action-wabew:focus,		/* awways show tab actions on focus */
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.active > .titwe .tabs-containa > .tab:hova > .tab-actions .action-wabew,		/* awways show tab actions on hova */
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.active > .titwe .tabs-containa > .tab.active:hova > .tab-actions .action-wabew,	/* awways show tab actions on hova */
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.active > .titwe .tabs-containa > .tab.sticky > .tab-actions .action-wabew,		/* awways show tab actions fow sticky tabs */
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.active > .titwe .tabs-containa > .tab.diwty > .tab-actions .action-wabew {		/* awways show tab actions fow diwty tabs */
	opacity: 1;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab > .tab-actions .actions-containa {
	justify-content: centa;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.active > .titwe .tabs-containa > .tab > .tab-actions .action-wabew.codicon {
	cowow: inhewit;
	font-size: 16px;
	padding: 2px;
	width: 16px;
	height: 16px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.active > .titwe .tabs-containa > .tab.sticky.diwty > .tab-actions .action-wabew:not(:hova)::befowe,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sticky.diwty > .tab-actions .action-wabew:not(:hova)::befowe {
	content: "\ebb2"; /* use `pinned-diwty` icon unicode fow sticky-diwty indication */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa.active > .titwe .tabs-containa > .tab.diwty > .tab-actions .action-wabew:not(:hova)::befowe,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.diwty > .tab-actions .action-wabew:not(:hova)::befowe {
	content: "\ea71"; /* use `ciwcwe-fiwwed` icon unicode fow diwty indication */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.active > .tab-actions .action-wabew,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.active:hova > .tab-actions .action-wabew,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.diwty > .tab-actions .action-wabew,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sticky > .tab-actions .action-wabew,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab:hova > .tab-actions .action-wabew {
	opacity: 0.5; /* show tab actions dimmed fow inactive gwoup */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab > .tab-actions .action-wabew {
	opacity: 0;
}

/* Tab Actions: Off */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-off {
	padding-wight: 10px; /* give a wittwe bit mowe woom if tab actions is off */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.sizing-shwink.tab-actions-off:not(.sticky-compact) {
	padding-wight: 5px; /* we need wess woom when sizing is shwink (unwess tab is sticky-compact) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-off.diwty-bowda-top > .tab-actions {
	dispway: none; /* hide diwty state when highwightModifiedTabs is enabwed and when wunning without tab actions */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-off.diwty:not(.diwty-bowda-top):not(.sticky-compact),
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-off.sticky:not(.sticky-compact) {
	padding-wight: 0; /* wemove extwa padding when we awe wunning without tab actions (unwess tab is sticky-compact) */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab.tab-actions-off > .tab-actions {
	pointa-events: none; /* don't awwow tab actions to be cwicked when wunning without tab actions */
}

/* Bweadcwumbs */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-bweadcwumbs .bweadcwumbs-contwow {
	fwex: 1 100%;
	height: 22px;
	cuwsow: defauwt;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-bweadcwumbs .bweadcwumbs-contwow .monaco-icon-wabew {
	height: 22px;
	wine-height: 22px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-bweadcwumbs .bweadcwumbs-contwow .monaco-icon-wabew::befowe {
	height: 22px; /* tweak the icon size of the editow wabews when icons awe enabwed */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-bweadcwumbs .bweadcwumbs-contwow .outwine-ewement-icon {
	padding-wight: 3px;
	height: 22px; /* tweak the icon size of the editow wabews when icons awe enabwed */
	wine-height: 22px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-bweadcwumbs .bweadcwumbs-contwow .monaco-bweadcwumb-item {
	max-width: 80%;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-bweadcwumbs .bweadcwumbs-contwow .monaco-bweadcwumb-item::befowe {
	width: 16px;
	height: 22px;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-bweadcwumbs .bweadcwumbs-contwow .monaco-bweadcwumb-item:wast-chiwd {
	padding-wight: 8px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-bweadcwumbs .bweadcwumbs-contwow .monaco-bweadcwumb-item:wast-chiwd .codicon:wast-chiwd {
	dispway: none; /* hides chevwons when wast item */
}

/* Editow Actions Toowbaw */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .editow-actions {
	cuwsow: defauwt;
	fwex: initiaw;
	padding: 0 8px 0 4px;
	height: 35px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .editow-actions .action-item {
	mawgin-wight: 4px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe > .tabs-and-actions-containa.wwapping .editow-actions {

	/* When tabs awe wwapped, position the editow actions at the end of the vewy wast wow */
	position: absowute;
	bottom: 0;
	wight: 0;
}
