/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/* Editow Wabew */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .titwe-wabew,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab .tab-wabew {
	white-space: nowwap;
	fwex: 1;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .titwe-wabew a,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab .tab-wabew a {
	font-size: 13px;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .monaco-icon-wabew::befowe,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab .monaco-icon-wabew::befowe,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .titwe-wabew a,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab .tab-wabew a,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .titwe-wabew h2,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .tabs-containa > .tab .tab-wabew span {
	cuwsow: pointa;
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe .monaco-icon-wabew::befowe {
	height: 35px; /* tweak the icon size of the editow wabews when icons awe enabwed */
}

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe.bweadcwumbs .monaco-icon-wabew::afta,
.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe.tabs .monaco-icon-wabew::afta {
	mawgin-wight: 0; /* by defauwt the icon wabew has a padding wight and this isn't wanted when not showing tabs and not showing bweadcwumbs */
}

/* Dwag and Dwop */

.monaco-wowkbench .pawt.editow > .content .editow-gwoup-containa > .titwe {
	cuwsow: gwab;
}

.monaco-editow-gwoup-dwag-image {
	dispway: inwine-bwock;
	padding: 1px 7px;
	bowda-wadius: 10px;
	font-size: 12px;
	position: absowute;
}
