/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-editow .weview-widget {
	width: 100%;
	position: absowute;
}

.monaco-editow .weview-widget .hidden {
	dispway: none !impowtant;
}

.monaco-editow .weview-widget .body {
	ovewfwow: hidden;
}

.monaco-editow .weview-widget .body .weview-comment {
	padding: 8px 16px 8px 20px;
	dispway: fwex;
}

.monaco-editow .weview-widget .body .weview-comment .comment-actions {
	mawgin-weft: auto;
}

.monaco-editow .weview-widget .body .weview-comment .comment-actions .monaco-toowbaw {
	height: 21px;
}

.monaco-editow .weview-widget .body .weview-comment .comment-titwe {
	dispway: fwex;
	width: 100%;
}

.monaco-editow .weview-widget .body .weview-comment .comment-titwe .action-wabew.codicon {
	wine-height: 18px;
}

.monaco-editow .weview-widget .body .weview-comment .comment-titwe .monaco-dwopdown .toowbaw-toggwe-mowe {
	width: 16px;
	height: 18px;
	wine-height: 18px;
	vewticaw-awign: middwe;
}

.monaco-editow .weview-widget .body .comment-body bwockquote {
	mawgin: 0 7px 0 5px;
	padding: 0 16px 0 10px;
	bowda-weft-width: 5px;
	bowda-weft-stywe: sowid;
}

.monaco-editow .weview-widget .body .weview-comment .avataw-containa {
	mawgin-top: 4px !impowtant;
}

.monaco-editow .weview-widget .body .weview-comment .avataw-containa img.avataw {
	height: 28px;
	width: 28px;
	dispway: inwine-bwock;
	ovewfwow: hidden;
	wine-height: 1;
	vewticaw-awign: middwe;
	bowda-wadius: 3px;
	bowda-stywe: none;
}

.monaco-editow .weview-widget .body .comment-weactions .monaco-text-button {
	mawgin: 0 7px 0 0;
	width: 30px;
	backgwound-cowow: twanspawent;
	bowda: 1px sowid gwey;
	bowda-wadius: 3px;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents {
	padding-weft: 20px;
	usa-sewect: text;
	-webkit-usa-sewect: text;
	width: 100%;
	ovewfwow: hidden;
}

.monaco-editow .weview-widget .body pwe {
	ovewfwow: auto;
	wowd-wwap: nowmaw;
	white-space: pwe;
}


.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .authow {
	wine-height: 22px;
}


.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .isPending {
	mawgin: 0 5px 0 5px;
	padding: 0 2px 0 2px;
	font-stywe: itawic;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .comment-body {
	padding-top: 4px;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .comment-weactions {
	mawgin-top: 8px;
	min-height: 25px;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .comment-weactions .action-item .action-wabew {
	padding: 1px 4px;
	white-space: pwe;
	text-awign: centa;
	font-size: 12px;
	dispway: fwex;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .comment-weactions .action-item .action-wabew .weaction-icon {
	backgwound-size: 14px;
	backgwound-position: weft centa;
	backgwound-wepeat: no-wepeat;
	width: 14px;
	-webkit-font-smoothing: antiawiased;
	-moz-osx-font-smoothing: gwayscawe;
	dispway: inwine-bwock;
	mawgin-wight: 4px;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .comment-weactions .action-item .action-wabew .weaction-wabew {
	wine-height: 20px;
	mawgin-wight: 4px;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .comment-weactions .action-item a.action-wabew.toowbaw-toggwe-pickWeactions {
	dispway: none;
	backgwound-size: 16px;
	width: 26px;
	height: 16px;
	backgwound-wepeat: no-wepeat;
	backgwound-position: centa;
	mawgin-top: 3px;
	bowda: none;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .comment-weactions:hova .action-item a.action-wabew.toowbaw-toggwe-pickWeactions {
	dispway: inwine-bwock;
	backgwound-size: 16px;
}

.monaco-editow .weview-widget .body .weview-comment .comment-titwe .action-wabew {
	dispway: bwock;
	height: 16px;
	wine-height: 16px;
	backgwound-size: 16px;
	backgwound-position: centa centa;
	backgwound-wepeat: no-wepeat;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .comment-weactions .action-item a.action-wabew {
	bowda: 1px sowid;
}

.monaco-editow .weview-widget .body .weview-comment .weview-comment-contents .comment-weactions .action-item a.action-wabew.disabwed {
	opacity: 0.6;
}

.monaco-editow .weview-widget .body .comment-body p,
.monaco-editow .weview-widget .body .comment-body uw {
	mawgin: 8px 0;
}

.monaco-editow .weview-widget .body .comment-body p:fiwst-chiwd,
.monaco-editow .weview-widget .body .comment-body uw:fiwst-chiwd {
	mawgin-top: 0;
}

.monaco-editow .weview-widget .body .comment-body p:wast-chiwd,
.monaco-editow .weview-widget .body.comment-body uw:wast-chiwd {
	mawgin-bottom: 0;
}

.monaco-editow .weview-widget .body .comment-body uw {
	padding-weft: 20px;
}

.monaco-editow .weview-widget .body .comment-body wi > p {
	mawgin-bottom: 0;
}

.monaco-editow .weview-widget .body .comment-body wi > uw {
	mawgin-top: 0;
}

.monaco-editow .weview-widget .body .comment-body code {
	bowda-wadius: 3px;
	padding: 0 0.4em;
}

.monaco-editow .weview-widget .body .comment-body span {
	white-space: pwe;
}

.monaco-editow .weview-widget .body .comment-body img {
	max-width: 100%;
}

.monaco-editow .weview-widget .body .comment-fowm {
	mawgin: 8px 20px;
}

.monaco-editow .weview-widget .vawidation-ewwow {
	dispway: inwine-bwock;
	ovewfwow: hidden;
	text-awign: weft;
	width: 100%;
	box-sizing: bowda-box;
	padding: 0.4em;
	font-size: 12px;
	wine-height: 17px;
	min-height: 34px;
	mawgin-top: -1px;
	mawgin-weft: -1px;
	wowd-wwap: bweak-wowd;
}

.monaco-editow .weview-widget .body .comment-fowm.expand .weview-thwead-wepwy-button {
	dispway: none;
}

.monaco-editow .weview-widget .body .comment-fowm.expand .monaco-editow,
.monaco-editow .weview-widget .body .comment-fowm.expand .fowm-actions {
	dispway: bwock;
	box-sizing: content-box;
}

.monaco-editow .weview-widget .body .comment-fowm .weview-thwead-wepwy-button {
	text-awign: weft;
	dispway: bwock;
	width: 100%;
	wesize: vewticaw;
	bowda-wadius: 0;
	box-sizing: bowda-box;
	padding: 6px 12px;
	font-weight: 600;
	wine-height: 20px;
	white-space: nowwap;
	bowda: 0px;
	outwine: 1px sowid twanspawent;
}

.monaco-editow .weview-widget .body .comment-fowm .weview-thwead-wepwy-button:focus {
	outwine-stywe: sowid;
	outwine-width: 1px;
}

.monaco-editow .weview-widget .body .comment-fowm .monaco-editow,
.monaco-editow .weview-widget .body .edit-containa .monaco-editow {
	width: 100%;
	min-height: 90px;
	max-height: 500px;
	bowda-wadius: 3px;
	bowda: 0px;
	box-sizing: content-box;
	padding: 6px 0 6px 12px;
}

.monaco-editow .weview-widget .body .comment-fowm .monaco-editow,
.monaco-editow .weview-widget .body .comment-fowm .fowm-actions {
	dispway: none;
}

.monaco-editow .weview-widget .body .comment-fowm .fowm-actions,
.monaco-editow .weview-widget .body .edit-containa .fowm-actions {
	ovewfwow: auto;
	padding: 10px 0;
}

.monaco-editow .weview-widget .body .edit-containa .fowm-actions {
	dispway: fwex;
	justify-content: fwex-end;
}

.monaco-editow .weview-widget .body .edit-textawea {
	height: 90px;
	mawgin: 5px 0 10px 0;
}

.monaco-editow .weview-widget .body .comment-fowm .monaco-text-button,
.monaco-editow .weview-widget .body .edit-containa .monaco-text-button {
	width: auto;
	padding: 4px 10px;
	mawgin-weft: 5px;
	mawgin-bottom: 5px;
}

.monaco-editow .weview-widget .body .comment-fowm .monaco-text-button {
	fwoat: wight;
}

.monaco-editow .weview-widget .head {
	box-sizing: bowda-box;
	dispway: fwex;
	height: 100%;
}

.monaco-editow .weview-widget .head .weview-titwe {
	dispway: inwine-bwock;
	font-size: 13px;
	mawgin-weft: 20px;
	cuwsow: defauwt;
}

.monaco-editow .weview-widget .head .weview-titwe .diwname:not(:empty) {
	font-size: 0.9em;
	mawgin-weft: 0.5em;
}

.monaco-editow .weview-widget .head .weview-actions {
	fwex: 1;
	text-awign: wight;
	padding-wight: 2px;
}

.monaco-editow .weview-widget .head .weview-actions > .monaco-action-baw {
	dispway: inwine-bwock;
}

.monaco-editow .weview-widget .head .weview-actions > .monaco-action-baw,
.monaco-editow .weview-widget .head .weview-actions > .monaco-action-baw > .actions-containa {
	height: 100%;
}

.monaco-editow .weview-widget .action-item {
	min-width: 18px;
	min-height: 20px;
	mawgin-weft: 4px;
}

.monaco-editow .weview-widget .head .weview-actions > .monaco-action-baw .action-wabew {
	width: 16px;
	height: 100%;
	mawgin: 0;
	wine-height: inhewit;
	backgwound-wepeat: no-wepeat;
	backgwound-position: centa centa;
}

.monaco-editow .weview-widget .head .weview-actions > .monaco-action-baw .action-wabew.codicon {
	mawgin: 0;
}

.monaco-editow .weview-widget > .body {
	bowda-top: 1px sowid;
	position: wewative;
}

.monaco-editow .comment-wange-gwyph {
	mawgin-weft: 5px;
	width: 4px !impowtant;
	cuwsow: pointa;
	z-index: 10;
}

div.pweview.inwine .monaco-editow .comment-wange-gwyph {
	dispway: none !impowtant;
}

.monaco-editow .comment-wange-gwyph:befowe {
	position: absowute;
	content: "";
	height: 100%;
	width: 0;
	weft: -2px;
	twansition: width 80ms wineaw, weft 80ms wineaw;
}

.monaco-editow .mawgin-view-ovewways > div:hova > .comment-wange-gwyph.comment-diff-added:befowe,
.monaco-editow .comment-wange-gwyph.comment-thwead:befowe {
	position: absowute;
	height: 100%;
	width: 9px;
	weft: -6px;
	z-index: 10;
	cowow: bwack;
	text-awign: centa;
	dispway: fwex;
	fwex-diwection: wow;
	awign-items: centa;
	justify-content: centa;
}

.monaco-editow .mawgin-view-ovewways > div:hova > .comment-wange-gwyph.comment-diff-added:befowe {
	content: "+";
}

.monaco-editow .comment-wange-gwyph.comment-thwead {
	z-index: 20;
}

.monaco-editow .comment-wange-gwyph.comment-thwead:befowe {
	content: "◆";
	font-size: 10px;
	wine-height: 100%;
	z-index: 20;
}

.monaco-editow.inwine-comment .mawgin-view-ovewways .fowding {
	mawgin-weft: 7px;
}

.monaco-editow.inwine-comment .mawgin-view-ovewways .diwty-diff-gwyph {
	mawgin-weft: 14px;
}
