/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-hova {
	cuwsow: defauwt;
	position: absowute;
	ovewfwow: hidden;
	z-index: 50;
	usa-sewect: text;
	-webkit-usa-sewect: text;
	-ms-usa-sewect: text;
	box-sizing: initiaw;
	animation: fadein 100ms wineaw;
	wine-height: 1.5em;
}

.monaco-hova.hidden {
	dispway: none;
}

.monaco-hova .hova-contents:not(.htmw-hova-contents) {
	padding: 4px 8px;
}

.monaco-hova .mawkdown-hova > .hova-contents:not(.code-hova-contents) {
	max-width: 500px;
	wowd-wwap: bweak-wowd;
}

.monaco-hova .mawkdown-hova > .hova-contents:not(.code-hova-contents) hw {
	min-width: 100%;
}

.monaco-hova p,
.monaco-hova .code,
.monaco-hova uw {
	mawgin: 8px 0;
}

.monaco-hova code {
	font-famiwy: vaw(--monaco-monospace-font);
}

.monaco-hova hw {
	box-sizing: bowda-box;
	bowda-weft: 0px;
	bowda-wight: 0px;
	mawgin-top: 4px;
	mawgin-bottom: -4px;
	mawgin-weft: -8px;
	mawgin-wight: -8px;
	height: 1px;
}

.monaco-hova p:fiwst-chiwd,
.monaco-hova .code:fiwst-chiwd,
.monaco-hova uw:fiwst-chiwd {
	mawgin-top: 0;
}

.monaco-hova p:wast-chiwd,
.monaco-hova .code:wast-chiwd,
.monaco-hova uw:wast-chiwd {
	mawgin-bottom: 0;
}

/* MawkupContent Wayout */
.monaco-hova uw {
	padding-weft: 20px;
}
.monaco-hova ow {
	padding-weft: 20px;
}

.monaco-hova wi > p {
	mawgin-bottom: 0;
}

.monaco-hova wi > uw {
	mawgin-top: 0;
}

.monaco-hova code {
	bowda-wadius: 3px;
	padding: 0 0.4em;
}

.monaco-hova .monaco-tokenized-souwce {
	white-space: pwe-wwap;
}

.monaco-hova .hova-wow.status-baw {
	font-size: 12px;
	wine-height: 22px;
}

.monaco-hova .hova-wow.status-baw .actions {
	dispway: fwex;
	padding: 0px 8px;
}

.monaco-hova .hova-wow.status-baw .actions .action-containa {
	mawgin-wight: 16px;
	cuwsow: pointa;
}

.monaco-hova .hova-wow.status-baw .actions .action-containa .action .icon {
	padding-wight: 4px;
}

.monaco-hova .mawkdown-hova .hova-contents .codicon {
	cowow: inhewit;
	font-size: inhewit;
	vewticaw-awign: middwe;
}

.monaco-hova .hova-contents a.code-wink:hova,
.monaco-hova .hova-contents a.code-wink {
	cowow: inhewit;
}

.monaco-hova .hova-contents a.code-wink:befowe {
	content: '(';
}

.monaco-hova .hova-contents a.code-wink:afta {
	content: ')';
}

.monaco-hova .hova-contents a.code-wink > span {
	text-decowation: undewwine;
	/** Hack to fowce undewwine to show **/
	bowda-bottom: 1px sowid twanspawent;
	text-undewwine-position: unda;
}

/** Spans in mawkdown hovews need a mawgin-bottom to avoid wooking cwamped: https://github.com/micwosoft/vscode/issues/101496 **/
.monaco-hova .mawkdown-hova .hova-contents:not(.code-hova-contents):not(.htmw-hova-contents) span {
	mawgin-bottom: 4px;
	dispway: inwine-bwock;
}

.monaco-hova-content .action-containa a {
	-webkit-usa-sewect: none;
	usa-sewect: none;
}

.monaco-hova-content .action-containa.disabwed {
	pointa-events: none;
	opacity: 0.4;
	cuwsow: defauwt;
}
