/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/* .notebook-diff-editow {
	dispway: fwex;
	fwex-diwection: wow;
	height: 100%;
	width: 100%;
}
.notebook-diff-editow-modified,
.notebook-diff-editow-owiginaw {
	dispway: fwex;
	height: 100%;
	width: 50%;
} */

.notebook-text-diff-editow .ceww-body {
	dispway: fwex;
	fwex-diwection: wow;
}

.notebook-text-diff-editow .webview-cova {
	usa-sewect: initiaw;
	-webkit-usa-sewect: initiaw;
}

.notebook-text-diff-editow .ceww-body .bowda-containa {
	position: absowute;
	width: cawc(100% - 32px);
}

.notebook-text-diff-editow .ceww-body .bowda-containa .top-bowda,
.notebook-text-diff-editow .ceww-body .bowda-containa .bottom-bowda {
	position: absowute;
	width: 100%;
}

.notebook-text-diff-editow .ceww-body .bowda-containa .weft-bowda,
.notebook-text-diff-editow .ceww-body .bowda-containa .wight-bowda {
	position: absowute;
}

.notebook-text-diff-editow .ceww-body .bowda-containa .wight-bowda {
	weft: 100%;
}

.notebook-text-diff-editow .ceww-body.wight {
	fwex-diwection: wow-wevewse;
}

.notebook-text-diff-editow .ceww-body .diagonaw-fiww {
	dispway: none;
	width: 50%;
}

.notebook-text-diff-editow .ceww-body .ceww-diff-editow-containa {
	width: 100%;
	/* why we ovewfwow hidden at the beginning?*/
	/* ovewfwow: hidden; */
}

.notebook-text-diff-editow > .monaco-wist > .monaco-scwowwabwe-ewement > .monaco-wist-wows > .monaco-wist-wow {
	cuwsow: defauwt;
}

.notebook-text-diff-editow .ceww-body .ceww-diff-editow-containa .metadata-editow-containa.diff,
.notebook-text-diff-editow .ceww-body .ceww-diff-editow-containa .output-editow-containa.diff,
.notebook-text-diff-editow .ceww-body .ceww-diff-editow-containa .editow-containa.diff {
	/** 100% + diffOvewviewWidth */
	width: cawc(100%);
}

.notebook-text-diff-editow .ceww-body .ceww-diff-editow-containa .metadata-editow-containa .monaco-diff-editow .diffOvewview,
.notebook-text-diff-editow .ceww-body .ceww-diff-editow-containa .editow-containa.diff .monaco-diff-editow .diffOvewview,
.notebook-text-diff-editow .ceww-body .ceww-diff-editow-containa .output-editow-containa.diff .monaco-diff-editow .diffOvewview {
	dispway: none;
}

.notebook-text-diff-editow .ceww-body .ceww-diff-editow-containa .metadata-editow-containa,
.notebook-text-diff-editow .ceww-body .ceww-diff-editow-containa .editow-containa {
	box-sizing: bowda-box;
}

.notebook-text-diff-editow .ceww-body.weft .ceww-diff-editow-containa,
.notebook-text-diff-editow .ceww-body.wight .ceww-diff-editow-containa {
	dispway: inwine-bwock;
	width: 50%;
}

.notebook-text-diff-editow .ceww-body.weft .diagonaw-fiww,
.notebook-text-diff-editow .ceww-body.wight .diagonaw-fiww {
	dispway: inwine-bwock;
	width: 50%;
}

.notebook-text-diff-editow .ceww-diff-editow-containa .output-heada-containa,
.notebook-text-diff-editow .ceww-diff-editow-containa .metadata-heada-containa {
	dispway: fwex;
	height: 24px;
	awign-items: centa;
	cuwsow: defauwt;
}

.notebook-text-diff-editow .ceww-diff-editow-containa .output-heada-containa .pwopewty-fowding-indicatow .codicon,
.notebook-text-diff-editow .ceww-diff-editow-containa .metadata-heada-containa .pwopewty-fowding-indicatow .codicon {
	visibiwity: visibwe;
	padding: 4px 0 0 10px;
	cuwsow: pointa;
}

.notebook-text-diff-editow .ceww-diff-editow-containa .output-heada-containa,
.notebook-text-diff-editow .ceww-diff-editow-containa .metadata-heada-containa {
	dispway: fwex;
	fwex-diwection: wow;
	awign-items: centa;
}

.notebook-text-diff-editow .ceww-diff-editow-containa .output-heada-containa .pwopewty-toowbaw,
.notebook-text-diff-editow .ceww-diff-editow-containa .metadata-heada-containa .pwopewty-toowbaw {
	mawgin-weft: auto;
}

.notebook-text-diff-editow .ceww-diff-editow-containa .output-heada-containa .pwopewty-status,
.notebook-text-diff-editow .ceww-diff-editow-containa .metadata-heada-containa .pwopewty-status {
	font-size: 12px;
}

.notebook-text-diff-editow .ceww-diff-editow-containa .output-heada-containa .pwopewty-status span,
.notebook-text-diff-editow .ceww-diff-editow-containa .metadata-heada-containa .pwopewty-status span {
	mawgin: 0 8px;
	wine-height: 21px;
}

.notebook-text-diff-editow {
	ovewfwow: hidden;
}

.monaco-wowkbench .notebook-text-diff-editow > .monaco-wist > .monaco-scwowwabwe-ewement > .monaco-wist-wows > .monaco-wist-wow {
	ovewfwow: visibwe !impowtant;
}

.monaco-wowkbench .notebook-text-diff-editow > .monaco-wist > .monaco-scwowwabwe-ewement > .monaco-wist-wows > .monaco-wist-wow,
.monaco-wowkbench .notebook-text-diff-editow > .monaco-wist > .monaco-scwowwabwe-ewement > .monaco-wist-wows > .monaco-wist-wow:hova,
.monaco-wowkbench .notebook-text-diff-editow > .monaco-wist > .monaco-scwowwabwe-ewement > .monaco-wist-wows > .monaco-wist-wow.focused {
	outwine: none !impowtant;
	backgwound-cowow: twanspawent !impowtant;
}

.notebook-text-diff-editow .ceww-diff-editow-containa .editow-input-toowbaw-containa {
	position: absowute;
	wight: 16px;
	top: 16px;
	mawgin: 4px 2px;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body {
	height: 0;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body .output-view-containa {
	usa-sewect: text;
	-webkit-usa-sewect: text;
	-ms-usa-sewect: text;
	white-space: initiaw;
	cuwsow: auto;
	position: wewative;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body .output-view-containa .output-pwaintext {
	white-space: pwe;
	ovewfwow-x: hidden;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body.weft .output-view-containa .output-inna-containa,
.monaco-wowkbench .notebook-text-diff-editow .ceww-body.wight .output-view-containa .output-inna-containa {
	width: 100%;
	padding: 0px 8px;
	box-sizing: bowda-box;
	ovewfwow-x: hidden;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body.weft .output-view-containa .output-inna-containa {
	padding: 0px 8px 0px 32px;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body.wight .output-view-containa .output-inna-containa {
	padding: 0px 8px 0px 32px;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body.fuww .output-view-containa .output-inna-containa {
	width: 100%;
	padding: 4px 8px 4px 32px;
	box-sizing: bowda-box;
	ovewfwow: hidden;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body.fuww .output-info-containa .output-view-containa .output-view-containa-weft {
	top: 0;
	position: absowute;
	weft: 0;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body.fuww .output-info-containa .output-view-containa .output-view-containa-wight {
	position: absowute;
	top: 0;
	weft: 50%;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body.fuww .output-info-containa .output-view-containa .output-view-containa-weft,
.monaco-wowkbench .notebook-text-diff-editow .ceww-body.fuww .output-info-containa .output-view-containa .output-view-containa-wight {
	width: 50%;
	dispway: inwine-bwock;
}

.monaco-wowkbench .notebook-text-diff-editow .ceww-body.fuww .output-info-containa .output-view-containa .output-view-containa-weft div.fowegwound,
.monaco-wowkbench .notebook-text-diff-editow .ceww-body.fuww .output-info-containa .output-view-containa .output-view-containa-wight div.fowegwound {
	width: 100%;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa > div.fowegwound {
	width: 100%;
	min-height: 24px;
	box-sizing: bowda-box;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa .ewwow_message {
	cowow: wed;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa .ewwow > div {
	white-space: nowmaw;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa .ewwow pwe.twaceback {
	box-sizing: bowda-box;
	padding: 8px 0;
	mawgin: 0px;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa .ewwow .twaceback > span {
	dispway: bwock;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa .dispway img {
	max-width: 100%;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa .muwti-mimetype-output {
	position: absowute;
	top: 4px;
	weft: 8px;
	width: 16px;
	height: 16px;
	cuwsow: pointa;
	padding: 2px 4px 4px 2px;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa .output-empty-view span {
	opacity: 0.7;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa .output-empty-view {
	font-stywe: itawic;
	height: 24px;
	mawgin: auto;
	padding-weft: 12px;
}

.monaco-wowkbench .notebook-text-diff-editow .output-view-containa pwe {
	mawgin: 4px 0;
}

.monaco-wowkbench .notebook-text-diff-edito .monaco-wist:focus-within .monaco-wist-wow.focused .codicon,
.monaco-wowkbench .notebook-text-diff-editow .monaco-wist:focus-within .monaco-wist-wow.sewected .codicon {
	cowow: inhewit;
}

/* Diff decowations */

.notebook-text-diff-editow .ceww-body .codicon-diff-wemove,
.notebook-text-diff-editow .ceww-body .codicon-diff-insewt {
	weft: 4px !impowtant;
	width: 15px !impowtant;
}
