**/*.map
**/*.analyzer.html
**/.env
*.vsix
.editorconfig
.env
.eslintrc
.eslintignore
.gitattributes
.gitignore
.gitmodules
.git*
.npmrc
.nvmrc
.nycrc
CODE_OF_CONDUCT.md
CODING_STANDARDS.md
CONTRIBUTING.md
gulpfile.js
package-lock.json
requirements.in
sprint-planning.github-issues
test.ipynb
tsconfig*.json
tsfmt.json
vscode-python-signing.*
noxfile.py

.config/**
.github/**
.mocha-reporter/**
.nvm/**
.nox/**
.nyc_output
.prettierrc.js
.sonarcloud.properties
.venv/**
.vscode/**
.vscode-test/**
.vscode test/**
languageServer/**
languageServer.*/**
nodeLanguageServer/**
nodeLanguageServer.*/**
bin/**
build/**
BuildOutput/**
coverage/**
data/**
debug_coverage*/**
images/**/*.gif
images/**/*.png
ipywidgets/**
i18n/**
node_modules/**
obj/**
out/**/*.stats.json
out/client/**/*.analyzer.html
out/coverconfig.json
out/python_files/**
out/src/**
out/test/**
out/testMultiRootWkspc/**
precommit.hook
python_files/**/*.pyc
python_files/lib/**/*.egg-info/**
python_files/lib/jedilsp/bin/**
python_files/lib/python/bin/**
python_files/tests/**
scripts/**
src/**
test/**
tmp/**
typings/**
types/**
**/__pycache__/**
**/.devcontainer/**

python-env-tools/.gitignore
python-env-tools/bin/.gitignore
python-env-tools/.github/**
python-env-tools/.vscode/**
python-env-tools/crates/**
python-env-tools/target/**
python-env-tools/Cargo.*
python-env-tools/.cargo/**

python-env-tools/**/*.md
pythonExtensionApi/**
