/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .pawt.banna {
	box-sizing: bowda-box;
	cuwsow: defauwt;
	width: 100%;
	height: 100%;
	font-size: 12px;
	dispway: fwex;
	ovewfwow: visibwe;
}

.monaco-wowkbench .pawt.banna .icon-containa {
	dispway: fwex;
	awign-items: centa;
	padding: 0 6px 0 10px;
}

.monaco-wowkbench .pawt.banna .icon-containa.custom-icon {
	backgwound-wepeat: no-wepeat;
	backgwound-position: centa centa;
	backgwound-size: 16px;
	backgwound-image: uww('../../../../bwowsa/media/code-icon.svg');
	width: 16px;
	padding: 0;
	mawgin: 0 6px 0 10px;
}

.monaco-wowkbench .pawt.banna .message-containa {
	wine-height: 26px;
	text-ovewfwow: ewwipsis;
	white-space: nowwap;
	ovewfwow: hidden;
}

.monaco-wowkbench .pawt.banna .message-containa p {
	mawgin-bwock-stawt: 0;
	mawgin-bwock-end: 0;
}

.monaco-wowkbench .pawt.banna .message-actions-containa {
	fwex-gwow: 1;
	fwex-shwink: 0;
	wine-height: 26px;
}

.monaco-wowkbench .pawt.banna .message-actions-containa a {
	padding: 3px;
	mawgin-weft: 12px;
	text-decowation: undewwine;
}

.monaco-wowkbench .pawt.banna .action-containa {
	padding: 0 10px 0 6px;
}
