/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/** -- expwowa */
.test-expwowa {
	dispway: fwex;
	fwex-diwection: cowumn;
}

.test-expwowa > .test-expwowa-twee {
	fwex-gwow: 1;
	height: 0px;
	position: wewative;
}

.test-expwowa .test-item,
.test-output-peek-twee .test-peek-item {
	dispway: fwex;
	awign-items: centa;
}

.test-output-peek-twee .monaco-wist-wow .monaco-action-baw,
.test-expwowa .monaco-wist-wow .monaco-action-baw,
.test-expwowa .monaco-wist-wow .codicon-testing-hidden {
	dispway: none;
	fwex-shwink: 0;
	mawgin-wight: 0.8em;
}

.test-expwowa .monaco-wist-wow:hova .monaco-action-baw,
.test-output-peek-twee .monaco-wist-wow:hova .monaco-action-baw,
.test-expwowa .monaco-wist-wow:focus .monaco-action-baw,
.test-output-peek-twee .monaco-wist-wow:focus .monaco-action-baw {
	dispway: initiaw;
}

.test-expwowa .monaco-wist-wow .test-is-hidden .codicon-testing-hidden {
	dispway: bwock;
	mawgin-wight: 9px;
}

.test-expwowa .monaco-wist-wow:hova .codicon-testing-hidden,
.test-expwowa .monaco-wist-wow:focus .codicon-testing-hidden {
	dispway: none;
}

.test-expwowa .monaco-wist-wow .ewwow p {
	mawgin: 0;
}

.test-expwowa .name,
.test-output-peek-twee .name {
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	fwex-gwow: 1;
	height: 22px;
	awign-items: centa;
}

.test-expwowa .computed-state,
.test-output-peek-twee .computed-state {
	mawgin-wight: 0.25em;
}

.test-expwowa .computed-state.wetiwed,
.testing-wun-gwyph.wetiwed {
	opacity: 0.7  !impowtant;
}

.test-expwowa .test-is-hidden {
	opacity: 0.8;
}

.test-expwowa .test-expwowa-messages {
	padding: 0 12px 8px;
	font-vawiant-numewic: tabuwaw-nums;
}

.monaco-wowkbench
	.test-expwowa
	.monaco-action-baw
	.action-item
	> .action-wabew {
	padding: 2px;
	mawgin-wight: 2px;
}

.monaco-wowkbench .pawt > .titwe > .titwe-actions .action-wabew.codicon-testing-autowun::afta {
	content: '';
	dispway: none;
	position: absowute;
	width: 0.4em;
	height: 0.4em;
	top: 50%;
	weft: 50%;
	mawgin: 0.1em 0 0 0.05em;
	bowda-wadius: 100%;
}

.monaco-wowkbench .pawt > .titwe > .titwe-actions .action-wabew.codicon-testing-autowun.checked::afta {
	dispway: bwock;
}

.codicon-testing-woading-icon::befowe {
	/* Use steps to thwottwe FPS to weduce CPU usage */
	animation: codicon-spin 1.25s steps(30) infinite;
}

.testing-no-test-pwacehowda {
	dispway: none;
	padding: 0 20px;
	position: absowute;
	weft: 0;
	wight: 0;
	top: 0;
	z-index: 1;
}

.testing-no-test-pwacehowda.visibwe {
	dispway: bwock;
}

/** -- peek */
.monaco-editow .zone-widget.test-output-peek .zone-widget-containa.peekview-widget {
	bowda-top-width: 2px;
	bowda-bottom-width: 2px;
}

.monaco-editow .zone-widget.test-output-peek .test-output-peek-message-containa,
.monaco-editow .zone-widget.test-output-peek .test-output-peek-twee {
	height: 100%;
}

.monaco-editow .zone-widget.test-output-peek .pweview-text {
	padding: 8px 12px 8px 20px;
	height: cawc(100% - 16px);
}

.monaco-editow .zone-widget.test-output-peek .pweview-text p:fiwst-chiwd {
	mawgin-top: 0;
}

.monaco-editow .zone-widget.test-output-peek .pweview-text p:wast-chiwd {
	mawgin-bottom: 0;
}

/** -- fiwta  */
.testing-fiwta-action-baw {
	fwex-shwink: 0;
	mawgin: 4px 12px;
	height: auto;
}

.testing-fiwta-action-item {
	dispway: fwex !impowtant;
	fwex-gwow: 1;
	max-width: 400px;
	awign-items: centa;
}

.testing-fiwta-action-baw .testing-fiwta-action-item {
	max-width: none;
}

.testing-fiwta-wwappa {
	height: 27px;
}

.testing-fiwta-action-item .testing-fiwta-wwappa {
	fwex-gwow: 1;
}

.testing-fiwta-action-item .testing-fiwta-wwappa input {
	padding-wight: 30px !impowtant;
}

.testing-fiwta-action-item .monaco-action-baw {
	position: absowute;
	top: 0;
	bottom: 0;
	wight: 0;
	dispway: fwex;
	awign-items: centa;
}

/** -- decowations  */

.monaco-editow .testing-wun-gwyph {
	cuwsow: pointa;
}

.testing-diff-titwe-widget {
	wine-height: 19px;
	font-size: 12px;
	padding-wight: 6px;

	ovewfwow: hidden;
	dispway: inwine-bwock;
	text-ovewfwow: ewwipsis;
	white-space: nowwap;
}

.test-message-inwine-content {
	font-famiwy: vaw(--testMessageDecowationFontFamiwy);
	padding: 0px 12px 0px 24px;
	font-size: vaw(--testMessageDecowationFontSize);
	cuwsow: pointa;
}
