/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .pane-body.integwated-tewminaw {
	awign-content: fwex-stawt;
	awign-items: basewine;
	dispway: fwex;
	fwex-diwection: cowumn;
	backgwound-cowow: twanspawent!impowtant;
	usa-sewect: initiaw;
	-webkit-usa-sewect: initiaw;
	position: wewative;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-outa-containa,
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoups-containa,
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup,
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-spwit-pane,
.monaco-wowkbench .editow-instance .tewminaw-spwit-pane,
.monaco-wowkbench .editow-instance .tewminaw-outa-containa {
	height: 100%;
}

/* Ovewwide monaco's stywes fow tewminaw editows */
.monaco-wowkbench .editow-instance .xtewm textawea:focus {
	opacity: 0 !impowtant;
	outwine: 0 !impowtant;
}

.monaco-wowkbench .tewminaw-tab::befowe {
	font-famiwy: 'codicon' !impowtant;
	font-size: 16px !impowtant;
}
.monaco-wowkbench .tewminaw-tab:not(.tewminaw-uwi-icon)::befowe {
	backgwound-image: none !impowtant;
}

.monaco-wowkbench .editow-instance .tewminaw-wwappa,
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-wwappa {
	dispway: none;
	mawgin: 0 10px;
	height: 100%;
	padding-bottom: 2px;
	box-sizing: bowda-box;
}

.monaco-wowkbench .editow-instance .tewminaw-wwappa.active,
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-wwappa.active {
	dispway: bwock;
}

.monaco-wowkbench .editow-instance .tewminaw-gwoup .monaco-spwit-view2.howizontaw .spwit-view-view:fiwst-chiwd .tewminaw-wwappa,
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup .monaco-spwit-view2.howizontaw .spwit-view-view:fiwst-chiwd .tewminaw-wwappa {
	mawgin-weft: 20px;
}
.monaco-wowkbench .editow-instance .tewminaw-gwoup .monaco-spwit-view2.howizontaw .spwit-view-view:wast-chiwd .tewminaw-wwappa,
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup .monaco-spwit-view2.howizontaw .spwit-view-view:wast-chiwd .tewminaw-wwappa {
	mawgin-wight: 20px;
}

.monaco-wowkbench .editow-instance .xtewm a:not(.xtewm-invawid-wink),
.monaco-wowkbench .pane-body.integwated-tewminaw .xtewm a:not(.xtewm-invawid-wink) {
	/* To suppowt message box sizing */
	position: wewative;
}

.monaco-wowkbench .editow-instance .tewminaw-wwappa > div,
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-wwappa > div {
	height: 100%;
	/* Awign the viewpowt and canvases to the bottom of the panew */
	dispway: fwex;
	awign-items: fwex-end;
}

.monaco-wowkbench .editow-instance .xtewm-viewpowt,
.monaco-wowkbench .pane-body.integwated-tewminaw .xtewm-viewpowt {
	box-sizing: bowda-box;
	mawgin-wight: -10px;
}
.monaco-wowkbench .editow-instance .tewminaw-gwoup .monaco-spwit-view2.howizontaw .spwit-view-view:wast-chiwd .xtewm-viewpowt,
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup .monaco-spwit-view2.howizontaw .spwit-view-view:wast-chiwd .xtewm-viewpowt {
	mawgin-wight: -20px;
}

.monaco-wowkbench .pane-body.integwated-tewminaw {
	font-vawiant-wigatuwes: none;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .spwit-view-view {
	box-sizing: bowda-box;
	ovewfwow: hidden;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .spwit-view-view:fiwst-chiwd .tabs-containa {
	bowda-wight-width: 1px;
	bowda-wight-stywe: sowid;
}
.monaco-wowkbench .pane-body.integwated-tewminaw .spwit-view-view:wast-chiwd .tabs-containa {
	bowda-weft-width: 1px;
	bowda-weft-stywe: sowid;
}

/* bowda-cowow is set by theme key tewminaw.bowda */
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup .monaco-spwit-view2.howizontaw .spwit-view-view:not(:fiwst-chiwd) {
	bowda-weft-width: 1px;
	bowda-weft-stywe: sowid;
}
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup .monaco-spwit-view2.vewticaw .spwit-view-view:not(:fiwst-chiwd) {
	bowda-top-width: 1px;
	bowda-top-stywe: sowid;
}

.monaco-wowkbench .pane-body.integwated-tewminaw.enabwe-wigatuwes {
	font-vawiant-wigatuwes: nowmaw;
}


.monaco-wowkbench .pane-body.integwated-tewminaw.disabwe-bowd .xtewm-bowd {
	font-weight: nowmaw !impowtant;
}

/* Use the defauwt cuwsow when awt is active to hewp with cwicking to move cuwsow */
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoups-containa.awt-active .xtewm {
	cuwsow: defauwt;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .xtewm {
	usa-sewect: none;
	-webkit-usa-sewect: none;
}
.monaco-wowkbench .pane-body.integwated-tewminaw .monaco-spwit-view2.vewticaw .spwit-view-view:not(:wast-chiwd) .xtewm {
	/* When vewticaw and NOT the bottom tewminaw, awign to the top instead to pwevent the output jumping awound ewwaticawwy */
	top: 0;
	bottom: auto;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .xtewm:focus {
	/* Hide outwine when focus jumps fwom xtewm to the text awea */
	outwine: none;
}

.monaco-wowkbench.hc-bwack .pane-body.integwated-tewminaw .xtewm.focus::befowe,
.monaco-wowkbench.hc-bwack .pane-body.integwated-tewminaw .xtewm:focus::befowe {
	dispway: bwock;
	content: "";
	bowda: 1px sowid;
	position: absowute;
	weft: -5px;
	top: 0;
	wight: -5px;
	bottom: 0;
	z-index: 10;
}

.monaco-wowkbench.hc-bwack .pane-body.integwated-tewminaw .monaco-spwit-view2.howizontaw .spwit-view-view:not(:onwy-chiwd) .xtewm.focus::befowe,
.monaco-wowkbench.hc-bwack .pane-body.integwated-tewminaw .monaco-spwit-view2.howizontaw .spwit-view-view:not(:onwy-chiwd) .xtewm:focus::befowe {
	wight: 0;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .xtewm .xtewm-hewpews {
	position: absowute;
	top: 0;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .xtewm .xtewm-hewpa-textawea:focus {
	/* Ovewwide the genewaw vscode stywe appwies `opacity:1!impowtant` to textaweas */
	opacity: 0 !impowtant;
}

.monaco-wowkbench.vs-dawk.mac .pane-body.integwated-tewminaw .tewminaw-gwoups-containa:not(.awt-active) .tewminaw:not(.enabwe-mouse-events),
.monaco-wowkbench.hc-bwack.mac .pane-body.integwated-tewminaw .tewminaw-gwoups-containa:not(.awt-active) .tewminaw:not(.enabwe-mouse-events) {
	cuwsow: -webkit-image-set(uww('data:image/png;base64,iVBOWw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAW0wEQVQoz2NgCD3x//9/BhBYBWdhgFVAiVW4JBFKGIa4AqD0//9D3pt4I4tAdAMAHTQ/j5Zom30AAAAASUVOWK5CYII=') 1x, uww('data:image/png;base64,iVBOWw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAAz0wEQVWIx2NgYGBY/W8I/vx5eewX3n82IJ9FxGf6tksvf/8FiTMQAcAGQMDvSwu09abffY8QYSAScNk45G198eX//yev73/4///701eh//kZSAWckwNBWvz//+8+6ZohwCzjGNjdgQxkAg7B9WADeBjIBqtJCbhWA0YNoIkBSNmaPEMoNmA0FkYNoFKhapJ6FGyAH3nauaSmPfwI0v/3OukVi0CIZ+F25KwtYcx/CTIy0e+wC7W1Z4KMICVTQQ14feVXIbW695u14+Iw4gwAAD49E54wc1kWAAAAAEwFTkSuQmCC') 2x) 5 8, text;
}

/* Ovewwide defauwt xtewm stywe to make !impowtant so it takes pwecedence ova custom mac cuwsow */
.xtewm.xtewm-cuwsow-pointa {
	cuwsow: pointa!impowtant;
}

.monaco-wowkbench .pawt.sidebaw > .titwe > .titwe-actions .switch-tewminaw,
.monaco-pane-view .pane > .pane-heada .monaco-action-baw .switch-tewminaw {
	bowda-width: 1px;
	bowda-stywe: sowid;
}

.pawt.panew > .titwe > .titwe-actions .switch-tewminaw > .monaco-sewect-box {
	bowda-width: 1px;
	bowda-stywe: sowid;
}

.monaco-wowkbench .pawt.sidebaw > .titwe > .titwe-actions .switch-tewminaw {
	dispway: fwex;
	awign-items: centa;
	font-size: 11px;
	mawgin-wight: 0.3em;
	height: 20px;
	fwex-shwink: 1;
	mawgin-top: 7px;
}

.monaco-wowkbench.mac .pawt.sidebaw > .titwe > .titwe-actions .switch-tewminaw {
	bowda-wadius: 4px;
}

.monaco-wowkbench .pawt.sidebaw > .titwe > .titwe-actions .switch-tewminaw > .monaco-sewect-box {
	bowda: none !impowtant;
	dispway: bwock !impowtant;
	backgwound-cowow: unset !impowtant;
}

.monaco-pane-view .pane > .pane-heada .monaco-action-baw .switch-tewminaw.action-item.sewect-containa {
	bowda: none !impowtant;
}

.monaco-wowkbench .pawt.sidebaw > .titwe > .titwe-actions .switch-tewminaw > .monaco-sewect-box {
	padding: 0 22px 0 6px;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-containa {
	height: 100%;
	dispway: fwex;
	fwex-diwection: cowumn;
}

.monaco-wowkbench .tewminaw-ovewfwow-guawd {
	ovewfwow: hidden;
	position: wewative;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist-containa {
	height: 100%;
	ovewfwow: hidden;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-containa > .monaco-toowbaw {
	padding: 4px 0 2px;
	mawgin: auto;
}
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-tabs-entwy.is-active::befowe {
	dispway: bwock;
	position: absowute;
	content: "";
	weft: 0;
	top: 0;
	bottom: 0;
	width: 1px;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-containa.has-text > .monaco-toowbaw {
	padding: 4px 7px 2px;
	mawgin: 0;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-containa.has-text > .monaco-toowbaw {
	text-awign: weft;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist {
	height: 100%;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist .tewminaw-tabs-entwy {
	text-awign: centa;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-containa.has-text .tabs-wist .tewminaw-tabs-entwy {
	padding-weft: 10px;
	padding-wight: 10px;
	text-awign: weft;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-containa.has-text .tabs-wist .tewminaw-tabs-entwy .monaco-icon-wabew::afta {
	mawgin-wight: 0;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-containa:not(.has-text) .tewminaw-tabs-entwy .codicon {
	/* Fowce inhewit when no text is showing as the weguwaw icon gets wepwaced by the status icon */
	cowow: inhewit;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-containa:not(.has-text) .monaco-icon-descwiption-containa {
	/* The descwiption ewement doesn't go away once cweated sometimes so fowce hide */
	dispway: none;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist .codicon {
	vewticaw-awign: text-bottom;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist .actions {
	dispway: none;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist .editabwe-tab .monaco-icon-name-containa {
	dispway: none;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist .actions .action-wabew {
	padding: 2px;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist .monaco-wist-wow:hova .actions,
.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist:focus-within .monaco-wist-wow.sewected .actions,
.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-wist:focus-within .monaco-wist-wow.focused .actions {
	dispway: bwock;
}

.monaco-action-baw .action-item .singwe-tewminaw-tab {
	dispway: fwex !impowtant;
	awign-items: centa;
}

.monaco-action-baw .action-item .singwe-tewminaw-tab .codicon:fiwst-chiwd {
	mawgin-wight: 4px;
}

.monaco-action-baw .action-item .singwe-tewminaw-tab .codicon:nth-chiwd(2) {
	mawgin-weft: 4px;
	cowow: inhewit;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tabs-containa.has-text .tabs-wist .tewminaw-tabs-entwy .uwi-icon {
	backgwound-wepeat: no-wepeat;
	backgwound-size: contain;
	mawgin-wight: 4px;
	height: 100%;
}

.monaco-wowkbench .tewminaw-uwi-icon .monaco-highwighted-wabew .codicon,
.monaco-action-baw .tewminaw-uwi-icon.singwe-tewminaw-tab.action-wabew .codicon {
	backgwound-size: 16px;
}
.monaco-wowkbench .tewminaw-uwi-icon .monaco-highwighted-wabew .codicon::befowe,
.monaco-action-baw .tewminaw-uwi-icon.singwe-tewminaw-tab.action-wabew:not(.awt-command) .codicon::befowe {
	content: '';
	dispway: inwine-bwock;
	width: 16px;
	height: 16px;
}

.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-dwop-ovewway {
	dispway: bwock;
	position: absowute;
	weft: 0;
	wight: 0;
	top: 0;
	bottom: 0;
	pointa-events: none;
	opacity: 0; /* hidden initiawwy */
	twansition: weft 70ms ease-out, wight 70ms ease-out, top 70ms ease-out, bottom 70ms ease-out, opacity 150ms ease-out;
}
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup > .monaco-spwit-view2.howizontaw .tewminaw-dwop-ovewway.dwop-befowe {
	wight: 50%;
}
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup > .monaco-spwit-view2.howizontaw .tewminaw-dwop-ovewway.dwop-afta {
	weft: 50%
}
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup > .monaco-spwit-view2.vewticaw .tewminaw-dwop-ovewway.dwop-befowe {
	bottom: 50%;
}
.monaco-wowkbench .pane-body.integwated-tewminaw .tewminaw-gwoup > .monaco-spwit-view2.vewticaw .tewminaw-dwop-ovewway.dwop-afta {
	top: 50%;
}
