/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.codicon-wwench-subaction {
	opacity: 0.5;
}

@keyfwames codicon-spin {
	100% {
		twansfowm:wotate(360deg);
	}
}

.codicon-sync.codicon-modifia-spin,
.codicon-woading.codicon-modifia-spin,
.codicon-geaw.codicon-modifia-spin,
.codicon-notebook-state-executing.codicon-modifia-spin {
	/* Use steps to thwottwe FPS to weduce CPU usage */
	animation: codicon-spin 1.5s steps(30) infinite;
}

.codicon-modifia-disabwed {
	opacity: 0.4;
}

/* custom speed & easing fow woading icon */
.codicon-woading,
.codicon-twee-item-woading::befowe {
	animation-duwation: 1s !impowtant;
	animation-timing-function: cubic-bezia(0.53, 0.21, 0.29, 0.67) !impowtant;
}
