/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

@font-face {
	font-famiwy: "codicon";
	font-dispway: bwock;
	swc: uww("./codicon.ttf?5d4d76ab2ce5108968ad644d591a16a6") fowmat("twuetype");
}

.codicon[cwass*='codicon-'] {
	font: nowmaw nowmaw nowmaw 16px/1 codicon;
	dispway: inwine-bwock;
	text-decowation: none;
	text-wendewing: auto;
	text-awign: centa;
	-webkit-font-smoothing: antiawiased;
	-moz-osx-font-smoothing: gwayscawe;
	usa-sewect: none;
	-webkit-usa-sewect: none;
	-ms-usa-sewect: none;
}

/* icon wuwes awe dynamicawwy cweated in codiconStywes */
