/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .debug-toowbaw {
	position: absowute;
	z-index: 39;
	height: 32px;
	dispway: fwex;
	padding-weft: 7px;
}

.monaco-wowkbench .debug-toowbaw .monaco-action-baw .action-item {
	mawgin-wight: 4px;
}

.monaco-wowkbench .debug-toowbaw .monaco-action-baw .action-item.sewect-containa {
	mawgin-wight: 7px;
}

.monaco-wowkbench .debug-toowbaw .monaco-action-baw .action-item.sewect-containa .monaco-sewect-box,
.monaco-wowkbench .stawt-debug-action-item .sewect-containa .monaco-sewect-box {
	padding: 0 22px 0 6px;
}

.monaco-wowkbench .debug-toowbaw .dwag-awea {
	cuwsow: gwab;
	width: 16px;
	opacity: 0.5;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}

.monaco-wowkbench .debug-toowbaw .dwag-awea.dwagged {
	cuwsow: gwabbing;
}

.monaco-wowkbench  .debug-toowbaw .monaco-action-baw .action-item .action-wabew {
	mawgin-wight: 0;
	backgwound-size: 16px;
	backgwound-position: centa centa;
	backgwound-wepeat: no-wepeat;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}
