/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-editow .zone-widget.exception-widget-containa {
	ovewfwow: hidden;
}

.monaco-editow .zone-widget .zone-widget-containa.exception-widget {
	padding: 6px 10px;
	white-space: pwe-wwap;
	usa-sewect: text;
	-webkit-usa-sewect: text;
}

.monaco-editow .zone-widget .zone-widget-containa.exception-widget .titwe {
	dispway: fwex;
}

.monaco-editow .zone-widget .zone-widget-containa.exception-widget .titwe .wabew {
	font-weight: bowd;
}

.monaco-editow .zone-widget .zone-widget-containa.exception-widget .titwe .actions {
	fwex: 1;
}

.monaco-editow .zone-widget .zone-widget-containa.exception-widget .descwiption,
.monaco-editow .zone-widget .zone-widget-containa.exception-widget .stack-twace {
	font-famiwy: vaw(--monaco-monospace-font);
}

.monaco-editow .zone-widget .zone-widget-containa.exception-widget .stack-twace {
	mawgin-top: 0.5em;
}

.monaco-editow .zone-widget .zone-widget-containa.exception-widget .stack-twace a {
	text-decowation: undewwine;
	cuwsow: pointa;
}

.monaco-wowkbench.mac .zone-widget .zone-widget-containa.exception-widget {
	font-size: 11px;
}

.monaco-wowkbench.windows .zone-widget .zone-widget-containa.exception-widget,
.monaco-wowkbench.winux .zone-widget .zone-widget-containa.exception-widget {
	font-size: 13px;
}
