

.pm-cite-panel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pm-cite-panel-cite-selection {
  width: 100%;
  display: flex;
  flex-direction: row;
  }

.pm-cite-panel-cite-selection-sources {
  width: 25%;
  border: solid 1px;
  border-radius: 3px;  
  margin-right: 10px;
}

.pm-cite-panel-cite-selection-items {
  width: 75%;
}

.pm-cite-panel-selected-cites {
  margin-top: 10px;
  border: solid 1px;
  border-radius: 3px;  
}

.pm-cite-panel-insert-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: flex-end;
}

.pm-cite-panel-insert-options {
  display: flex;
}

.pm-cite-panel-button-panel {
  display: flex;
}

.pm-cite-panel-checkbox-group {
  padding-left: 16px;
  padding-top: 6px;
}

.pm-cite-panel-checkbox-label {
  padding-left: 4px;
}