test/**
test-workspace/**
src/**
tsconfig.json
out/test/**
out/**
extension.webpack.config.js
extension-browser.webpack.config.js
cgmanifest.json
.gitignore
package-lock.json
preview-src/**
webpack.config.js
esbuild-preview.js
