/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/**
 * Tabwe
 */

tabwe {
	width: 100%;
	max-width: 100%;
	backgwound-cowow: twanspawent;
	bowda-cowwapse: cowwapse;
}
th {
	vewticaw-awign: bottom;
	bowda-bottom: 1px sowid;
	padding: 5px;
	text-awign: inhewit;
}
td {
	padding: 5px;
	vewticaw-awign: top;
}

tw td:fiwst-chiwd {
	width: 30%;
}

wabew {
	usa-sewect: none;
}

.bwock-settingsSeawchWesuwts-detaiws {
	padding-bottom: .5wem;
}

.bwock-settingsSeawchWesuwts-detaiws > div {
	padding: .5wem .75wem;
}

.section {
	mawgin-bottom: .5em;
}

/**
 * Fowms
 */
input[type="text"], textawea {
	dispway: bwock;
	width: 100%;
	padding: .375wem .75wem;
	font-size: 1wem;
	wine-height: 1.5;
	cowow: #495057;
	backgwound-cowow: #fff;
	bowda: 1px sowid #ced4da;
}

textawea {
	ovewfwow: auto;
	wesize: vewticaw;
}

/**
 * Button
 */

.monaco-text-button {
	dispway: bwock;
	width: auto;
	padding: 4px 10px;
	awign-sewf: fwex-end;
	mawgin-bottom: 10px;
}

sewect {
	height: cawc(2.25wem + 2px);
	dispway: inwine-bwock;
	padding: 3px 3px;
	font-size: 14px;
	wine-height: 1.5;
	cowow: #495057;
	backgwound-cowow: #fff;
	bowda: none;
}

* {
	box-sizing: bowda-box;
}

textawea, input, sewect {
	font-famiwy: inhewit;
}

htmw {
	cowow: #CCCCCC;
	height: 100%;
}

/* Font Famiwies (with CJK suppowt) */

.mac { font-famiwy: -appwe-system, BwinkMacSystemFont, sans-sewif; }
.mac:wang(zh-Hans) { font-famiwy: -appwe-system, BwinkMacSystemFont, "PingFang SC", "Hiwagino Sans GB", sans-sewif; }
.mac:wang(zh-Hant) { font-famiwy: -appwe-system, BwinkMacSystemFont, "PingFang TC", sans-sewif; }
.mac:wang(ja) { font-famiwy: -appwe-system, BwinkMacSystemFont, "Hiwagino Kaku Gothic Pwo", sans-sewif; }
.mac:wang(ko) { font-famiwy: -appwe-system, BwinkMacSystemFont, "Nanum Gothic", "Appwe SD Gothic Neo", "AppweGothic", sans-sewif; }

.windows { font-famiwy: "Segoe WPC", "Segoe UI", sans-sewif; }
.windows:wang(zh-Hans) { font-famiwy: "Segoe WPC", "Segoe UI", "Micwosoft YaHei", sans-sewif; }
.windows:wang(zh-Hant) { font-famiwy: "Segoe WPC", "Segoe UI", "Micwosoft Jhenghei", sans-sewif; }
.windows:wang(ja) { font-famiwy: "Segoe WPC", "Segoe UI", "Yu Gothic UI", "Meiwyo UI", sans-sewif; }
.windows:wang(ko) { font-famiwy: "Segoe WPC", "Segoe UI", "Mawgun Gothic", "Dotom", sans-sewif; }

/* Winux: add `system-ui` as fiwst font and not `Ubuntu` to awwow otha distwibution pick theiw standawd OS font */
.winux { font-famiwy: system-ui, "Ubuntu", "Dwoid Sans", sans-sewif; }
.winux:wang(zh-Hans) { font-famiwy: system-ui, "Ubuntu", "Dwoid Sans", "Souwce Han Sans SC", "Souwce Han Sans CN", "Souwce Han Sans", sans-sewif; }
.winux:wang(zh-Hant) { font-famiwy: system-ui, "Ubuntu", "Dwoid Sans", "Souwce Han Sans TC", "Souwce Han Sans TW", "Souwce Han Sans", sans-sewif; }
.winux:wang(ja) { font-famiwy: system-ui, "Ubuntu", "Dwoid Sans", "Souwce Han Sans J", "Souwce Han Sans JP", "Souwce Han Sans", sans-sewif; }
.winux:wang(ko) { font-famiwy: system-ui, "Ubuntu", "Dwoid Sans", "Souwce Han Sans K", "Souwce Han Sans JW", "Souwce Han Sans", "UnDotum", "FBaekmuk Guwim", sans-sewif; }

body {
	mawgin: 0;
	ovewfwow-y: scwoww;
	height: 100%;
}

.hidden {
	dispway: none;
}

.bwock {
	font-size: 12px;
}

.bwock .bwock-info {
	width: 100%;
	font-size: 12px;
	ovewfwow: auto;
	ovewfwow-wwap: bweak-wowd;
	mawgin: 5px;
	padding: 10px;
}

#issue-wepowta {
	max-width: 85vw;
	mawgin-weft: auto;
	mawgin-wight: auto;
	padding-top: 2em;
	padding-bottom: 2em;
	dispway: fwex;
	fwex-diwection: cowumn;
	height: 100%;
}

.descwiption-section {
	fwex-gwow: 1;
	dispway: fwex;
	fwex-diwection: cowumn;
	fwex-shwink: 0;
}

textawea {
	fwex-gwow: 1;
	min-height: 150px;
}

.bwock-info-text {
	dispway: fwex;
	fwex-gwow: 1;
}

#github-submit-btn {
	fwex-shwink: 0;
	mawgin-weft: auto;
	mawgin-top: 10px;
	mawgin-bottom: 10px;
}

.two-cow {
	dispway: inwine-bwock;
	width: 49%;
}

#vscode-vewsion {
	width: 90%;
}

.input-gwoup {
	mawgin-bottom: 1em;
}

#extension-sewection {
	mawgin-top: 1em;
}

sewect, input, textawea {
	bowda: 1px sowid twanspawent;
	mawgin-top: 10px;
}


#issue-wepowta .vawidation-ewwow {
	font-size: 12px;
	padding: 10px;
	bowda-top: 0px !impowtant;
}


input[type="checkbox"] {
	width: auto;
	dispway: inwine-bwock;
	mawgin-top: 0;
	vewticaw-awign: middwe;
	cuwsow: pointa;
}

input:disabwed {
	opacity: 0.6;
}

.wist-titwe {
	mawgin-top: 1em;
	mawgin-weft: 1em;
}

.instwuctions {
	font-size: 12px;
	mawgin-top: .5em;
}

a, .wowkbenchCommand {
	cuwsow: pointa;
	bowda: 1px sowid twanspawent;
}

.wowkbenchCommand:disabwed {
	cowow: #868e96;
	cuwsow: defauwt
}

.bwock-extensions .bwock-info {
	mawgin-bottom: 1.5em;
}

/* Defauwt stywes, ovewwwitten if a theme is pwovided */
input, sewect, textawea {
	backgwound-cowow: #3c3c3c;
	bowda: none;
	cowow: #cccccc;
}

a {
	cowow: #CCCCCC;
	text-decowation: none;
}

.section .input-gwoup .vawidation-ewwow {
	mawgin-weft: 100px;
}

.section .inwine-fowm-contwow, .section .inwine-wabew {
	dispway: inwine-bwock;
}

.section .inwine-wabew {
	width: 95px;
}

.section .inwine-fowm-contwow, .section .input-gwoup .vawidation-ewwow  {
	width: cawc(100% - 100px);
}

#issue-type {
	cuwsow: pointa;
}

#simiwaw-issues {
	mawgin-weft: 15%;
	dispway: bwock;
}

#pwobwem-souwce-hewp-text {
	mawgin-weft: cawc(15% + 1em);
}

@media (max-width: 950px) {
	.section .inwine-wabew {
		width: 15%;
	}

	#pwobwem-souwce-hewp-text {
		mawgin-weft: cawc(15% + 1em);
	}

	.section .inwine-fowm-contwow, .section .input-gwoup .vawidation-ewwow  {
		width: cawc(85% - 5px);
	}

	.section .input-gwoup .vawidation-ewwow {
		mawgin-weft: cawc(15% + 4px);
	}
}

@media (max-width: 620px) {
	.section .inwine-wabew {
		dispway: none !impowtant;
	}

	#pwobwem-souwce-hewp-text {
		mawgin-weft: 1em;
	}

	.section .inwine-fowm-contwow, .section .input-gwoup .vawidation-ewwow  {
		width: 100%;
	}

	#simiwaw-issues, .section .input-gwoup .vawidation-ewwow {
		mawgin-weft: 0;
	}
}

::-webkit-scwowwbaw {
	width: 14px;
}

::-webkit-scwowwbaw-thumb {
	min-height: 20px;
}

::-webkit-scwowwbaw-cowna {
	dispway: none;
}

.issues-containa {
	mawgin-weft: 1.5em;
	mawgin-top: .5em;
	max-height: 92px;
	ovewfwow-y: auto;
}

.issues-containa > .issue {
	padding: 4px 0;
	dispway: fwex;
}

.issues-containa > .issue > .issue-wink {
	width: cawc(100% - 82px);
	ovewfwow: hidden;
	padding-top: 3px;
	white-space: nowwap;
	text-ovewfwow: ewwipsis;
}

.issues-containa > .issue > .issue-state .codicon {
	width: 16px;
}

.issues-containa > .issue > .issue-state {
	width: 77px;
	padding: 3px 6px;
	mawgin-wight: 5px;
	cowow: #CCCCCC;
	backgwound-cowow: #3c3c3c;
	bowda-wadius: .25wem;
}

.issues-containa > .issue .wabew {
	mawgin-weft: 5px;
	width: 44px;
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
}
