@font-face {
    font-family: "octicons2";
    src: url("./octicons2.ttf?90586c9ac0aa804395e9c9c0d15d1094") format("truetype");
}

.octicon, .mega-octicon {
    font: normal normal normal 16px/1 octicons2;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mega-octicon { font-size: 32px; }



body[data-octicons-update="enabled"] .octicon-alert:before { content: "\f02d" }
body[data-octicons-update="enabled"] .octicon-arrow-down:before { content: "\f03f" }
body[data-octicons-update="enabled"] .octicon-arrow-left:before { content: "\f040" }
body[data-octicons-update="enabled"] .octicon-arrow-right:before { content: "\f03e" }
body[data-octicons-update="enabled"] .octicon-arrow-small-down:before { content: "\f0a0" }
body[data-octicons-update="enabled"] .octicon-arrow-small-left:before { content: "\f0a1" }
body[data-octicons-update="enabled"] .octicon-arrow-small-right:before { content: "\f071" }
body[data-octicons-update="enabled"] .octicon-arrow-small-up:before { content: "\f09f" }
body[data-octicons-update="enabled"] .octicon-arrow-up:before { content: "\f03d" }
body[data-octicons-update="enabled"] .octicon-beaker:before { content: "\f0dd" }
body[data-octicons-update="enabled"] .octicon-bell:before { content: "\f0de" }
body[data-octicons-update="enabled"] .octicon-bold:before { content: "\f282" }
body[data-octicons-update="enabled"] .octicon-book:before { content: "\f007" }
body[data-octicons-update="enabled"] .octicon-bookmark:before { content: "\f07b" }
body[data-octicons-update="enabled"] .octicon-briefcase:before { content: "\f0d3" }
body[data-octicons-update="enabled"] .octicon-broadcast:before { content: "\f048" }
body[data-octicons-update="enabled"] .octicon-browser:before { content: "\f0c5" }
body[data-octicons-update="enabled"] .octicon-bug:before { content: "\f091" }
body[data-octicons-update="enabled"] .octicon-calendar:before { content: "\f068" }
body[data-octicons-update="enabled"] .octicon-check:before { content: "\f03a" }
body[data-octicons-update="enabled"] .octicon-checklist:before { content: "\f076" }
body[data-octicons-update="enabled"] .octicon-chevron-down:before { content: "\f0a3" }
body[data-octicons-update="enabled"] .octicon-chevron-left:before { content: "\f0a4" }
body[data-octicons-update="enabled"] .octicon-chevron-right:before { content: "\f078" }
body[data-octicons-update="enabled"] .octicon-chevron-up:before { content: "\f0a2" }
body[data-octicons-update="enabled"] .octicon-circle-slash:before { content: "\f084" }
body[data-octicons-update="enabled"] .octicon-circuit-board:before { content: "\f0d6" }
body[data-octicons-update="enabled"] .octicon-clippy:before { content: "\f035" }
body[data-octicons-update="enabled"] .octicon-clock:before { content: "\f046" }
body[data-octicons-update="enabled"] .octicon-clone:before { content: "\f0dc" }
body[data-octicons-update="enabled"] .octicon-cloud-download:before { content: "\f00b" }
body[data-octicons-update="enabled"] .octicon-cloud-upload:before { content: "\f00c" }
body[data-octicons-update="enabled"] .octicon-code:before { content: "\f05f" }
body[data-octicons-update="enabled"] .octicon-color-mode:before { content: "\f065" }
body[data-octicons-update="enabled"] .octicon-comment-add:before { content: "\f02b" }
body[data-octicons-update="enabled"] .octicon-comment-discussion:before { content: "\f04f" }
body[data-octicons-update="enabled"] .octicon-comment:before { content: "\f02b" }
body[data-octicons-update="enabled"] .octicon-credit-card:before { content: "\f045" }
body[data-octicons-update="enabled"] .octicon-dash:before { content: "\f0ca" }
body[data-octicons-update="enabled"] .octicon-dashboard:before { content: "\f07d" }
body[data-octicons-update="enabled"] .octicon-database:before { content: "\f096" }
body[data-octicons-update="enabled"] .octicon-desktop-download:before { content: "\f0dc" }
body[data-octicons-update="enabled"] .octicon-device-camera-video:before { content: "\f057" }
body[data-octicons-update="enabled"] .octicon-device-camera:before { content: "\f056" }
body[data-octicons-update="enabled"] .octicon-device-desktop:before { content: "\f27c" }
body[data-octicons-update="enabled"] .octicon-device-mobile:before { content: "\f038" }
body[data-octicons-update="enabled"] .octicon-diff-added:before { content: "\f06b" }
body[data-octicons-update="enabled"] .octicon-diff-ignored:before { content: "\f099" }
body[data-octicons-update="enabled"] .octicon-diff-modified:before { content: "\f06d" }
body[data-octicons-update="enabled"] .octicon-diff-removed:before { content: "\f06c" }
body[data-octicons-update="enabled"] .octicon-diff-renamed:before { content: "\f06e" }
body[data-octicons-update="enabled"] .octicon-diff:before { content: "\f04d" }
body[data-octicons-update="enabled"] .octicon-ellipsis:before { content: "\f09a" }
body[data-octicons-update="enabled"] .octicon-eye-unwatch:before { content: "\f04e" }
body[data-octicons-update="enabled"] .octicon-eye-watch:before { content: "\f04e" }
body[data-octicons-update="enabled"] .octicon-eye:before { content: "\f04e" }
body[data-octicons-update="enabled"] .octicon-file-add:before { content: "\f05d" }
body[data-octicons-update="enabled"] .octicon-file-binary:before { content: "\f094" }
body[data-octicons-update="enabled"] .octicon-file-code:before { content: "\f010" }
body[data-octicons-update="enabled"] .octicon-file-directory-create:before { content: "\f05d" }
body[data-octicons-update="enabled"] .octicon-file-directory:before { content: "\f016" }
body[data-octicons-update="enabled"] .octicon-file-media:before { content: "\f012" }
body[data-octicons-update="enabled"] .octicon-file-pdf:before { content: "\f014" }
body[data-octicons-update="enabled"] .octicon-file-submodule:before { content: "\f017" }
body[data-octicons-update="enabled"] .octicon-file-symlink-directory:before { content: "\f0b1" }
body[data-octicons-update="enabled"] .octicon-file-symlink-file:before { content: "\f0b0" }
body[data-octicons-update="enabled"] .octicon-file-text:before { content: "\f283" }
body[data-octicons-update="enabled"] .octicon-file-zip:before { content: "\f013" }
body[data-octicons-update="enabled"] .octicon-file:before { content: "\f283" }
body[data-octicons-update="enabled"] .octicon-flame:before { content: "\f0d2" }
body[data-octicons-update="enabled"] .octicon-fold:before { content: "\f0cc" }
body[data-octicons-update="enabled"] .octicon-gear:before { content: "\f02f" }
body[data-octicons-update="enabled"] .octicon-gift:before { content: "\f042" }
body[data-octicons-update="enabled"] .octicon-gist-fork:before { content: "\f002" }
body[data-octicons-update="enabled"] .octicon-gist-new:before { content: "\f05d" }
body[data-octicons-update="enabled"] .octicon-gist-private:before { content: "\f06a" }
body[data-octicons-update="enabled"] .octicon-gist-secret:before { content: "\f08c" }
body[data-octicons-update="enabled"] .octicon-gist:before { content: "\f00e" }
body[data-octicons-update="enabled"] .octicon-git-branch-create:before { content: "\f020" }
body[data-octicons-update="enabled"] .octicon-git-branch-delete:before { content: "\f020" }
body[data-octicons-update="enabled"] .octicon-git-branch:before { content: "\f020" }
body[data-octicons-update="enabled"] .octicon-git-commit:before { content: "\f01f" }
body[data-octicons-update="enabled"] .octicon-git-compare:before { content: "\f0ac" }
body[data-octicons-update="enabled"] .octicon-git-fork-private:before { content: "\f06a" }
body[data-octicons-update="enabled"] .octicon-git-merge:before { content: "\f023" }
body[data-octicons-update="enabled"] .octicon-git-pull-request-abandoned:before { content: "\f009" }
body[data-octicons-update="enabled"] .octicon-git-pull-request:before { content: "\f009" }
body[data-octicons-update="enabled"] .octicon-globe:before { content: "\f0b6" }
body[data-octicons-update="enabled"] .octicon-grabber:before { content: "\f284" }
body[data-octicons-update="enabled"] .octicon-graph:before { content: "\f043" }
body[data-octicons-update="enabled"] .octicon-heart:before { content: "\2665" }
body[data-octicons-update="enabled"] .octicon-history:before { content: "\f07e" }
body[data-octicons-update="enabled"] .octicon-home:before { content: "\f08d" }
body[data-octicons-update="enabled"] .octicon-horizontal-rule:before { content: "\f070" }
body[data-octicons-update="enabled"] .octicon-hubot:before { content: "\f09d" }
body[data-octicons-update="enabled"] .octicon-inbox:before { content: "\f0cf" }
body[data-octicons-update="enabled"] .octicon-info:before { content: "\f059" }
body[data-octicons-update="enabled"] .octicon-issue-closed:before { content: "\f028" }
body[data-octicons-update="enabled"] .octicon-issue-opened:before { content: "\f026" }
body[data-octicons-update="enabled"] .octicon-issue-reopened:before { content: "\f027" }
body[data-octicons-update="enabled"] .octicon-italic:before { content: "\f285" }
body[data-octicons-update="enabled"] .octicon-jersey:before { content: "\f019" }
body[data-octicons-update="enabled"] .octicon-kebab-horizontal:before { content: "\f286" }
body[data-octicons-update="enabled"] .octicon-kebab-vertical:before { content: "\f287" }
body[data-octicons-update="enabled"] .octicon-key:before { content: "\f049" }
body[data-octicons-update="enabled"] .octicon-keyboard:before { content: "\f00d" }
body[data-octicons-update="enabled"] .octicon-law:before { content: "\f0d8" }
body[data-octicons-update="enabled"] .octicon-light-bulb:before { content: "\f000" }
body[data-octicons-update="enabled"] .octicon-link-external:before { content: "\f07f" }
body[data-octicons-update="enabled"] .octicon-link:before { content: "\f05c" }
body[data-octicons-update="enabled"] .octicon-list-ordered:before { content: "\f062" }
body[data-octicons-update="enabled"] .octicon-list-unordered:before { content: "\f061" }
body[data-octicons-update="enabled"] .octicon-location:before { content: "\f060" }
body[data-octicons-update="enabled"] .octicon-lock:before { content: "\f06a" }
body[data-octicons-update="enabled"] .octicon-log-in:before { content: "\f036" }
body[data-octicons-update="enabled"] .octicon-log-out:before { content: "\f032" }
body[data-octicons-update="enabled"] .octicon-logo-gist:before { content: "\f288" }
body[data-octicons-update="enabled"] .octicon-logo-github:before { content: "\f092" }
body[data-octicons-update="enabled"] .octicon-mail-read:before { content: "\f03c" }
body[data-octicons-update="enabled"] .octicon-mail-reply:before { content: "\f28c" }
body[data-octicons-update="enabled"] .octicon-mail:before { content: "\f03b" }
body[data-octicons-update="enabled"] .octicon-mark-github:before { content: "\f00a" }
body[data-octicons-update="enabled"] .octicon-markdown:before { content: "\f0c9" }
body[data-octicons-update="enabled"] .octicon-megaphone:before { content: "\f077" }
body[data-octicons-update="enabled"] .octicon-mention:before { content: "\f0be" }
body[data-octicons-update="enabled"] .octicon-microscope:before { content: "\f0dd" }
body[data-octicons-update="enabled"] .octicon-milestone:before { content: "\f075" }
body[data-octicons-update="enabled"] .octicon-mirror-private:before { content: "\f06a" }
body[data-octicons-update="enabled"] .octicon-mirror-public:before { content: "\f024" }
body[data-octicons-update="enabled"] .octicon-mirror:before { content: "\f024" }
body[data-octicons-update="enabled"] .octicon-mortar-board:before { content: "\f0d7" }
body[data-octicons-update="enabled"] .octicon-mute:before { content: "\f080" }
body[data-octicons-update="enabled"] .octicon-no-newline:before { content: "\f09c" }
body[data-octicons-update="enabled"] .octicon-note:before { content: "\f289" }
body[data-octicons-update="enabled"] .octicon-octoface:before { content: "\f008" }
body[data-octicons-update="enabled"] .octicon-organization:before { content: "\f037" }
body[data-octicons-update="enabled"] .octicon-organization-filled:before { content: "\f037" }
body[data-octicons-update="enabled"] .octicon-organization-outline:before { content: "\f037" }
body[data-octicons-update="enabled"] .octicon-package:before { content: "\f0c4" }
body[data-octicons-update="enabled"] .octicon-paintcan:before { content: "\f0d1" }
body[data-octicons-update="enabled"] .octicon-pencil:before { content: "\f058" }
body[data-octicons-update="enabled"] .octicon-person-add:before { content: "\f018" }
body[data-octicons-update="enabled"] .octicon-person-follow:before { content: "\f018" }
body[data-octicons-update="enabled"] .octicon-person:before { content: "\f018" }
body[data-octicons-update="enabled"] .octicon-person-filled:before { content: "\f018" }
body[data-octicons-update="enabled"] .octicon-person-outline:before { content: "\f018" }
body[data-octicons-update="enabled"] .octicon-pin:before { content: "\f041" }
body[data-octicons-update="enabled"] .octicon-plug:before { content: "\f0d4" }
body[data-octicons-update="enabled"] .octicon-plus-small:before { content: "\f28a" }
body[data-octicons-update="enabled"] .octicon-plus:before { content: "\f05d" }
body[data-octicons-update="enabled"] .octicon-primitive-dot:before { content: "\f052" }
body[data-octicons-update="enabled"] .octicon-primitive-square:before { content: "\f053" }
body[data-octicons-update="enabled"] .octicon-project:before { content: "\f28b" }
body[data-octicons-update="enabled"] .octicon-pulse:before { content: "\f085" }
body[data-octicons-update="enabled"] .octicon-question:before { content: "\f02c" }
body[data-octicons-update="enabled"] .octicon-quote:before { content: "\f063" }
body[data-octicons-update="enabled"] .octicon-radio-tower:before { content: "\f030" }
body[data-octicons-update="enabled"] .octicon-remove-close:before { content: "\f081" }
body[data-octicons-update="enabled"] .octicon-reply:before { content: "\f28c" }
body[data-octicons-update="enabled"] .octicon-repo-clone:before { content: "\f04c" }
body[data-octicons-update="enabled"] .octicon-repo-create:before { content: "\f05d" }
body[data-octicons-update="enabled"] .octicon-repo-delete:before { content: "\f001" }
body[data-octicons-update="enabled"] .octicon-repo-force-push:before { content: "\f04a" }
body[data-octicons-update="enabled"] .octicon-repo-forked:before { content: "\f002" }
body[data-octicons-update="enabled"] .octicon-repo-pull:before { content: "\f006" }
body[data-octicons-update="enabled"] .octicon-repo-push:before { content: "\f005" }
body[data-octicons-update="enabled"] .octicon-repo-sync:before { content: "\f087" }
body[data-octicons-update="enabled"] .octicon-repo:before { content: "\f001" }
body[data-octicons-update="enabled"] .octicon-report:before { content: "\f28d" }
body[data-octicons-update="enabled"] .octicon-rocket:before { content: "\f033" }
body[data-octicons-update="enabled"] .octicon-rss:before { content: "\f034" }
body[data-octicons-update="enabled"] .octicon-ruby:before { content: "\f047" }
body[data-octicons-update="enabled"] .octicon-screen-full:before { content: "\f066" }
body[data-octicons-update="enabled"] .octicon-screen-normal:before { content: "\f067" }
body[data-octicons-update="enabled"] .octicon-search-save:before { content: "\f02e" }
body[data-octicons-update="enabled"] .octicon-search:before { content: "\f02e" }
body[data-octicons-update="enabled"] .octicon-server:before { content: "\f097" }
body[data-octicons-update="enabled"] .octicon-settings:before { content: "\f07c" }
body[data-octicons-update="enabled"] .octicon-shield:before { content: "\f0e1" }
body[data-octicons-update="enabled"] .octicon-sign-in:before { content: "\f036" }
body[data-octicons-update="enabled"] .octicon-sign-out:before { content: "\f032" }
body[data-octicons-update="enabled"] .octicon-smiley:before { content: "\26b2" }
body[data-octicons-update="enabled"] .octicon-squirrel:before { content: "\f0b2" }
body[data-octicons-update="enabled"] .octicon-star-add:before { content: "\f02a" }
body[data-octicons-update="enabled"] .octicon-star-delete:before { content: "\f02a" }
body[data-octicons-update="enabled"] .octicon-star:before { content: "\f02a" }
body[data-octicons-update="enabled"] .octicon-stop:before { content: "\f08f" }
body[data-octicons-update="enabled"] .octicon-sync:before { content: "\f087" }
body[data-octicons-update="enabled"] .octicon-tag-add:before { content: "\f015" }
body[data-octicons-update="enabled"] .octicon-tag-remove:before { content: "\f015" }
body[data-octicons-update="enabled"] .octicon-tag:before { content: "\f015" }
body[data-octicons-update="enabled"] .octicon-tasklist:before { content: "\f27e" }
body[data-octicons-update="enabled"] .octicon-telescope:before { content: "\f088" }
body[data-octicons-update="enabled"] .octicon-terminal:before { content: "\f0c8" }
body[data-octicons-update="enabled"] .octicon-text-size:before { content: "\f27f" }
body[data-octicons-update="enabled"] .octicon-three-bars:before { content: "\f05e" }
body[data-octicons-update="enabled"] .octicon-thumbsdown:before { content: "\f0db" }
body[data-octicons-update="enabled"] .octicon-thumbsup:before { content: "\f0da" }
body[data-octicons-update="enabled"] .octicon-tools:before { content: "\f031" }
body[data-octicons-update="enabled"] .octicon-trashcan:before { content: "\f0d0" }
body[data-octicons-update="enabled"] .octicon-triangle-down:before { content: "\f05b" }
body[data-octicons-update="enabled"] .octicon-triangle-left:before { content: "\f044" }
body[data-octicons-update="enabled"] .octicon-triangle-right:before { content: "\f05a" }
body[data-octicons-update="enabled"] .octicon-triangle-up:before { content: "\f0aa" }
body[data-octicons-update="enabled"] .octicon-unfold:before { content: "\f039" }
body[data-octicons-update="enabled"] .octicon-unmute:before { content: "\f0ba" }
body[data-octicons-update="enabled"] .octicon-unverified:before { content: "\f280" }
body[data-octicons-update="enabled"] .octicon-verified:before { content: "\f281" }
body[data-octicons-update="enabled"] .octicon-versions:before { content: "\f064" }
body[data-octicons-update="enabled"] .octicon-watch:before { content: "\f0e0" }
body[data-octicons-update="enabled"] .octicon-x:before { content: "\f081" }
body[data-octicons-update="enabled"] .octicon-zap:before { content: "\26a1" }
body[data-octicons-update="enabled"] .octicon-error:before { content: "\26b1" }
body[data-octicons-update="enabled"] .octicon-eye-closed:before { content: "\26a3" }
body[data-octicons-update="enabled"] .octicon-fold-down:before { content: "\26a4" }
body[data-octicons-update="enabled"] .octicon-fold-up:before { content: "\26a5" }
body[data-octicons-update="enabled"] .octicon-github-action:before { content: "\26a6" }
body[data-octicons-update="enabled"] .octicon-info-outline:before { content: "\26a7" }
body[data-octicons-update="enabled"] .octicon-play:before { content: "\26a8" }
body[data-octicons-update="enabled"] .octicon-remote:before { content: "\26a9" }
body[data-octicons-update="enabled"] .octicon-request-changes:before { content: "\26aa" }
body[data-octicons-update="enabled"] .octicon-smiley-outline:before { content: "\26b2" }
body[data-octicons-update="enabled"] .octicon-warning:before { content: "\f02d" }
body[data-octicons-update="enabled"] .octicon-controls:before { content: "\26ad" }
body[data-octicons-update="enabled"] .octicon-event:before { content: "\26ae" }
body[data-octicons-update="enabled"] .octicon-record-keys:before { content: "\26af" }
body[data-octicons-update="enabled"] .octicon-Vector:before { content: "\f101" }
body[data-octicons-update="enabled"] .octicon-archive:before { content: "\f102" }
body[data-octicons-update="enabled"] .octicon-arrow-both:before { content: "\f103" }
