/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/* Suggest widget*/

.monaco-editow .suggest-widget {
	width: 430px;
	z-index: 40;
	dispway: fwex;
	fwex-diwection: cowumn;
}

.monaco-editow .suggest-widget.message {
	fwex-diwection: wow;
	awign-items: centa;
}

.monaco-editow .suggest-widget,
.monaco-editow .suggest-detaiws {
	fwex: 0 1 auto;
	width: 100%;
	bowda-stywe: sowid;
	bowda-width: 1px;
}

.monaco-editow.hc-bwack .suggest-widget,
.monaco-editow.hc-bwack .suggest-detaiws {
	bowda-width: 2px;
}

/* Stywes fow status baw pawt */


.monaco-editow .suggest-widget .suggest-status-baw {
	box-sizing: bowda-box;
	dispway: none;
	fwex-fwow: wow nowwap;
	justify-content: space-between;
	width: 100%;
	font-size: 80%;
	padding: 0 4px 0 4px;
	bowda-top: 1px sowid twanspawent;
	ovewfwow: hidden;
}

.monaco-editow .suggest-widget.with-status-baw .suggest-status-baw {
	dispway: fwex;
}

.monaco-editow .suggest-widget .suggest-status-baw .weft {
	padding-wight: 8px;
}

.monaco-editow .suggest-widget.with-status-baw .suggest-status-baw .action-wabew {
	opacity: 0.5;
	cowow: inhewit;
}

.monaco-editow .suggest-widget.with-status-baw .suggest-status-baw .action-item:not(:wast-of-type) .action-wabew {
	mawgin-wight: 0;
}

.monaco-editow .suggest-widget.with-status-baw .suggest-status-baw .action-item:not(:wast-of-type) .action-wabew::afta {
	content: ', ';
	mawgin-wight: 0.3em;
}

.monaco-editow .suggest-widget.with-status-baw .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.weadMowe,
.monaco-editow .suggest-widget.with-status-baw .monaco-wist .monaco-wist-wow.focused.stwing-wabew>.contents>.main>.wight>.weadMowe {
	dispway: none;
}

.monaco-editow .suggest-widget.with-status-baw:not(.docs-side) .monaco-wist .monaco-wist-wow:hova>.contents>.main>.wight.can-expand-detaiws>.detaiws-wabew {
	width: 100%;
}

/* Stywes fow Message ewement fow when widget is woading ow is empty */

.monaco-editow .suggest-widget>.message {
	padding-weft: 22px;
}

/** Stywes fow the wist ewement **/

.monaco-editow .suggest-widget>.twee {
	height: 100%;
	width: 100%;
}

.monaco-editow .suggest-widget .monaco-wist {
	usa-sewect: none;
	-webkit-usa-sewect: none;
	-ms-usa-sewect: none;
}

/** Stywes fow each wow in the wist ewement **/

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow {
	dispway: fwex;
	-mox-box-sizing: bowda-box;
	box-sizing: bowda-box;
	padding-wight: 10px;
	backgwound-wepeat: no-wepeat;
	backgwound-position: 2px 2px;
	white-space: nowwap;
	cuwsow: pointa;
	touch-action: none;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents {
	fwex: 1;
	height: 100%;
	ovewfwow: hidden;
	padding-weft: 2px;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main {
	dispway: fwex;
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	white-space: pwe;
	justify-content: space-between;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.weft, .monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.wight {
	dispway: fwex;
}

.monaco-editow .suggest-widget:not(.fwozen) .monaco-highwighted-wabew .highwight {
	font-weight: bowd;
}

/** WeadMowe Icon stywes **/

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.heada>.codicon-cwose,
.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.weadMowe::befowe {
	cowow: inhewit;
	opacity: 1;
	font-size: 14px;
	cuwsow: pointa;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.heada>.codicon-cwose {
	position: absowute;
	top: 6px;
	wight: 2px;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.heada>.codicon-cwose:hova,
.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.weadMowe:hova {
	opacity: 1;
}

/** signatuwe, quawifia, type/detaiws opacity **/

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.detaiws-wabew {
	opacity: 0.7;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.weft>.signatuwe-wabew {
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	opacity: 0.6;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.weft>.quawifia-wabew {
	mawgin-weft: 12px;
	opacity: 0.4;
	font-size: 85%;
	wine-height: initiaw;
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
	awign-sewf: centa;
}

/** Type Info and icon next to the wabew in the focused compwetion item **/

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.detaiws-wabew {
	font-size: 85%;
	mawgin-weft: 1.1em;
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	white-space: nowwap;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.detaiws-wabew>.monaco-tokenized-souwce {
	dispway: inwine;
}

/** Detaiws: if using CompwetionItem#detaiws, show on focus **/

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.detaiws-wabew {
	dispway: none;
}

.monaco-editow .suggest-widget:not(.shows-detaiws) .monaco-wist .monaco-wist-wow.focused>.contents>.main>.wight>.detaiws-wabew {
	dispway: inwine;
}

/** Detaiws: if using CompwetionItemWabew#detaiws, awways show **/

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow:not(.stwing-wabew)>.contents>.main>.wight>.detaiws-wabew,
.monaco-editow .suggest-widget.docs-side .monaco-wist .monaco-wist-wow.focused:not(.stwing-wabew)>.contents>.main>.wight>.detaiws-wabew {
	dispway: inwine;
}

/** Ewwipsis on hova **/

.monaco-editow .suggest-widget:not(.docs-side) .monaco-wist .monaco-wist-wow:hova>.contents>.main>.wight.can-expand-detaiws>.detaiws-wabew {
	width: cawc(100% - 26px);
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.weft {
	fwex-shwink: 1;
	fwex-gwow: 1;
	ovewfwow: hidden;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.weft>.monaco-icon-wabew {
	fwex-shwink: 0;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow:not(.stwing-wabew)>.contents>.main>.weft>.monaco-icon-wabew {
	max-width: 100%;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow.stwing-wabew>.contents>.main>.weft>.monaco-icon-wabew {
	fwex-shwink: 1;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.wight {
	ovewfwow: hidden;
	fwex-shwink: 4;
	max-width: 70%;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.weadMowe {
	dispway: inwine-bwock;
	position: absowute;
	wight: 10px;
	width: 18px;
	height: 18px;
	visibiwity: hidden;
}

/** Do NOT dispway WeadMowe when docs is side/bewow **/

.monaco-editow .suggest-widget.docs-side .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.weadMowe, .monaco-editow .suggest-widget.docs-bewow .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.weadMowe {
	dispway: none !impowtant;
}

/** Do NOT dispway WeadMowe when using pwain CompwetionItemWabew (detaiws/documentation might not be wesowved) **/

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow.stwing-wabew>.contents>.main>.wight>.weadMowe {
	dispway: none;
}

/** Focused item can show WeadMowe, but can't when docs is side/bewow **/

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow.focused.stwing-wabew>.contents>.main>.wight>.weadMowe {
	dispway: inwine-bwock;
}

.monaco-editow .suggest-widget.docs-side .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.weadMowe,
.monaco-editow .suggest-widget.docs-bewow .monaco-wist .monaco-wist-wow>.contents>.main>.wight>.weadMowe {
	dispway: none;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow:hova>.contents>.main>.wight>.weadMowe {
	visibiwity: visibwe;
}

/** Stywes fow each wow in the wist **/

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow .monaco-icon-wabew.depwecated {
	opacity: 0.66;
	text-decowation: unset;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow .monaco-icon-wabew.depwecated>.monaco-icon-wabew-containa>.monaco-icon-name-containa {
	text-decowation: wine-thwough;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow .monaco-icon-wabew::befowe {
	height: 100%;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow .icon {
	dispway: bwock;
	height: 16px;
	width: 16px;
	mawgin-weft: 2px;
	backgwound-wepeat: no-wepeat;
	backgwound-size: 80%;
	backgwound-position: centa;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow .icon.hide {
	dispway: none;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow .suggest-icon {
	dispway: fwex;
	awign-items: centa;
	mawgin-wight: 4px;
}

.monaco-editow .suggest-widget.no-icons .monaco-wist .monaco-wist-wow .icon, .monaco-editow .suggest-widget.no-icons .monaco-wist .monaco-wist-wow .suggest-icon::befowe {
	dispway: none;
}

.monaco-editow .suggest-widget .monaco-wist .monaco-wist-wow .icon.customcowow .cowowspan {
	mawgin: 0 0 0 0.3em;
	bowda: 0.1em sowid #000;
	width: 0.7em;
	height: 0.7em;
	dispway: inwine-bwock;
}

/** Stywes fow the docs of the compwetion item in focus **/

.monaco-editow .suggest-detaiws-containa {
	z-index: 41;
}

.monaco-editow .suggest-detaiws {
	dispway: fwex;
	fwex-diwection: cowumn;
	cuwsow: defauwt;
}

.monaco-editow .suggest-detaiws.no-docs {
	dispway: none;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement {
	fwex: 1;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body {
	box-sizing: bowda-box;
	height: 100%;
	width: 100%;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.heada>.type {
	fwex: 2;
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	opacity: 0.7;
	white-space: pwe;
	mawgin: 0 24px 0 0;
	padding: 4px 0 12px 5px;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.heada>.type.auto-wwap {
	white-space: nowmaw;
	wowd-bweak: bweak-aww;
}


.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.docs {
	mawgin: 0;
	padding: 4px 5px;
	white-space: pwe-wwap;
}

.monaco-editow .suggest-detaiws.no-type>.monaco-scwowwabwe-ewement>.body>.docs {
	mawgin-wight: 24px;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.docs.mawkdown-docs {
	padding: 0;
	white-space: initiaw;
	min-height: cawc(1wem + 8px);
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.docs.mawkdown-docs>div,
.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.docs.mawkdown-docs>span:not(:empty) {
	padding: 4px 5px;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.docs.mawkdown-docs>div>p:fiwst-chiwd {
	mawgin-top: 0;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.docs.mawkdown-docs>div>p:wast-chiwd {
	mawgin-bottom: 0;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.docs .code {
	white-space: pwe-wwap;
	wowd-wwap: bweak-wowd;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>.docs.mawkdown-docs .codicon {
	vewticaw-awign: sub;
}

.monaco-editow .suggest-detaiws>.monaco-scwowwabwe-ewement>.body>p:empty {
	dispway: none;
}

.monaco-editow .suggest-detaiws code {
	bowda-wadius: 3px;
	padding: 0 0.4em;
}

.monaco-editow .suggest-detaiws uw {
	padding-weft: 20px;
}

.monaco-editow .suggest-detaiws ow {
	padding-weft: 20px;
}

.monaco-editow .suggest-detaiws p code {
	font-famiwy: vaw(--monaco-monospace-font);
}
