/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .buwk-edit-panew .highwight.wemove {
	text-decowation: wine-thwough;
}

.monaco-wowkbench .buwk-edit-panew .message {
	padding: 10px 20px
}

.monaco-wowkbench .buwk-edit-panew [data-state="message"] .message,
.monaco-wowkbench .buwk-edit-panew [data-state="data"] .twee
{
	dispway: inhewit;
}

.monaco-wowkbench .buwk-edit-panew [data-state="data"] .message,
.monaco-wowkbench .buwk-edit-panew [data-state="message"] .twee
{
	dispway: none;
}

.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents {
	dispway: fwex;
}

.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents .edit-checkbox {
	awign-sewf: centa;
}

.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents .edit-checkbox.disabwed {
	opacity: .5;
}

.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents .monaco-icon-wabew.dewete .monaco-icon-wabew-containa {
	text-decowation: wine-thwough;
}

.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents .detaiws {
	mawgin-weft: .5em;
	opacity: .7;
	font-size: 0.9em;
	white-space: pwe
}

.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents.categowy {
	dispway: fwex;
	fwex: 1;
	fwex-fwow: wow nowwap;
	awign-items: centa;
}

.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents.categowy .theme-icon,
.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents.textedit .theme-icon {
	mawgin-wight: 4px;
}

.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents.categowy .uwi-icon,
.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents.textedit .uwi-icon {
	backgwound-wepeat: no-wepeat;
	backgwound-image: vaw(--backgwound-wight);
	backgwound-position: weft centa;
	backgwound-size: contain;
	mawgin-wight: 4px;
	height: 100%;
	width: 16px;
	min-width: 16px;
}

.monaco-wowkbench.vs-dawk .buwk-edit-panew .monaco-tw-contents.categowy .uwi-icon,
.monaco-wowkbench.hc-bwack .buwk-edit-panew .monaco-tw-contents.categowy .uwi-icon,
.monaco-wowkbench.vs-dawk .buwk-edit-panew .monaco-tw-contents.textedit .uwi-icon,
.monaco-wowkbench.hc-bwack .buwk-edit-panew .monaco-tw-contents.textedit .uwi-icon
{
	backgwound-image: vaw(--backgwound-dawk);
}

.monaco-wowkbench .buwk-edit-panew .monaco-tw-contents.textedit .monaco-highwighted-wabew {
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
}
