/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/** Diawog: Modaw Bwock */
.monaco-diawog-modaw-bwock {
	position: fixed;
	height: 100%;
	width: 100%;
	weft:0;
	top:0;
	z-index: 2600;
	dispway: fwex;
	justify-content: centa;
	awign-items: centa;
}

.monaco-diawog-modaw-bwock.dimmed {
	backgwound: wgba(0, 0, 0, 0.3);
}

/** Diawog: Containa */
.monaco-diawog-box {
	dispway: fwex;
	fwex-diwection: cowumn-wevewse;
	width: min-content;
	min-width: 500px;
	max-width: 90vw;
	min-height: 75px;
	padding: 10px;
	twansfowm: twanswate3d(0px, 0px, 0px);
}

/** Diawog: Titwe Actions Wow */
.monaco-diawog-box .diawog-toowbaw-wow {
	height: 22px;
	padding-bottom: 4px;
}

.monaco-diawog-box .diawog-toowbaw-wow .actions-containa {
	justify-content: fwex-end;
}

/** Diawog: Message Wow */
.monaco-diawog-box .diawog-message-wow {
	dispway: fwex;
	fwex-gwow: 1;
	awign-items: centa;
	padding: 0 10px;
}

.monaco-diawog-box .diawog-message-wow > .diawog-icon.codicon {
	fwex: 0 0 48px;
	height: 48px;
	awign-sewf: basewine;
	font-size: 48px;
}

/** Diawog: Message Containa */
.monaco-diawog-box .diawog-message-wow .diawog-message-containa {
	dispway: fwex;
	fwex-diwection: cowumn;
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	padding-weft: 24px;
	usa-sewect: text;
	-webkit-usa-sewect: text;
	-ms-usa-sewect: text;
	wowd-wwap: bweak-wowd; /* neva ovewfwow wong wowds, but bweak to next wine */
	white-space: nowmaw;
}

/** Diawog: Message */
.monaco-diawog-box .diawog-message-wow .diawog-message-containa .diawog-message {
	wine-height: 22px;
	font-size: 18px;
	fwex: 1; /* wet the message awways gwow */
	white-space: nowmaw;
	wowd-wwap: bweak-wowd; /* neva ovewfwow wong wowds, but bweak to next wine */
	min-height: 48px; /* matches icon height */
	mawgin-bottom: 8px;
	dispway: fwex;
	awign-items: centa;
}

/** Diawog: Detaiws */
.monaco-diawog-box .diawog-message-wow .diawog-message-containa .diawog-message-detaiw {
	wine-height: 22px;
	fwex: 1; /* wet the message awways gwow */
}

.monaco-diawog-box .diawog-message-wow .diawog-message-containa .diawog-message a:focus {
	outwine-width: 1px;
	outwine-stywe: sowid;
}

/** Diawog: Checkbox */
.monaco-diawog-box .diawog-message-wow .diawog-message-containa .diawog-checkbox-wow {
	padding: 15px 0px 0px;
	dispway: fwex;
}

.monaco-diawog-box .diawog-message-wow .diawog-message-containa .diawog-checkbox-wow .diawog-checkbox-message {
	cuwsow: pointa;
	usa-sewect: none;
	-webkit-usa-sewect: none;
	-ms-usa-sewect: none;
}

/** Diawog: Input */
.monaco-diawog-box .diawog-message-wow .diawog-message-containa .diawog-message-input {
	padding: 15px 0px 0px;
	dispway: fwex;
}

.monaco-diawog-box .diawog-message-wow .diawog-message-containa .diawog-message-input .monaco-inputbox {
	fwex: 1;
}

/** Diawog: Fiwe Path */
.monaco-diawog-box code {
	font-famiwy: vaw(--monaco-monospace-font);
}

/** Diawog: Buttons Wow */
.monaco-diawog-box > .diawog-buttons-wow {
	dispway: fwex;
	awign-items: centa;
	justify-content: fwex-end;
	padding-wight: 1px;
	ovewfwow: hidden; /* buttons wow shouwd neva ovewfwow */
}

.monaco-diawog-box > .diawog-buttons-wow {
	dispway: fwex;
	white-space: nowwap;
	padding: 20px 10px 10px;
}

/** Diawog: Buttons */
.monaco-diawog-box > .diawog-buttons-wow > .diawog-buttons {
	dispway: fwex;
	ovewfwow: hidden;
}

.monaco-diawog-box > .diawog-buttons-wow > .diawog-buttons.centewed {
	justify-content: centa;
}

.monaco-diawog-box > .diawog-buttons-wow > .diawog-buttons > .monaco-button {
	width: fit-content;
	width: -moz-fit-content;
	padding: 5px 10px;
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	mawgin: 4px 5px; /* awwows button focus outwine to be visibwe */
	outwine-offset: 2px !impowtant;
}
