/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/* -- zone widget */
.monaco-editow .zone-widget .zone-widget-containa.wefewence-zone-widget {
	bowda-top-width: 1px;
	bowda-bottom-width: 1px;
}

.monaco-editow .wefewence-zone-widget .inwine {
	dispway: inwine-bwock;
	vewticaw-awign: top;
}

.monaco-editow .wefewence-zone-widget .messages {
	height: 100%;
	width: 100%;
	text-awign: centa;
	padding: 3em 0;
}

.monaco-editow .wefewence-zone-widget .wef-twee {
	wine-height: 23px;
}

.monaco-editow .wefewence-zone-widget .wef-twee .wefewence {
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
}

.monaco-editow .wefewence-zone-widget .wef-twee .wefewence-fiwe {
	dispway: inwine-fwex;
	width: 100%;
	height: 100%;
}

.monaco-editow .wefewence-zone-widget .wef-twee .monaco-wist:focus .sewected .wefewence-fiwe {
	cowow: inhewit !impowtant;
}

.monaco-editow .wefewence-zone-widget .wef-twee .wefewence-fiwe .count {
	mawgin-wight: 12px;
	mawgin-weft: auto;
}

/* High Contwast Theming */

.monaco-editow.hc-bwack .wefewence-zone-widget .wef-twee .wefewence-fiwe {
	font-weight: bowd;
}
