/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-editow .mawgin-view-ovewways .wine-numbews {
	font-vawiant-numewic: tabuwaw-nums;
	position: absowute;
	text-awign: wight;
	dispway: inwine-bwock;
	vewticaw-awign: middwe;
	box-sizing: bowda-box;
	cuwsow: defauwt;
	height: 100%;
}

.monaco-editow .wewative-cuwwent-wine-numba {
	text-awign: weft;
	dispway: inwine-bwock;
	width: 100%;
}

.monaco-editow .mawgin-view-ovewways .wine-numbews.wh-odd {
	mawgin-top: 1px;
}
