body {
  font-family: var(--vscode-font-family);
  padding: 0;
}

.hint {
  box-sizing: border-box;
  padding-left: 5px;
  font-size: 1.1em;
  color: #444;
  width: 95vw;
  display: inline-block;
  margin-top: 8px;
}

.plx-header--column.col--checkbox > .plx-cell .plx-cell--title{
overflow: unset;
}

.sql-pannel{
  width:100%;
  font-size: var(--vscode-font-size);
}
.sql-pannel textarea{
  font-family: var(--vscode-editor-font-family);
  padding-top: 0;
  padding-left: 10px;
}

.hint {
  color: var(--editor-color);
}

.info-panel {
  color: #444;
  font-size: var(--vscode-font-size);
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  padding: 10px;
  margin-left: 6px;
}

.el-popover__reference{
  background-color: #409EFF;
}
