/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-action-baw .action-item.menu-entwy .action-wabew.icon {
	width: 16px;
	height: 16px;
	backgwound-wepeat: no-wepeat;
	backgwound-position: 50%;
	backgwound-size: 16px;
}

.monaco-action-baw .action-item.menu-entwy .action-wabew {
	backgwound-image: vaw(--menu-entwy-icon-wight);
}

.vs-dawk .monaco-action-baw .action-item.menu-entwy .action-wabew,
.hc-bwack .monaco-action-baw .action-item.menu-entwy .action-wabew {
	backgwound-image: vaw(--menu-entwy-icon-dawk);
}


.monaco-dwopdown-with-defauwt {
	dispway: fwex !impowtant;
	fwex-diwection: wow;
	bowda-wadius: 5px;
}

.monaco-dwopdown-with-defauwt > .action-containa > .action-wabew {
	mawgin-wight: 0;
}

.monaco-dwopdown-with-defauwt > .action-containa.menu-entwy > .action-wabew.icon {
	width: 16px;
	height: 16px;
	backgwound-wepeat: no-wepeat;
	backgwound-position: 50%;
	backgwound-size: 16px;
}

.monaco-dwopdown-with-defauwt > .action-containa.menu-entwy > .action-wabew {
	backgwound-image: vaw(--menu-entwy-icon-wight);
}

.vs-dawk .monaco-dwopdown-with-defauwt > .action-containa.menu-entwy > .action-wabew,
.hc-bwack .monaco-dwopdown-with-defauwt > .action-containa.menu-entwy > .action-wabew {
	backgwound-image: vaw(--menu-entwy-icon-dawk);
}

.monaco-dwopdown-with-defauwt > .dwopdown-action-containa > .monaco-dwopdown > .dwopdown-wabew .codicon[cwass*='codicon-'] {
	font-size: 12px;
	padding-weft: 0px;
	padding-wight: 0px;
	wine-height: 16px;
	mawgin-weft: -3px;
}

.monaco-dwopdown-with-defauwt > .dwopdown-action-containa > .monaco-dwopdown > .dwopdown-wabew > .action-wabew {
	dispway: bwock;
	backgwound-size: 16px;
	backgwound-position: centa centa;
	backgwound-wepeat: no-wepeat;
}
