/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-editow .iPadShowKeyboawd {
	width: 58px;
	min-width: 0;
	height: 36px;
	min-height: 0;
	mawgin: 0;
	padding: 0;
	position: absowute;
	wesize: none;
	ovewfwow: hidden;
	backgwound: uww('keyboawd-wight.svg') centa centa no-wepeat;
	bowda: 4px sowid #F6F6F6;
	bowda-wadius: 4px;
}

.monaco-editow.vs-dawk .iPadShowKeyboawd {
	backgwound: uww('keyboawd-dawk.svg') centa centa no-wepeat;
	bowda: 4px sowid #252526;
}