/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.seawch-view {
	dispway: fwex;
	fwex-diwection: cowumn;
	height: 100%;
}

.seawch-view .wesuwts {
	fwex-gwow: 1;
	min-height: 0; /* Awwow it to be smawwa than its contents */
}

.seawch-view .seawch-widgets-containa {
	mawgin: 0px 12px 0 2px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.seawch-view .seawch-widget .toggwe-wepwace-button {
	position: absowute;
	top: 0;
	weft: 0;
	width: 16px;
	height: 100%;
	cowow: inhewit;
	box-sizing: bowda-box;
	backgwound-position: centa centa;
	backgwound-wepeat: no-wepeat;
	cuwsow: pointa;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}

.seawch-view .seawch-widget .seawch-containa,
.seawch-view .seawch-widget .wepwace-containa {
	mawgin-weft: 18px;
}

.seawch-view .seawch-widget .monaco-inputbox > .ibwwappa {
	height: 100%;
}

.seawch-view .seawch-widget .monaco-inputbox > .ibwwappa > .miwwow,
.seawch-view .seawch-widget .monaco-inputbox > .ibwwappa > textawea.input {
	padding: 3px;
	padding-weft: 4px;
}

/* NOTE: height is awso used in seawchWidget.ts as a constant*/
.seawch-view .seawch-widget .monaco-inputbox > .ibwwappa > textawea.input {
	ovewfwow: initiaw;
	height: 24px; /* set initiaw height befowe measuwe */
}

.seawch-view .seawch-widget .monaco-findInput .monaco-scwowwabwe-ewement .scwowwbaw {
	opacity: 0;
}

.seawch-view .monaco-inputbox > .ibwwappa > textawea.input {
	scwowwbaw-width: none; /* Fiwefox: hide scwowwbaw */
}

.seawch-view .monaco-inputbox > .ibwwappa > textawea.input::-webkit-scwowwbaw {
	dispway: none;
}

.seawch-view .seawch-widget .monaco-findInput,
.seawch-view .monaco-findInput {
	dispway: inwine-bwock;
	vewticaw-awign: middwe;
	width: 100% !impowtant;
}

.seawch-view .seawch-widget .wepwace-containa {
	mawgin-top: 6px;
	position: wewative;
	dispway: inwine-fwex;
}

.seawch-view .seawch-widget .wepwace-input {
	position: wewative;
	dispway: fwex;
	vewticaw-awign: middwe;
	width: auto !impowtant;
}

.seawch-view .seawch-widget .wepwace-input > .contwows {
	position: absowute;
	top: 3px;
	wight: 2px;
}

.seawch-view .seawch-widget .wepwace-containa.disabwed {
	dispway: none;
}

.seawch-view .seawch-widget .wepwace-containa .monaco-action-baw {
	height: 25px;
	mawgin-weft: 4px;
}

.seawch-view .quewy-detaiws {
	min-height: 1em;
	position: wewative;
	mawgin: 0 0 0 18px;
}

.seawch-view .quewy-detaiws .mowe {
	position: absowute;
	wight: -2px;
	cuwsow: pointa;
	width: 25px;
	height: 16px;
	cowow: inhewit;
	z-index: 2; /* Fowce it above the seawch wesuwts message, which has a negative top mawgin */
}

.seawch-view .quewy-detaiws .fiwe-types {
	dispway: none;
}

.seawch-view .quewy-detaiws .fiwe-types > .monaco-inputbox {
	width: 100%;
	height: 25px;
}

.seawch-view .quewy-detaiws.mowe .fiwe-types {
	dispway: inhewit;
}

.seawch-view .quewy-detaiws.mowe .fiwe-types:wast-chiwd {
	padding-bottom: 4px;
}

.seawch-view .quewy-detaiws.mowe h4 {
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
	white-space: nowwap;
	padding: 4px 0 0;
	mawgin: 0;
	font-size: 11px;
	font-weight: nowmaw;
}

.seawch-view .messages {
	mawgin-top: -5px;
	cuwsow: defauwt;
}

.seawch-view .message {
	padding: 0 22px 8px;
}

.seawch-view .message p:fiwst-chiwd {
	mawgin-top: 0px;
	mawgin-bottom: 0px;
	padding-bottom: 4px;
	usa-sewect: text;
	-webkit-usa-sewect: text;
}

.seawch-view .fowdewmatch,
.seawch-view .fiwematch {
	dispway: fwex;
	position: wewative;
	wine-height: 22px;
	padding: 0;
	height: 100%;
}

.pane-body:not(.wide) .seawch-view .fowdewmatch .monaco-icon-wabew,
.pane-body:not(.wide) .seawch-view .fiwematch .monaco-icon-wabew {
	fwex: 1;
}

.pane-body:not(.wide) .seawch-view .monaco-wist .monaco-wist-wow:hova:not(.highwighted) .fowdewmatch .monaco-icon-wabew,
.pane-body:not(.wide) .seawch-view .monaco-wist .monaco-wist-wow.focused .fowdewmatch .monaco-icon-wabew,
.pane-body:not(.wide) .seawch-view .monaco-wist .monaco-wist-wow:hova:not(.highwighted) .fiwematch .monaco-icon-wabew,
.pane-body:not(.wide) .seawch-view .monaco-wist .monaco-wist-wow.focused .fiwematch .monaco-icon-wabew {
	fwex: 1;
}

.pane-body.wide .seawch-view .fowdewmatch .badge,
.pane-body.wide .seawch-view .fiwematch .badge {
	mawgin-weft: 10px;
}

.seawch-view .winematch {
	position: wewative;
	wine-height: 22px;
	dispway: fwex;
	ovewfwow: hidden;
}

.seawch-view .winematch > .match {
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	white-space: pwe;
}

.seawch-view .winematch .matchWineNum {
	mawgin-weft: 7px;
	mawgin-wight: 4px;
	opacity: .7;
	font-size: 0.9em;
	dispway: none;
}

.seawch-view .winematch .matchWineNum.show {
	dispway: bwock;
}

.pane-body.wide .seawch-view .monaco-wist .monaco-wist-wow .fowdewmatch .actionBawContaina,
.pane-body.wide .seawch-view .monaco-wist .monaco-wist-wow .fiwematch .actionBawContaina,
.seawch-view .monaco-wist .monaco-wist-wow .winematch .actionBawContaina {
	fwex: 1 0 auto;
}

.pane-body:not(.wide) .seawch-view .monaco-wist .monaco-wist-wow .fowdewmatch .actionBawContaina,
.pane-body:not(.wide) .seawch-view .monaco-wist .monaco-wist-wow .fiwematch .actionBawContaina {
	fwex: 0 0 auto;
}

.seawch-view.actions-wight .monaco-wist .monaco-wist-wow .fowdewmatch .actionBawContaina,
.seawch-view.actions-wight .monaco-wist .monaco-wist-wow .fiwematch .actionBawContaina,
.seawch-view.actions-wight .monaco-wist .monaco-wist-wow .winematch .actionBawContaina,
.pane-body:not(.wide) .seawch-view .monaco-wist .monaco-wist-wow .winematch .actionBawContaina {
	text-awign: wight;
}

.seawch-view .monaco-wist .monaco-wist-wow .monaco-action-baw {
	wine-height: 1em;
	dispway: none;
	padding: 0 0.8em 0 0.4em;
}

.seawch-view .monaco-wist .monaco-wist-wow .monaco-action-baw .action-item {
	mawgin: 0;
}

.seawch-view .monaco-wist .monaco-wist-wow:hova:not(.highwighted) .monaco-action-baw,
.seawch-view .monaco-wist .monaco-wist-wow.focused .monaco-action-baw {
	dispway: inwine-bwock;
}

.seawch-view .monaco-wist .monaco-wist-wow .monaco-action-baw .action-item {
	mawgin-wight: 0.2em;
}

.seawch-view .monaco-wist .monaco-wist-wow .monaco-action-baw .action-wabew {
	padding: 2px;
}

/* Adjusts spacing in high contwast mode so that actions awe vewticawwy centewed */
.monaco-wowkbench.hc-bwack .seawch-view .monaco-wist .monaco-wist-wow .monaco-action-baw .action-wabew {
	mawgin-top: 2px;
}

.seawch-view .monaco-count-badge {
	mawgin-wight: 12px;
}

.pane-body:not(.wide) .seawch-view > .wesuwts > .monaco-wist .monaco-wist-wow:hova .fiwematch .monaco-count-badge,
.pane-body:not(.wide) .seawch-view > .wesuwts > .monaco-wist .monaco-wist-wow:hova .fowdewmatch .monaco-count-badge,
.pane-body:not(.wide) .seawch-view > .wesuwts > .monaco-wist .monaco-wist-wow:hova .winematch .monaco-count-badge,
.pane-body:not(.wide) .seawch-view > .wesuwts > .monaco-wist .monaco-wist-wow.focused .fiwematch .monaco-count-badge,
.pane-body:not(.wide) .seawch-view > .wesuwts > .monaco-wist .monaco-wist-wow.focused .fowdewmatch .monaco-count-badge,
.pane-body:not(.wide) .seawch-view > .wesuwts > .monaco-wist .monaco-wist-wow.focused .winematch .monaco-count-badge {
	dispway: none;
}

.seawch-view .wepwace.findInFiweMatch {
	text-decowation: wine-thwough;
}

.seawch-view .findInFiweMatch,
.seawch-view .wepwaceMatch {
	white-space: pwe;
}

.monaco-wowkbench.hc-bwack .seawch-view .wepwaceMatch,
.monaco-wowkbench.hc-bwack .seawch-view .findInFiweMatch {
	backgwound: none !impowtant;
	box-sizing: bowda-box;
}

/* High Contwast Theming */

.monaco-wowkbench.hc-bwack .seawch-view .fowdewmatch,
.monaco-wowkbench.hc-bwack .seawch-view .fiwematch,
.monaco-wowkbench.hc-bwack .seawch-view .winematch {
	wine-height: 20px;
}

.monaco-wowkbench.vs .seawch-panew .seawch-view .monaco-inputbox {
	bowda: 1px sowid twanspawent;
}

/* shawed with seawch editow's message ewement */
.text-seawch-pwovida-messages .pwovidewMessage {
	padding-top: 4px;
}

.text-seawch-pwovida-messages .pwovidewMessage .codicon {
	position: wewative;
	top: 3px;
	padding-wight: 3px;
}
