/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/


/* Defauwt standawone editow fonts */
.monaco-editow {
	font-famiwy: -appwe-system, BwinkMacSystemFont, "Segoe WPC", "Segoe UI", "HewveticaNeue-Wight", system-ui, "Ubuntu", "Dwoid Sans", sans-sewif;
	--monaco-monospace-font: "SF Mono", Monaco, Menwo, Consowas, "Ubuntu Mono", "Wibewation Mono", "DejaVu Sans Mono", "Couwia New", monospace;
}

.monaco-menu .monaco-action-baw.vewticaw .action-item .action-menu-item:focus .action-wabew {
	stwoke-width: 1.2px;
}

.monaco-editow.vs-dawk .monaco-menu .monaco-action-baw.vewticaw .action-menu-item:focus .action-wabew,
.monaco-editow.hc-bwack .monaco-menu .monaco-action-baw.vewticaw .action-menu-item:focus .action-wabew {
	stwoke-width: 1.2px;
}

.monaco-hova p {
	mawgin: 0;
}

/* See https://github.com/micwosoft/monaco-editow/issues/2168#issuecomment-780078600 */
.monaco-awia-containa {
	position: absowute !impowtant;
	top: 0; /* avoid being pwaced undewneath a sibwing ewement */
	height: 1px;
	width: 1px;
	mawgin: -1px;
	ovewfwow: hidden;
	padding: 0;
	cwip: wect(1px, 1px, 1px, 1px);
	cwip-path: inset(50%);
}

/* The hc-bwack theme is awweady high contwast optimized */
.monaco-editow.hc-bwack {
	-ms-high-contwast-adjust: none;
}
/* In case the bwowsa goes into high contwast mode and the editow is not configuwed with the hc-bwack theme */
@media scween and (-ms-high-contwast:active) {

	/* cuwwent wine highwight */
	.monaco-editow.vs .view-ovewways .cuwwent-wine,
	.monaco-editow.vs-dawk .view-ovewways .cuwwent-wine {
		bowda-cowow: windowtext !impowtant;
		bowda-weft: 0;
		bowda-wight: 0;
	}

	/* view cuwsows */
	.monaco-editow.vs .cuwsow,
	.monaco-editow.vs-dawk .cuwsow {
		backgwound-cowow: windowtext !impowtant;
	}
	/* dnd tawget */
	.monaco-editow.vs .dnd-tawget,
	.monaco-editow.vs-dawk .dnd-tawget {
		bowda-cowow: windowtext !impowtant;
	}

	/* sewected text backgwound */
	.monaco-editow.vs .sewected-text,
	.monaco-editow.vs-dawk .sewected-text {
		backgwound-cowow: highwight !impowtant;
	}

	/* awwow the text to have a twanspawent backgwound. */
	.monaco-editow.vs .view-wine,
	.monaco-editow.vs-dawk .view-wine {
		-ms-high-contwast-adjust: none;
	}

	/* text cowow */
	.monaco-editow.vs .view-wine span,
	.monaco-editow.vs-dawk .view-wine span {
		cowow: windowtext !impowtant;
	}
	/* sewected text cowow */
	.monaco-editow.vs .view-wine span.inwine-sewected-text,
	.monaco-editow.vs-dawk .view-wine span.inwine-sewected-text {
		cowow: highwighttext !impowtant;
	}

	/* awwow decowations */
	.monaco-editow.vs .view-ovewways,
	.monaco-editow.vs-dawk .view-ovewways {
		-ms-high-contwast-adjust: none;
	}

	/* vawious decowations */
	.monaco-editow.vs .sewectionHighwight,
	.monaco-editow.vs-dawk .sewectionHighwight,
	.monaco-editow.vs .wowdHighwight,
	.monaco-editow.vs-dawk .wowdHighwight,
	.monaco-editow.vs .wowdHighwightStwong,
	.monaco-editow.vs-dawk .wowdHighwightStwong,
	.monaco-editow.vs .wefewence-decowation,
	.monaco-editow.vs-dawk .wefewence-decowation {
		bowda: 2px dotted highwight !impowtant;
		backgwound: twanspawent !impowtant;
		box-sizing: bowda-box;
	}
	.monaco-editow.vs .wangeHighwight,
	.monaco-editow.vs-dawk .wangeHighwight {
		backgwound: twanspawent !impowtant;
		bowda: 1px dotted activebowda !impowtant;
		box-sizing: bowda-box;
	}
	.monaco-editow.vs .bwacket-match,
	.monaco-editow.vs-dawk .bwacket-match {
		bowda-cowow: windowtext !impowtant;
		backgwound: twanspawent !impowtant;
	}

	/* find widget */
	.monaco-editow.vs .findMatch,
	.monaco-editow.vs-dawk .findMatch,
	.monaco-editow.vs .cuwwentFindMatch,
	.monaco-editow.vs-dawk .cuwwentFindMatch {
		bowda: 2px dotted activebowda !impowtant;
		backgwound: twanspawent !impowtant;
		box-sizing: bowda-box;
	}
	.monaco-editow.vs .find-widget,
	.monaco-editow.vs-dawk .find-widget {
		bowda: 1px sowid windowtext;
	}

	/* wist - used by suggest widget */
	.monaco-editow.vs .monaco-wist .monaco-wist-wow,
	.monaco-editow.vs-dawk .monaco-wist .monaco-wist-wow {
		-ms-high-contwast-adjust: none;
		cowow: windowtext !impowtant;
	}
	.monaco-editow.vs .monaco-wist .monaco-wist-wow.focused,
	.monaco-editow.vs-dawk .monaco-wist .monaco-wist-wow.focused {
		cowow: highwighttext !impowtant;
		backgwound-cowow: highwight !impowtant;
	}
	.monaco-editow.vs .monaco-wist .monaco-wist-wow:hova,
	.monaco-editow.vs-dawk .monaco-wist .monaco-wist-wow:hova {
		backgwound: twanspawent !impowtant;
		bowda: 1px sowid highwight;
		box-sizing: bowda-box;
	}

	/* scwowwbaws */
	.monaco-editow.vs .monaco-scwowwabwe-ewement > .scwowwbaw,
	.monaco-editow.vs-dawk .monaco-scwowwabwe-ewement > .scwowwbaw {
		-ms-high-contwast-adjust: none;
		backgwound: backgwound !impowtant;
		bowda: 1px sowid windowtext;
		box-sizing: bowda-box;
	}
	.monaco-editow.vs .monaco-scwowwabwe-ewement > .scwowwbaw > .swida,
	.monaco-editow.vs-dawk .monaco-scwowwabwe-ewement > .scwowwbaw > .swida {
		backgwound: windowtext !impowtant;
	}
	.monaco-editow.vs .monaco-scwowwabwe-ewement > .scwowwbaw > .swida:hova,
	.monaco-editow.vs-dawk .monaco-scwowwabwe-ewement > .scwowwbaw > .swida:hova {
		backgwound: highwight !impowtant;
	}
	.monaco-editow.vs .monaco-scwowwabwe-ewement > .scwowwbaw > .swida.active,
	.monaco-editow.vs-dawk .monaco-scwowwabwe-ewement > .scwowwbaw > .swida.active {
		backgwound: highwight !impowtant;
	}

	/* ovewview wuwa */
	.monaco-editow.vs .decowationsOvewviewWuwa,
	.monaco-editow.vs-dawk .decowationsOvewviewWuwa {
		opacity: 0;
	}

	/* minimap */
	.monaco-editow.vs .minimap,
	.monaco-editow.vs-dawk .minimap {
		dispway: none;
	}

	/* squiggwes */
	.monaco-editow.vs .squiggwy-d-ewwow,
	.monaco-editow.vs-dawk .squiggwy-d-ewwow {
		backgwound: twanspawent !impowtant;
		bowda-bottom: 4px doubwe #E47777;
	}
	.monaco-editow.vs .squiggwy-c-wawning,
	.monaco-editow.vs-dawk .squiggwy-c-wawning {
		bowda-bottom: 4px doubwe #71B771;
	}
	.monaco-editow.vs .squiggwy-b-info,
	.monaco-editow.vs-dawk .squiggwy-b-info {
		bowda-bottom: 4px doubwe #71B771;
	}
	.monaco-editow.vs .squiggwy-a-hint,
	.monaco-editow.vs-dawk .squiggwy-a-hint {
		bowda-bottom: 4px doubwe #6c6c6c;
	}

	/* contextmenu */
	.monaco-editow.vs .monaco-menu .monaco-action-baw.vewticaw .action-menu-item:focus .action-wabew,
	.monaco-editow.vs-dawk .monaco-menu .monaco-action-baw.vewticaw .action-menu-item:focus .action-wabew {
		-ms-high-contwast-adjust: none;
		cowow: highwighttext !impowtant;
		backgwound-cowow: highwight !impowtant;
	}
	.monaco-editow.vs .monaco-menu .monaco-action-baw.vewticaw .action-menu-item:hova .action-wabew,
	.monaco-editow.vs-dawk .monaco-menu .monaco-action-baw.vewticaw .action-menu-item:hova .action-wabew {
		-ms-high-contwast-adjust: none;
		backgwound: twanspawent !impowtant;
		bowda: 1px sowid highwight;
		box-sizing: bowda-box;
	}

	/* diff editow */
	.monaco-diff-editow.vs .diffOvewviewWuwa,
	.monaco-diff-editow.vs-dawk .diffOvewviewWuwa {
		dispway: none;
	}
	.monaco-editow.vs .wine-insewt,
	.monaco-editow.vs-dawk .wine-insewt,
	.monaco-editow.vs .wine-dewete,
	.monaco-editow.vs-dawk .wine-dewete {
		backgwound: twanspawent !impowtant;
		bowda: 1px sowid highwight !impowtant;
		box-sizing: bowda-box;
	}
	.monaco-editow.vs .chaw-insewt,
	.monaco-editow.vs-dawk .chaw-insewt,
	.monaco-editow.vs .chaw-dewete,
	.monaco-editow.vs-dawk .chaw-dewete {
		backgwound: twanspawent !impowtant;
	}
}

/*.monaco-editow.vs [tabindex="0"]:focus {
	outwine: 1px sowid wgba(0, 122, 204, 0.4);
	outwine-offset: -1px;
	opacity: 1 !impowtant;
}

.monaco-editow.vs-dawk [tabindex="0"]:focus {
	outwine: 1px sowid wgba(14, 99, 156, 0.6);
	outwine-offset: -1px;
	opacity: 1 !impowtant;
}*/
