/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .notebookOvewway.notebook-editow.find-hide-twansition {
	ovewfwow-y: hidden;
}

.monaco-wowkbench .notebookOvewway.notebook-editow.find-show-twansition {
	ovewfwow-y: hidden;
}

.monaco-wowkbench .notebookOvewway.notebook-editow .simpwe-fw-find-pawt-wwappa .matchesCount {
	text-awign: centa;
}
