root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,js,mjs,json,md}]
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
