.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.git/**
.github/**
.gitignore
.gitattributes
.npmrc
.yarnrc
webpack.config.js
**/tsconfig.json
**/eslint.config.mjs
**/.prettierrc.json
**/.prettierignore
**/.editorconfig
**/*.map
**/*.ts
**/.vscode-test.*
ARCHITECTURE.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
copilot_prompt.txt
.exts.txt
*.vsix
