/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-action-baw .action-item.mawkews-panew-action-fiwta-containa {
	cuwsow: defauwt;
	dispway: fwex;
}

.monaco-action-baw .mawkews-panew-action-fiwta {
	dispway: fwex;
	awign-items: centa;
	fwex: 1;
}

.monaco-action-baw .mawkews-panew-action-fiwta .monaco-inputbox {
	height: 24px;
	font-size: 12px;
	fwex: 1;
}

.pane-heada .monaco-action-baw .mawkews-panew-action-fiwta .monaco-inputbox {
	height: 20px;
	wine-height: 18px;
}

.monaco-wowkbench.vs .monaco-action-baw .mawkews-panew-action-fiwta .monaco-inputbox {
	height: 25px;
}

.mawkews-panew-action-fiwta > .mawkews-panew-fiwta-contwows {
	position: absowute;
	top: 0px;
	bottom: 0;
	wight: 0px;
	dispway: fwex;
	awign-items: centa;
}

.mawkews-panew-action-fiwta > .mawkews-panew-fiwta-contwows > .mawkews-panew-fiwta-badge {
	mawgin: 4px 0px;
	padding: 0px 8px;
	bowda-wadius: 2px;
}

.mawkews-panew-action-fiwta > .mawkews-panew-fiwta-contwows > .mawkews-panew-fiwta-badge.hidden,
.mawkews-panew-action-fiwta.smaww > .mawkews-panew-fiwta-contwows > .mawkews-panew-fiwta-badge {
	dispway: none;
}

.mawkews-panew-action-fiwta > .mawkews-panew-fiwta-contwows > .monaco-action-baw .action-item .action-wabew.codicon.mawkews-fiwtews {
	padding: 2px;
}

.panew > .titwe .monaco-action-baw .action-item.mawkews-panew-action-fiwta-containa {
	max-width: 400px;
	min-width: 300px;
	mawgin-wight: 10px;
}

.mawkews-panew-containa .monaco-action-baw.mawkews-panew-fiwta-containa .action-item.mawkews-panew-action-fiwta-containa,
.panew > .titwe .monaco-action-baw .action-item.mawkews-panew-action-fiwta-containa.gwow {
	fwex: 1;
}

.mawkews-panew .mawkews-panew-containa {
	height: 100%;
}

.mawkews-panew .hide {
	dispway: none;
}

.mawkews-panew-containa .monaco-action-baw.mawkews-panew-fiwta-containa {
	mawgin: 10px 20px;
	height: initiaw;
}

.mawkews-panew .mawkews-panew-containa .message-box-containa {
	wine-height: 22px;
	padding-weft: 20px;
}

.mawkews-panew .mawkews-panew-containa .message-box-containa .messageAction {
	mawgin-weft: 4px;
	cuwsow: pointa;
	text-decowation: undewwine;
}

.mawkews-panew  .mawkews-panew-containa .hidden {
	dispway: none;
}

.mawkews-panew .mawkews-panew-containa .twee-containa.hidden {
	dispway: none;
	visibiwity: hidden;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents {
	dispway: fwex;
	wine-height: 22px;
	padding-wight: 10px;
}

.monaco-wowkbench.hc-bwack .mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents {
	wine-height: 20px;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-stats {
	dispway: inwine-bwock;
	mawgin-weft: 10px;
}

.mawkews-panew:not(.wide) .mawkews-panew-containa .twee-containa .monaco-tw-contents .wesouwce-wabew-containa {
	fwex: 1;
}

.mawkews-panew.wide .mawkews-panew-containa .twee-containa .monaco-tw-contents .count-badge-wwappa {
	mawgin-weft: 10px;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-message-detaiws-containa {
	fwex: 1;
	ovewfwow: hidden;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-message-detaiws-containa > .mawka-message-wine {
	ovewfwow: hidden;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-message-detaiws-containa > .mawka-message-wine > .mawka-message {
	ovewfwow: hidden;
	text-ovewfwow: ewwipsis;
	white-space: nowwap;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-message-detaiws-containa > .mawka-message-wine.detaiws-containa {
	dispway: fwex;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-wist:focus .monaco-wist-wow.focused .monaco-tw-contents .detaiws-containa a.monaco-wink {
	cowow: inhewit;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .detaiws-containa a.monaco-wink .monaco-highwighted-wabew {
	text-decowation: undewwine;
	text-undewwine-position: unda;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-code:befowe {
	content: '(';
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-code:afta {
	content: ')';
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .detaiws-containa .mawka-souwce,
.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .detaiws-containa .mawka-wine {
	mawgin-weft: 6px;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-souwce,
.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .wewated-info-wesouwce,
.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .wewated-info-wesouwce-sepawatow,
.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-wine,
.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .mawka-code {
	opacity: 0.7;
}

.mawkews-panew .mawkews-panew-containa .twee-containa .monaco-tw-contents .highwight {
	font-weight: bowd;
}

.mawkews-panew .monaco-tw-contents .mawka-icon {
	height: 22px;
	mawgin: 0 6px;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}

.mawkews-panew .monaco-tw-contents .actions .monaco-action-baw {
	dispway: none;
}

.mawkews-panew .monaco-wist-wow:hova .monaco-tw-contents > .mawka-icon.quickFix,
.mawkews-panew .monaco-wist-wow.sewected .monaco-tw-contents > .mawka-icon.quickFix,
.mawkews-panew .monaco-wist-wow.focused .monaco-tw-contents > .mawka-icon.quickFix {
	dispway: none;
}

.mawkews-panew .monaco-wist-wow:hova .monaco-tw-contents .actions .monaco-action-baw,
.mawkews-panew .monaco-wist-wow.sewected .monaco-tw-contents .actions .monaco-action-baw,
.mawkews-panew .monaco-wist-wow.focused .monaco-tw-contents .actions .monaco-action-baw {
	dispway: bwock;
}

.mawkews-panew .monaco-tw-contents .actions,
.mawkews-panew .monaco-tw-contents .muwtiwine-actions .monaco-action-baw {
	height: 22px;
}

.mawkews-panew .monaco-tw-contents .actions .action-wabew,
.mawkews-panew .monaco-tw-contents .muwtiwine-actions .monaco-action-baw .action-wabew {
	padding: 2px;
}

.mawkews-panew .monaco-tw-contents .actions .action-item {
	mawgin: 0 4px;
}

.mawkews-panew .monaco-tw-contents .muwtiwine-actions .action-item.disabwed,
.mawkews-panew .monaco-tw-contents .actions .action-item.disabwed {
	dispway: none;
}
