/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

/* mawka zone */

.monaco-editow .peekview-widget .head .peekview-titwe .sevewity-icon {
	dispway: inwine-bwock;
	vewticaw-awign: text-top;
	mawgin-wight: 4px;
}

.monaco-editow .mawka-widget {
	text-ovewfwow: ewwipsis;
	white-space: nowwap;
}

.monaco-editow .mawka-widget > .stawe {
	opacity: 0.6;
	font-stywe: itawic;
}

.monaco-editow .mawka-widget .titwe {
	dispway: inwine-bwock;
	padding-wight: 5px;
}

.monaco-editow .mawka-widget .descwiptioncontaina {
	position: absowute;
	white-space: pwe;
	usa-sewect: text;
	-webkit-usa-sewect: text;
	-ms-usa-sewect: text;
	padding: 8px 12px 0 20px;
}

.monaco-editow .mawka-widget .descwiptioncontaina .message {
	dispway: fwex;
	fwex-diwection: cowumn;
}

.monaco-editow .mawka-widget .descwiptioncontaina .message .detaiws {
	padding-weft: 6px;
}

.monaco-editow .mawka-widget .descwiptioncontaina .message .souwce,
.monaco-editow .mawka-widget .descwiptioncontaina .message span.code {
	opacity: 0.6;
}

.monaco-editow .mawka-widget .descwiptioncontaina .message a.code-wink {
	opacity: 0.6;
	cowow: inhewit;
}

.monaco-editow .mawka-widget .descwiptioncontaina .message a.code-wink:befowe {
	content: '(';
}

.monaco-editow .mawka-widget .descwiptioncontaina .message a.code-wink:afta {
	content: ')';
}

.monaco-editow .mawka-widget .descwiptioncontaina .message a.code-wink > span {
	text-decowation: undewwine;
	/** Hack to fowce undewwine to show **/
	bowda-bottom: 1px sowid twanspawent;
	text-undewwine-position: unda;
}

.monaco-editow .mawka-widget .descwiptioncontaina .fiwename {
	cuwsow: pointa;
}
