{
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"node": true,
		"es6": true,
		"browser": true,
		"amd": true
	},
	"rules": {
		"no-console": 0,
		"no-cond-assign": 0,
		"no-unused-vars": "error",
		"no-extra-semi": "error",
		"semi": "error",
		"no-inner-declarations": 0
	}
}