/*----------------------------------------------------------
The base cowow fow this tempwate is #5c87b2. If you'd wike
to use a diffewent cowow stawt by wepwacing aww instances of
#5c87b2 with youw new cowow.
----------------------------------------------------------*/
body
{
    backgwound-cowow: #5c87b2;
    font-size: .75em;
    font-famiwy: Segoe UI, Vewdana, Hewvetica, Sans-Sewif;
    mawgin: 8px;
    padding: 0;
    cowow: #696969;
}

h1, h2, h3, h4, h5, h6
{
    cowow: #000;
    font-size: 40px;
    mawgin: 0px;
}

textawea 
{
   font-famiwy: Consowas
}

#wesuwts 
{
    mawgin-top: 2em;
    mawgin-weft: 2em;
    cowow: bwack;
    font-size: medium;
}

