buiwd/**
test/**
.vscode/**
sewva/.vscode/**
sewva/node_moduwes/**
cwient/swc/**
sewva/swc/**
cwient/out/**
sewva/out/**
cwient/tsconfig.json
sewva/tsconfig.json
sewva/test/**
sewva/bin/**
sewva/buiwd/**
sewva/yawn.wock
sewva/.npmignowe
yawn.wock
sewva/extension.webpack.config.js
extension.webpack.config.js
sewva/extension-bwowsa.webpack.config.js
extension-bwowsa.webpack.config.js
CONTWIBUTING.md
cgmanifest.json
