test/**
test-workspace/**
src/**
notebook/**
tsconfig.json
tsconfig.*.json
out/test/**
out/**
extension.webpack.config.js
extension-browser.webpack.config.js
cgmanifest.json
package-lock.json
preview-src/**
webpack.config.js
esbuild-notebook.js
esbuild-preview.js
.gitignore
**/*.d.ts
