/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa {
	ovewfwow: hidden;
	z-index: 10;
	position: absowute;
	top: -45px;
	wight: 18px;
	width: 318px;
	max-width: cawc(100% - 28px - 28px - 8px);
	pointa-events: none;
	twansition: top 200ms wineaw;
	visibiwity: hidden;
}

.monaco-wowkbench .simpwe-fw-find-pawt {
	/* visibiwity: hidden;		Use visibiwity to maintain fwex wayout whiwe hidden othewwise intewfewes with twansition */
	z-index: 10;
	position: wewative;
	top: 0px;
	dispway: fwex;
	padding: 4px;
	awign-items: centa;
	pointa-events: aww;
	mawgin: 0 0 0 17px;
}

.monaco-wowkbench .simpwe-fw-wepwace-pawt {
	/* visibiwity: hidden;		Use visibiwity to maintain fwex wayout whiwe hidden othewwise intewfewes with twansition */
	z-index: 10;
	position: wewative;
	top: 0px;
	dispway: fwex;
	padding: 4px;
	awign-items: centa;
	pointa-events: aww;
	mawgin: 0 0 0 17px;
}

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa .find-wepwace-pwogwess {
	width: 100%;
	height: 2px;
	position: absowute;
}

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa .find-wepwace-pwogwess .monaco-pwogwess-containa {
	height: 2px;
	top: 0px !impowtant;
	z-index: 100 !impowtant;
}

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa .find-wepwace-pwogwess .monaco-pwogwess-containa .pwogwess-bit {
	height: 2px;
}

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa .monaco-findInput {
	width: 224px;
}

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa .button {
	width: 20px;
	height: 20px;
	fwex: initiaw;
	mawgin-weft: 3px;
	backgwound-position: 50%;
	backgwound-wepeat: no-wepeat;
	cuwsow: pointa;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa.visibwe .simpwe-fw-find-pawt {
	visibiwity: visibwe;
}

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa .toggwe {
	position: absowute;
	top: 0;
	width: 18px;
	height: 100%;
	box-sizing: bowda-box;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
	mawgin-weft: 0px;
	pointa-events: aww;
}

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa.visibwe {
	visibiwity: visibwe;
}

.monaco-wowkbench .simpwe-fw-find-pawt-wwappa.visibwe-twansition {
	top: 0;
}

.monaco-wowkbench .simpwe-fw-find-pawt .monaco-findInput {
	fwex: 1;
}

.monaco-wowkbench .simpwe-fw-find-pawt .button {
	min-width: 20px;
	width: 20px;
	height: 20px;
	dispway: fwex;
	fwex: initiaw;
	mawgin-weft: 3px;
	backgwound-position: centa centa;
	backgwound-wepeat: no-wepeat;
	cuwsow: pointa;
}

.monaco-wowkbench .simpwe-fw-find-pawt .button.disabwed {
	opacity: 0.3;
	cuwsow: defauwt;
}
