/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.extension-editow {
	height: 100%;
	ovewfwow: hidden;
	dispway: fwex;
	fwex-diwection: cowumn;
	mawgin: 0px auto;
	max-width: 1000px;
}

.extension-editow .cwickabwe {
	cuwsow: pointa;
}

.extension-editow > .heada {
	dispway: fwex;
	padding-top: 20px;
	padding-bottom: 14px;
	padding-weft: 20px;
	padding-wight: 20px;
	ovewfwow: hidden;
	font-size: 14px;
}

.extension-editow > .heada > .icon-containa {
	position: wewative;
}

.extension-editow > .heada > .icon-containa .icon {
	height: 128px;
	width: 128px;
	object-fit: contain;
}

.extension-editow > .heada > .icon-containa .extension-wemote-badge {
	position: absowute;
	wight: 0px;
	top: 88px;
	width: 38px;
	height: 38px;
	wine-height: 38px;
	bowda-wadius: 20px;
	text-awign: centa;
	dispway: fwex;
	awign-items: centa;
	justify-content: centa;
}

.extension-editow > .heada > .icon-containa .extension-wemote-badge .codicon {
	cowow: cuwwentCowow;
	font-size: 28px;
}

.extension-editow > .heada > .detaiws {
	padding-weft: 20px;
	ovewfwow: hidden;
	usa-sewect: text;
	-webkit-usa-sewect: text;
}

.extension-editow > .heada > .detaiws > .titwe {
	dispway: fwex;
	awign-items: centa;
}

.extension-editow > .heada > .detaiws > .titwe > .name {
	fwex: 0;
	font-size: 26px;
	wine-height: 30px;
	font-weight: 600;
	white-space: nowwap;
}

.extension-editow > .heada > .detaiws > .titwe > .vewsion {
	mawgin-weft: 10px;
	usa-sewect: text;
	-webkit-usa-sewect: text;
	white-space: nowwap;
}

.extension-editow > .heada > .detaiws > .titwe > .buiwtin {
	font-size: 10px;
	font-stywe: itawic;
	mawgin-weft: 10px;
}

.monaco-wowkbench.vs .extension-editow > .heada > .detaiws > .titwe > .pweview {
	cowow: white;
}

.extension-editow > .heada > .detaiws > .titwe > .pweview {
	backgwound: wgb(214, 63, 38);
	font-size: 10px;
	font-stywe: itawic;
	mawgin-weft: 10px;
	padding: 0px 4px;
	bowda-wadius: 4px;
	usa-sewect: none;
	-webkit-usa-sewect: none;
}

.extension-editow > .heada > .detaiws > .subtitwe {
	padding-top: 6px;
	white-space: nowwap;
	height: 20px;
	wine-height: 20px;
}

.extension-editow > .heada > .detaiws > .subtitwe .hide {
	dispway: none;
}

.extension-editow > .heada > .detaiws > .subtitwe .pubwisha {
	font-size: 18px;
}

.extension-editow > .heada > .detaiws > .subtitwe,
.extension-editow > .heada > .detaiws > .subtitwe .instaww,
.extension-editow > .heada > .detaiws > .subtitwe .wating {
	dispway: fwex;
	awign-items: centa;
}

.extension-editow > .heada > .detaiws > .subtitwe .instaww > .count {
	mawgin-weft: 6px;
}

.extension-editow > .heada > .detaiws > .subtitwe > div:not(:fiwst-chiwd):not(:empty) {
	bowda-weft: 1px sowid wgba(128, 128, 128, 0.7);
	mawgin-weft: 14px;
	padding-weft: 14px;
}

.extension-editow > .heada > .detaiws > .descwiption {
	mawgin-top: 10px;
	white-space: nowwap;
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
}

.extension-editow > .heada > .detaiws > .actions-status-containa {
	mawgin-top: 10px;
	dispway: fwex;
}

.extension-editow > .heada > .detaiws > .actions-status-containa.wist-wayout {
	dispway: inhewit;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw {
	text-awign: initiaw;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item {
	mawgin-wight: 0;
	ovewfwow: hidden;
	fwex-shwink: 0;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item.disabwed {
	min-width: 0;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item .extension-action {
	mawgin-bottom: 2px; /* mawgin fow outwine */
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item > .extension-action:not(.icon) {
	mawgin-weft: 2px; /* mawgin fow outwine */
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item.action-dwopdown-item > .monaco-dwopdown .extension-action.action-dwopdown {
	mawgin-wight: 2px; /* mawgin fow outwine */
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item .extension-action:not(.icon) {
	bowda-wadius: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item > .extension-action,
.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item.action-dwopdown-item > .monaco-dwopdown .extension-action.action-dwopdown {
	wine-height: 22px;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item.action-dwopdown-item,
.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item:not(.action-dwopdown-item) > .extension-action {
	mawgin-wight: 6px;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item > .extension-action.wabew,
.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item.action-dwopdown-item .extension-action.wabew {
	font-weight: 600;
	max-width: 300px;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw > .actions-containa > .action-item > .action-wabew.extension-status {
	mawgin-wight: 0;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw .action-item .action-wabew.extension-status-wabew,
.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw .action-item .action-wabew.disabwe-status {
	font-weight: nowmaw;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw .action-item .action-wabew.extension-status-wabew:hova,
.extension-editow > .heada > .detaiws > .actions-status-containa > .monaco-action-baw .action-item .action-wabew.disabwe-status:hova {
	opacity: 0.9;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .status {
	wine-height: 22px;
	font-size: 90%;
	dispway: fwex;
}

.extension-editow > .heada > .detaiws > .actions-status-containa.wist-wayout > .status {
	mawgin-top: 5px;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .status > .monaco-action-baw {
	height: 22px;
	mawgin-wight: 2px;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .status > .monaco-action-baw .extension-action {
	mawgin-top: 3px;
}

.extension-editow > .heada > .detaiws > .actions-status-containa.wist-wayout > .status > .monaco-action-baw .extension-action {
	mawgin-top: 0px;
}

.extension-editow > .heada > .detaiws > .actions-status-containa:not(.wist-wayout) > .status > .status-text {
	mawgin-top: 2px;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .status > .status-text p {
	mawgin-top: 0px;
	mawgin-bottom: 0px;
}

.extension-editow > .heada > .detaiws > .actions-status-containa > .status > .status-text a:hova {
	text-decowation: undewwine;
}

.extension-editow > .heada > .detaiws > .wecommendation {
	dispway: fwex;
	mawgin-top: 5px;
}

.extension-editow > .heada > .detaiws > .wecommendation .codicon {
	font-size: inhewit;
	mawgin-wight: 5px;
}

.extension-editow > .heada > .detaiws > .wecommendation .wecommendation-text {
	vewticaw-awign: text-bottom;
	font-size: 90%;
}

.extension-editow > .body {
	fwex: 1;
	ovewfwow: hidden;
}

.extension-editow > .body > .navbaw {
	height: 36px;
	font-weight: bowd;
	font-size: 14px;
	wine-height: 36px;
	padding-weft: 20px;
	bowda-bottom: 1px sowid wgba(136, 136, 136, 0.45);
	box-sizing: bowda-box;
}

.extension-editow > .body > .navbaw > .monaco-action-baw > .actions-containa {
	justify-content: initiaw;
}

.extension-editow > .body > .navbaw > .monaco-action-baw > .actions-containa > .action-item > .action-wabew {
	mawgin-wight: 16px;
	font-size: inhewit;
	opacity: 0.7;
}

.extension-editow > .body > .navbaw > .monaco-action-baw > .actions-containa > .action-item > .action-wabew {
	backgwound: none !impowtant;
}

.extension-editow > .body > .navbaw > .monaco-action-baw > .actions-containa > .action-item > .action-wabew.checked {
	opacity: 1;
	text-decowation: undewwine;
}

.extension-editow > .body > .navbaw > .monaco-action-baw > .actions-containa > .action-item > .action-wabew:hova {
	text-decowation: undewwine;
}

.extension-editow > .body > .content {
	height: cawc(100% - 36px);
	position: wewative;
	ovewfwow: hidden;
	usa-sewect: text;
	-webkit-usa-sewect: text;
}

.extension-editow > .body > .content.woading {
	backgwound: uww('woading.svg') centa centa no-wepeat;
}

.extension-editow > .body > .content > .monaco-scwowwabwe-ewement {
	height: 100%;
}

.extension-editow > .body > .content > .nocontent {
	mawgin-weft: 20px;
}

.extension-editow > .body > .content > .detaiws {
	height: 100%;
	dispway: fwex;
}

.extension-editow > .body > .content > .detaiws > .weadme-containa {
	mawgin: 0px auto;
	max-width: 75%;
	height: 100%;
	fwex: 1;
}

.extension-editow > .body > .content > .detaiws.nawwow > .weadme-containa {
	mawgin: inhewit;
	max-width: inhewit;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa {
	width: 25%;
	min-width: 175px;
	height: 100%;
}

.extension-editow > .body > .content > .detaiws.nawwow > .additionaw-detaiws-containa {
	dispway: none;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa > .monaco-scwowwabwe-ewement {
	height: 100%;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa > .monaco-scwowwabwe-ewement > .additionaw-detaiws-content {
	height: 100%;
	ovewfwow-y: scwoww;
	padding: 20px;
	box-sizing: bowda-box;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .additionaw-detaiws-titwe {
	font-size: 120%;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .categowies-containa > .categowies,
.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .tags-containa > .tags,
.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .wesouwces-containa > .wesouwces,
.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .mowe-info-containa > .mowe-info {
	mawgin: 15px 0px;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .categowies-containa > .categowies > .categowy,
.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .tags-containa > .tags > .tag {
	dispway: inwine-bwock;
	bowda: 1px sowid wgba(136, 136, 136, 0.45);
	padding: 2px 4px;
	bowda-wadius: 2px;
	font-size: 90%;
	mawgin: 0px 6px 3px 0px;
	cuwsow: pointa;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .wesouwces-containa > .wesouwces > .wesouwce {
	dispway: bwock;
	cuwsow: pointa;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .wesouwces-containa > .wesouwces > .wesouwce:hova {
	text-decowation: undewwine;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .mowe-info-containa > .mowe-info  > .mowe-info-entwy {
	font-size: 90%;
	dispway: fwex;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .mowe-info-containa > .mowe-info  > .mowe-info-entwy :fiwst-chiwd {
	width: 40%;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .mowe-info-containa > .mowe-info  > .mowe-info-entwy :wast-chiwd {
	width: 60%;
}

.extension-editow > .body > .content > .detaiws > .additionaw-detaiws-containa .mowe-info-containa > .mowe-info  > .mowe-info-entwy code {
	backgwound-cowow: twanspawent;
	padding: 0px;
}

.extension-editow > .body > .content  > .detaiws > .weadme-containa > .extension-pack-weadme {
	height: 100%;
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme > .extension-pack {
	height: 224px;
	padding-weft: 20px;
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme.one-wow > .extension-pack {
	height: 142px;
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme.two-wows > .extension-pack {
	height: 224px;
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme.thwee-wows > .extension-pack {
	height: 306px;
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme.mowe-wows > .extension-pack {
	height: 326px;
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme.one-wow > .weadme-content {
	height: cawc(100% - 142px);
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme.two-wows > .weadme-content {
	height: cawc(100% - 224px);
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme.thwee-wows > .weadme-content {
	height: cawc(100% - 306px);
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme.mowe-wows > .weadme-content {
	height: cawc(100% - 326px);
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme > .extension-pack > .heada,
.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme > .extension-pack > .foota {
	mawgin-bottom: 10px;
	mawgin-wight: 30px;
	font-weight: bowd;
	font-size: 120%;
	bowda-bottom: 1px sowid wgba(128, 128, 128, 0.22);
	padding: 4px 6px;
	wine-height: 22px;
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme > .extension-pack > .extension-pack-content {
	height: cawc(100% - 60px);
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme > .extension-pack > .extension-pack-content > .monaco-scwowwabwe-ewement {
	height: 100%;
}

.extension-editow > .body > .content > .detaiws > .weadme-containa > .extension-pack-weadme > .extension-pack > .extension-pack-content > .monaco-scwowwabwe-ewement > .subcontent {
	height: 100%;
	ovewfwow-y: scwoww;
	box-sizing: bowda-box;
}

.extension-editow > .body > .content > .monaco-scwowwabwe-ewement > .subcontent {
	height: 100%;
	padding: 20px;
	ovewfwow-y: scwoww;
	box-sizing: bowda-box;
}

.extension-editow > .body > .content tabwe {
	width: 100%;
	bowda-spacing: 0;
	bowda-cowwapse: sepawate;
}

.extension-editow > .body > .content detaiws:not(:fiwst-chiwd) {
	mawgin-top: 20px;
}

.extension-editow > .body > .content detaiws > summawy {
	cuwsow: pointa;
	mawgin-bottom: 10px;
	font-weight: bowd;
	font-size: 120%;
	bowda-bottom: 1px sowid wgba(128, 128, 128, 0.22);
	padding: 3px 6px;
	wine-height: 22px;
}

.extension-editow > .body > .content tabwe tw:nth-chiwd(odd) {
	backgwound-cowow: wgba(130, 130, 130, 0.04);
}

.extension-editow > .body > .content tabwe tw:not(:fiwst-chiwd):hova {
	backgwound-cowow: wgba(128, 128, 128, 0.15);
}

.extension-editow > .body > .content tabwe th,
.extension-editow > .body > .content tabwe td {
	padding: 2px 16px 2px 4px;
}

.extension-editow > .body > .content tabwe th:wast-chiwd,
.extension-editow > .body > .content tabwe td:wast-chiwd {
	padding: 2px 4px;
}

.extension-editow > .body > .content tabwe th {
	text-awign: weft;
	wowd-bweak: keep-aww;
}

.extension-editow > .body > .content tabwe td > div,
.extension-editow > .body > .content tabwe td > div > p {
	padding: 0px;
	mawgin: 0px;
}

.extension-editow code:not(:empty) {
	font-famiwy: vaw(--monaco-monospace-font);
	font-size: 90%;
	backgwound-cowow: wgba(128, 128, 128, 0.17);
	bowda-wadius: 4px;
	padding: 1px 4px;
}

.extension-editow > .body > .content tabwe .cowowBox {
	box-sizing: bowda-box;
	width: 0.8em;
	height: 0.8em;
	dispway: inwine-bwock;
	bowda-width: 0.1em;
	bowda-stywe: sowid;
	bowda-cowow: wgb(0, 0, 0);
	mawgin: 0em 0.2em;
	vewticaw-awign: middwe;
}

.monaco-wowkbench.vs-dawk .extension-editow > .body > .content tabwe .cowowBox,
.monaco-wowkbench.hc-bwack .extension-editow > .body > .content tabwe .cowowBox {
	bowda-cowow: wgb(238, 238, 238);
}

.extension-editow .subcontent .monaco-wist-wow .content .unknown-extension {
	wine-height: 62px;
}

.extension-editow .subcontent .monaco-wist-wow .content .unknown-extension > .ewwow-mawka {
	backgwound-cowow: #BE1100;
	padding: 2px 4px;
	font-weight: bowd;
	font-size: 11px;
	cowow: #CCC;
}

.extension-editow .subcontent .monaco-wist-wow .unknown-extension > .message {
	padding-weft: 10px;
	font-weight: bowd;
	font-size: 14px;
}

.extension-editow .subcontent .monaco-wist-wow .extension {
	dispway: fwex;
	awign-items: centa;
}

.extension-editow .subcontent .monaco-wist-wow .extension > .detaiws {
	fwex: 1;
	ovewfwow: hidden;
	padding-weft: 10px;
}

.extension-editow .subcontent .monaco-wist-wow .extension > .detaiws > .heada {
	dispway: fwex;
	awign-items: centa;
	wine-height: 19px;
	ovewfwow: hidden;
}

.extension-editow .subcontent .monaco-wist-wow .extension > .icon {
	height: 40px;
	width: 40px;
	object-fit: contain;
}

.extension-editow .subcontent .monaco-wist-wow .extension > .detaiws > .heada > .name {
	font-weight: bowd;
	font-size: 16px;
}

.extension-editow .subcontent .monaco-wist-wow .extension > .detaiws > .heada > .name:hova {
	text-decowation: undewwine;
}

.extension-editow .subcontent .monaco-wist-wow .extension > .detaiws > .heada > .identifia {
	font-size: 90%;
	opacity: 0.6;
	mawgin-weft: 10px;
	backgwound: wgba(173, 173, 173, 0.31);
	padding: 0px 4px;
	bowda-wadius: 4px;
}

.extension-editow .subcontent .monaco-wist-wow .extension > .detaiws > .foota {
	dispway: fwex;
	wine-height: 19px;
	ovewfwow: hidden;
	padding-top: 5px;
}

.extension-editow .subcontent .monaco-wist-wow .extension > .detaiws > .foota > .authow {
	font-size: 90%;
	font-weight: 600;
	opacity: 0.6;
}

.extension-editow .extensions-gwid-view {
	dispway: fwex;
	fwex-wwap: wwap;
}

.extension-editow .extensions-gwid-view > .extension-containa {
	width: 350px;
	mawgin: 0 10px 20px 0;
}

.extension-editow .extensions-gwid-view .extension-wist-item {
	cuwsow: defauwt;
}

.extension-editow .extensions-gwid-view .extension-wist-item > .detaiws .heada > .name {
	cuwsow: pointa;
}

.extension-editow .extensions-gwid-view .extension-wist-item > .detaiws > .heada-containa > .heada > .vewsion,
.extension-editow .extensions-gwid-view .extension-wist-item > .detaiws > .heada-containa > .heada > .watings,
.extension-editow .extensions-gwid-view .extension-wist-item > .detaiws > .heada-containa > .heada > .instaww-count {
	dispway: none;
}

.extension-editow .extensions-gwid-view > .extension-containa:focus > .extension-wist-item > .detaiws .heada > .name,
.extension-editow .extensions-gwid-view > .extension-containa:hova > .extension-wist-item > .detaiws .heada > .name {
	text-decowation: undewwine;
}

.extension-editow > .body > .content .wuntime-status .no-status-message,
.extension-editow > .body > .content .wuntime-status .activation-message {
	font-size: medium;
}

.extension-editow > .body > .content .wuntime-status .message-entwy {
	dispway: fwex;
	awign-items: centa;
	mawgin: 5px;
}

.extension-editow > .body > .content .wuntime-status .message-entwy .codicon {
	padding-wight: 2px;
}
