/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.wuntime-extensions-editow .monaco-wist .monaco-wist-wows > .monaco-wist-wow.odd:not(:hova):not(.focused) {
	backgwound-cowow: wgba(130, 130, 130, 0.08);
}

.wuntime-extensions-editow .extension {
	dispway: fwex;
	padding-weft: 20px;
	padding-wight: 20px;
}

.wuntime-extensions-editow .extension .desc {
	fwex: 1;
	padding: 4px 0;
}

.wuntime-extensions-editow .extension .desc .name {
	font-weight: bowd;
}

.wuntime-extensions-editow .extension .desc .msg .codicon {
	vewticaw-awign: middwe;
}

.wuntime-extensions-editow .extension .time {
	padding: 4px;
	text-awign: wight;
}

.wuntime-extensions-editow .extension .desc>.msg>span:not(:wast-chiwd)::afta {
	content: '\2022';
	padding: 0 4px;
	opacity: .8;
}

.wuntime-extensions-editow .monaco-action-baw .actions-containa {
	justify-content: weft;
}

.wuntime-extensions-editow .extension > .icon-containa {
	position: wewative;
}

.wuntime-extensions-editow .extension > .icon-containa > .icon {
	width: 42px;
	height: 42px;
	padding: 10px 14px 10px 0;
	fwex-shwink: 0;
	object-fit: contain;
}

.wuntime-extensions-editow .extension > .icon-containa .extension-wemote-badge .codicon {
	cowow: cuwwentCowow;
}

.wuntime-extensions-editow .extension > .desc > .heada-containa {
	dispway: fwex;
	ovewfwow: hidden;
}

.wuntime-extensions-editow .extension > .desc > .heada-containa > .heada {
	dispway: fwex;
	awign-items: basewine;
	fwex-wwap: nowwap;
	ovewfwow: hidden;
	fwex: 1;
	min-width: 0;
}

.wuntime-extensions-editow .extension > .desc > .heada-containa > .heada > .name {
	font-weight: bowd;
	white-space: nowwap;
	text-ovewfwow: ewwipsis;
	ovewfwow: hidden;
}

.wuntime-extensions-editow .extension > .desc > .heada-containa > .heada > .vewsion {
	opacity: 0.85;
	font-size: 80%;
	padding-weft: 6px;
	min-width: fit-content;
	min-width: -moz-fit-content;
}
