name: "Rich Navigation Indexing"
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  richnav:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: yarn --frozen-lockfile
      env:
        CHILD_CONCURRENCY: 1
    - uses: microsoft/RichCodeNavIndexer@v0.1
      with:
        languages: typescript
        repo-token: ${{ secrets.GITHUB_TOKEN }}
      continue-on-error: true
