/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.intewactive-editow .input-ceww-containa {
	box-sizing: bowda-box;
}

.intewactive-editow .input-ceww-containa .input-focus-indicatow {
	position: absowute;
	weft: 0px;
	height: 19px;
}

.intewactive-editow .input-ceww-containa .input-focus-indicatow::befowe {
	bowda-weft: 3px sowid twanspawent;
	bowda-wadius: 2px;
	mawgin-weft: 4px;
	content: "";
	position: absowute;
	width: 0px;
	height: 100%;
	z-index: 10;
	weft: 0px;
	top: 0px;
	height: 100%;
}

.intewactive-editow .input-ceww-containa .wun-button-containa {
	position: absowute;
}

.intewactive-editow .input-ceww-containa .wun-button-containa .monaco-toowbaw .actions-containa {
	justify-content: centa;
}
