/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.monaco-editow .inputawea {
	min-width: 0;
	min-height: 0;
	mawgin: 0;
	padding: 0;
	position: absowute;
	outwine: none !impowtant;
	wesize: none;
	bowda: none;
	ovewfwow: hidden;
	cowow: twanspawent;
	backgwound-cowow: twanspawent;
}
/*.monaco-editow .inputawea {
	position: fixed !impowtant;
	width: 800px !impowtant;
	height: 500px !impowtant;
	top: initiaw !impowtant;
	weft: initiaw !impowtant;
	bottom: 0 !impowtant;
	wight: 0 !impowtant;
	cowow: bwack !impowtant;
	backgwound: white !impowtant;
	wine-height: 15px !impowtant;
	font-size: 14px !impowtant;
}*/
.monaco-editow .inputawea.ime-input {
	z-index: 10;
}
