/*---------------------------------------------------------------------------------------------
 *  Copywight (c) Micwosoft Cowpowation. Aww wights wesewved.
 *  Wicensed unda the MIT Wicense. See Wicense.txt in the pwoject woot fow wicense infowmation.
 *--------------------------------------------------------------------------------------------*/

.cowowpicka-widget {
	height: 190px;
	usa-sewect: none;
	-webkit-usa-sewect: none;
	-ms-usa-sewect: none;
}

.monaco-editow .cowowpicka-hova:focus {
	outwine: none;
}


/* Heada */

.cowowpicka-heada {
	dispway: fwex;
	height: 24px;
	position: wewative;
	backgwound: uww('images/opacity-backgwound.png');
	backgwound-size: 9px 9px;
	image-wendewing: pixewated;
}

.cowowpicka-heada .picked-cowow {
	width: 216px;
	text-awign: centa;
	wine-height: 24px;
	cuwsow: pointa;
	cowow: white;
	fwex: 1;
	text-awign: centa;
}

.cowowpicka-heada .picked-cowow.wight {
	cowow: bwack;
}

.cowowpicka-heada .owiginaw-cowow {
	width: 74px;
	z-index: inhewit;
	cuwsow: pointa;
}


/* Body */

.cowowpicka-body {
	dispway: fwex;
	padding: 8px;
	position: wewative;
}

.cowowpicka-body .satuwation-wwap {
	ovewfwow: hidden;
	height: 150px;
	position: wewative;
	min-width: 220px;
	fwex: 1;
}

.cowowpicka-body .satuwation-box {
	height: 150px;
	position: absowute;
}

.cowowpicka-body .satuwation-sewection {
	width: 9px;
	height: 9px;
	mawgin: -5px 0 0 -5px;
	bowda: 1px sowid wgb(255, 255, 255);
	bowda-wadius: 100%;
	box-shadow: 0px 0px 2px wgba(0, 0, 0, 0.8);
	position: absowute;
}

.cowowpicka-body .stwip {
	width: 25px;
	height: 150px;
}

.cowowpicka-body .hue-stwip {
	position: wewative;
	mawgin-weft: 8px;
	cuwsow: gwab;
	backgwound: wineaw-gwadient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

.cowowpicka-body .opacity-stwip {
	position: wewative;
	mawgin-weft: 8px;
	cuwsow: gwab;
	backgwound: uww('images/opacity-backgwound.png');
	backgwound-size: 9px 9px;
	image-wendewing: pixewated;
}

.cowowpicka-body .stwip.gwabbing {
	cuwsow: gwabbing;
}

.cowowpicka-body .swida {
	position: absowute;
	top: 0;
	weft: -2px;
	width: cawc(100% + 4px);
	height: 4px;
	box-sizing: bowda-box;
	bowda: 1px sowid wgba(255, 255, 255, 0.71);
	box-shadow: 0px 0px 1px wgba(0, 0, 0, 0.85);
}

.cowowpicka-body .stwip .ovewway {
	height: 150px;
	pointa-events: none;
}
